In [1]:
# import necessary packages
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
# Read in csvs
#
# Note: In input .csv for missing people had to fix:
# Virgin Islands (to United States Virgin Islands), 
# Tennesse (to Tennessee), and 
# Northern Mariana Islands (to Commonwealth of the Northern Mariana Islands)
#
city_df = pd.read_csv('cities.csv')
county_centroids_df = pd.read_csv('county_centroids.csv')
state_centroids_df = pd.read_csv('state_centroids.csv')
missing_df = pd.read_csv('Missing_04182020.csv')
unclaimed_df = pd.read_csv('Unclaimed_04182020.csv')
unidentified_df = pd.read_csv('Unidentified_04182020.csv')

In [3]:
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020

#### Add in State FIPS column

In [4]:
# make dictionary of states and state FIPS code
state_dict = dict(zip(state_centroids_df.NAME, state_centroids_df.STATEFP))
# state_dict['Alaska']

In [5]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['State_FIPS'] = missing_df['State'].map(state_dict)
# Check unique values in new dataframe field
missing_df['State_FIPS'].unique()

array([ 2,  1,  5,  4,  6,  8,  9, 11, 10, 12, 13, 66, 15, 19, 16, 17, 18,
       20, 21, 22, 25, 24, 23, 26, 27, 29, 69, 28, 30, 37, 38, 31, 33, 34,
       35, 32, 36, 39, 40, 41, 42, 72, 44, 45, 46, 47, 48, 49, 51, 78, 50,
       53, 55, 54, 56], dtype=int64)

In [ ]:
## Check to see what is producing null values
# test_df = missing_df.loc[missing_df['State_FIPS'].isnull()]

In [6]:
# check misisng df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2

#### Add in County FIPS column

In [7]:
# check county dataframe
county_centroids_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325.0,1,-88.999262,37.058489
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777.0,2,-84.217155,38.206742
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044.0,3,-86.681628,37.207292
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335.0,4,-83.964316,37.692451
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793.0,5,-83.696660,38.370126

In [8]:
# Add column with compound field key
county_centroids_df['County_Key'] = county_centroids_df['STATEFP'].astype(str) + "_" + county_centroids_df['NAME']
county_centroids_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,County_Key
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325.0,1,-88.999262,37.058489,21_Ballard
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777.0,2,-84.217155,38.206742,21_Bourbon
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044.0,3,-86.681628,37.207292,21_Butler
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335.0,4,-83.964316,37.692451,21_Estill
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793.0,5,-83.696660,38.370126,21_Fleming

In [9]:
# check unique values and length
county_key_list = county_centroids_df['County_Key'].unique()
len(county_key_list)

3227

In [13]:
# make dictionary of counties and county FIPS code (GEIOD field)
county_dict = dict(zip(county_centroids_df.County_Key, county_centroids_df.GEOID))
county_dict

{'21_Ballard': 21007,
 '21_Bourbon': 21017,
 '21_Butler': 21031,
 '21_Estill': 21065,
 '21_Fleming': 21069,
 '21_Hardin': 21093,
 '21_Hart': 21099,
 '21_Leslie': 21131,
 '21_Madison': 21151,
 '21_Marion': 21155,
 '21_Nelson': 21179,
 '17_Kankakee': 17091,
 '17_Warren': 17187,
 '17_Will': 17197,
 '18_Daviess': 18027,
 '18_Harrison': 18061,
 '1_Autauga': 1001,
 '1_Barbour': 1005,
 '1_Choctaw': 1023,
 '1_Conecuh': 1035,
 '1_Elmore': 1051,
 '1_Etowah': 1055,
 '1_Hale': 1065,
 '1_Madison': 1089,
 '1_Russell': 1113,
 '1_Shelby': 1117,
 '2_Aleutians West': 2016,
 '2_Ketchikan Gateway': 2130,
 '2_Nome': 2180,
 '2_Yakutat': 2282,
 '5_Bradley': 5011,
 '5_Carroll': 5015,
 '5_Clark': 5019,
 '5_Cleveland': 5025,
 '5_Independence': 5063,
 '5_Jackson': 5067,
 '5_Randolph': 5121,
 '6_Alameda': 6001,
 '6_Alpine': 6003,
 '6_Amador': 6005,
 '6_Contra Costa': 6013,
 '6_Fresno': 6019,
 '6_Humboldt': 6023,
 '6_Lake': 6033,
 '6_Los Angeles': 6037,
 '6_Merced': 6047,
 '6_Nevada': 6057,
 '6_San Mateo': 6081,
 '6_Santa Clara': 6085,
 '6_Yuba': 6115,
 '8_Boulder': 8013,
 '8_Delta': 8029,
 '8_Grand': 8049,
 '8_Mesa': 8077,
 '8_Montezuma': 8083,
 '8_Ouray': 8091,
 '9_New Haven': 9009,
 '11_District of Columbia': 11001,
 '12_Brevard': 12009,
 '12_Columbia': 12023,
 '12_Gadsden': 12039,
 '12_Highlands': 12055,
 '12_Jefferson': 12065,
 '12_Leon': 12073,
 '12_Orange': 12095,
 '12_Putnam': 12107,
 '12_Taylor': 12123,
 '12_Volusia': 12127,
 '12_Walton': 12131,
 '12_Washington': 12133,
 '13_Baldwin': 13009,
 '13_Brooks': 13027,
 '13_Effingham': 13103,
 '13_Fulton': 13121,
 '13_Hancock': 13141,
 '13_Heard': 13149,
 '13_Liberty': 13179,
 '13_Long': 13183,
 '13_McDuffie': 13189,
 '13_Montgomery': 13209,
 '13_Pierce': 13229,
 '13_Tattnall': 13267,
 '13_Telfair': 13271,
 '13_Union': 13291,
 '13_Wayne': 13305,
 '13_Wilkinson': 13319,
 '15_Kauai': 15007,
 '16_Boise': 16015,
 '16_Butte': 16023,
 '16_Camas': 16025,
 '16_Canyon': 16027,
 '16_Custer': 16037,
 '16_Elmore': 16039,
 '16_Fremont': 16043,
 '16_Lewis': 16061,
 '16_Lincoln': 16063,
 '16_Valley': 16085,
 '19_Union': 19175,
 '20_Ellsworth': 20053,
 '20_Kingman': 20095,
 '20_Ness': 20135,
 '20_Wallace': 20199,
 '48_Armstrong': 48011,
 '48_Bee': 48025,
 '48_Bosque': 48035,
 '48_Burnet': 48053,
 '48_Caldwell': 48055,
 '48_Coleman': 48083,
 '29_Dade': 29057,
 '29_New Madrid': 29143,
 '29_Perry': 29157,
 '29_St. Louis': 29189,
 '29_Scotland': 29199,
 '29_Stoddard': 29207,
 '30_Chouteau': 30015,
 '30_Deer Lodge': 30023,
 '30_Flathead': 30029,
 '30_Granite': 30039,
 '30_Madison': 30057,
 '30_Phillips': 30071,
 '30_Powell': 30077,
 '30_Roosevelt': 30085,
 '30_Rosebud': 30087,
 '30_Valley': 30105,
 '31_Hooker': 31091,
 '53_Stevens': 53065,
 '21_Owsley': 21189,
 '21_Pike': 21195,
 '21_Taylor': 21217,
 '21_Wolfe': 21237,
 '21_Woodford': 21239,
 '22_Acadia': 22001,
 '22_Avoyelles': 22009,
 '22_Beauregard': 22011,
 '22_Concordia': 22029,
 '22_De Soto': 22031,
 '22_East Baton Rouge': 22033,
 '22_Iberville': 22047,
 '22_Orleans': 22071,
 '22_Red River': 22081,
 '22_St. Martin': 22099,
 '22_Webster': 22119,
 '23_Knox': 23013,
 '23_Lincoln': 23015,
 '24_Anne Arundel': 24003,
 '18_Miami': 18103,
 '18_Posey': 18129,
 '18_Spencer': 18147,
 '19_Adair': 19001,
 '19_Clinton': 19045,
 '19_Hardin': 19083,
 '19_Lee': 19111,
 '31_Stanton': 31167,
 '34_Bergen': 34003,
 '34_Camden': 34007,
 '34_Essex': 34013,
 '34_Middlesex': 34023,
 '34_Warren': 34041,
 '35_Colfax': 35007,
 '35_De Baca': 35011,
 '35_Sierra': 35051,
 '36_Chautauqua': 36013,
 '36_Erie': 36029,
 '36_Herkimer': 36043,
 '36_Jefferson': 36045,
 '36_Kings': 36047,
 '36_Madison': 36053,
 '36_Oneida': 36065,
 '36_Otsego': 36077,
 '36_Queens': 36081,
 '36_Saratoga': 36091,
 '36_Washington': 36115,
 '37_Anson': 37007,
 '37_Caldwell': 37027,
 '37_Cherokee': 37039,
 '37_Craven': 37049,
 '37_Dare': 37055,
 '37_Davie': 37059,
 '37_Franklin': 37069,
 '37_Halifax': 37083,
 '37_Hertford': 37091,
 '37_Hoke': 37093,
 '37_Jackson': 37099,
 '37_McDowell': 37111,
 '37_Martin': 37117,
 '37_Nash': 37127,
 '37_Scotland': 37165,
 '37_Transylvania': 37175,
 '37_Yancey': 37199,
 '38_Cass': 38017,
 '38_Grant': 38037,
 '38_Sioux': 38085,
 '38_Walsh': 38099,
 '39_Cuyahoga': 39035,
 '39_Defiance': 39039,
 '39_Erie': 39043,
 '39_Paulding': 39125,
 '40_Jackson': 40065,
 '48_Crane': 48103,
 '48_El Paso': 48141,
 '48_Fisher': 48151,
 '48_Freestone': 48161,
 '48_Galveston': 48167,
 '48_Hardin': 48199,
 '48_Henderson': 48213,
 '48_Hudspeth': 48229,
 '48_Jasper': 48241,
 '48_Jefferson': 48245,
 '48_Kenedy': 48261,
 '48_Leon': 48289,
 '48_Martin': 48317,
 '48_Mills': 48333,
 '48_Nacogdoches': 48347,
 '48_Orange': 48361,
 '48_Pecos': 48371,
 '48_Robertson': 48395,
 '48_Smith': 48423,
 '48_Starr': 48427,
 '48_Tyler': 48457,
 '48_Walker': 48471,
 '48_Ward': 48475,
 '48_Washington': 48477,
 '48_Wood': 48499,
 '49_Beaver': 49001,
 '49_Box Elder': 49003,
 '49_Davis': 49011,
 '40_Kingfisher': 40073,
 '40_Le Flore': 40079,
 '40_Wagoner': 40145,
 '41_Clackamas': 41005,
 '41_Gilliam': 41021,
 '41_Josephine': 41033,
 '41_Klamath': 41035,
 '41_Lane': 41039,
 '41_Linn': 41043,
 '41_Multnomah': 41051,
 '41_Sherman': 41055,
 '41_Union': 41061,
 '42_Armstrong': 42005,
 '42_Chester': 42029,
 '42_Clinton': 42035,
 '42_Greene': 42059,
 '42_Juniata': 42067,
 '42_Montgomery': 42091,
 '42_Somerset': 42111,
 '45_Allendale': 45005,
 '45_Charleston': 45019,
 '45_Chesterfield': 45025,
 '45_Georgetown': 45043,
 '45_Lexington': 45063,
 '45_Pickens': 45077,
 '45_York': 45091,
 '46_Jerauld': 46073,
 '46_Meade': 46093,
 '46_Mellette': 46095,
 '46_Tripp': 46123,
 '47_Anderson': 47001,
 '47_Bedford': 47003,
 '47_Benton': 47005,
 '47_Carter': 47019,
 '47_Cocke': 47029,
 '47_Fentress': 47049,
 '47_Hamblen': 47063,
 '47_Hawkins': 47073,
 '47_Hickman': 47081,
 '47_Lauderdale': 47097,
 '47_Meigs': 47121,
 '47_Rutherford': 47149,
 '47_Union': 47173,
 '48_Aransas': 48007,
 '25_Barnstable': 25001,
 '25_Hampden': 25013,
 '25_Suffolk': 25025,
 '26_Chippewa': 26033,
 '26_Gogebic': 26053,
 '26_Huron': 26063,
 '26_Mackinac': 26097,
 '26_Monroe': 26115,
 '13_Treutlen': 13283,
 '13_Twiggs': 13289,
 '13_Whitfield': 13313,
 '13_Wilkes': 13317,
 '15_Hawaii': 15001,
 '15_Maui': 15009,
 '16_Lemhi': 16059,
 '16_Owyhee': 16073,
 '16_Twin Falls': 16083,
 '16_Washington': 16087,
 '17_Clinton': 17027,
 '17_Cook': 17031,
 '17_Edwards': 17047,
 '49_Morgan': 49029,
 '49_Salt Lake': 49035,
 '49_Summit': 49043,
 '49_Utah': 49049,
 '51_Augusta': 51015,
 '51_Charlotte': 51037,
 '51_Dickenson': 51051,
 '51_Dinwiddie': 51053,
 '51_Frederick': 51069,
 '51_Gloucester': 51073,
 '51_Hanover': 51085,
 '51_King George': 51099,
 '51_Nelson': 51125,
 '51_Northampton': 51131,
 '51_Orange': 51137,
 '51_Powhatan': 51145,
 '51_Prince George': 51149,
 '51_Roanoke': 51161,
 '51_Spotsylvania': 51177,
 '51_Tazewell': 51185,
 '51_York': 51199,
 '53_Benton': 53005,
 '53_Chelan': 53007,
 '53_Clallam': 53009,
 '53_Cowlitz': 53015,
 '53_Grant': 53025,
 '53_Jefferson': 53031,
 '53_Kittitas': 53037,
 '53_Lincoln': 53043,
 '12_Liberty': 12077,
 '72_Florida': 72054,
 '72_Ponce': 72113,
 '72_Quebradillas': 72115,
 '72_Utuado': 72141,
 '72_Vieques': 72147,
 '78_St. Croix': 78010,
 '78_St. John': 78020,
 '5_Howard': 5061,
 '5_Mississippi': 5093,
 '5_Monroe': 5095,
 '5_Nevada': 5099,
 '5_Ouachita': 5103,
 '5_Pike': 5109,
 '5_Prairie': 5117,
 '5_Sevier': 5133,
 '5_Woodruff': 5147,
 '6_Mendocino': 6045,
 '6_Mono': 6051,
 '24_Caroline': 24011,
 "24_Prince George's": 24033,
 '24_Washington': 24043,
 '25_Dukes': 25007,
 '25_Middlesex': 25017,
 '26_Delta': 26041,
 '26_Macomb': 26099,
 '26_Marquette': 26103,
 '26_Oscoda': 26135,
 '26_St. Clair': 26147,
 '26_Wayne': 26163,
 '27_Chippewa': 27023,
 '27_Hennepin': 27053,
 '27_Lake of the Woods': 27077,
 '27_Martin': 27091,
 '27_Renville': 27129,
 '27_Scott': 27139,
 '27_Washington': 27163,
 '28_Attala': 28007,
 '28_DeSoto': 28033,
 '28_Issaquena': 28055,
 '28_Lauderdale': 28075,
 '28_Tunica': 28143,
 '28_Wilkinson': 28157,
 '28_Yazoo': 28163,
 '29_Butler': 29023,
 '29_Camden': 29029,
 '29_Cape Girardeau': 29031,
 '29_Carroll': 29033,
 '17_Iroquois': 17075,
 '17_Menard': 17129,
 '17_Rock Island': 17161,
 '17_Stark': 17175,
 '17_Wabash': 17185,
 '18_Blackford': 18009,
 '18_Delaware': 18035,
 '18_Howard': 18067,
 '18_Knox': 18083,
 '18_Tipton': 18159,
 '18_Washington': 18175,
 '49_Kane': 49025,
 '5_Ashley': 5003,
 '5_Benton': 5007,
 '5_Calhoun': 5013,
 '5_Faulkner': 5045,
 '13_Chatham': 13051,
 '13_Coweta': 13077,
 '13_Gilmer': 13123,
 '13_Greene': 13133,
 '13_Habersham': 13137,
 '13_Hall': 13139,
 '13_Haralson': 13143,
 '13_Jackson': 13157,
 '13_Lamar': 13171,
 '13_Lincoln': 13181,
 '13_Lowndes': 13185,
 '13_Madison': 13195,
 '13_Murray': 13213,
 '13_Newton': 13217,
 '13_Putnam': 13237,
 '13_Richmond': 13245,
 '13_Screven': 13251,
 '13_Taylor': 13269,
 '13_Toombs': 13279,
 '23_Sagadahoc': 23023,
 '23_York': 23031,
 '24_Allegany': 24001,
 '24_Baltimore': 24005,
 '24_Charles': 24017,
 '24_Frederick': 24021,
 '24_Montgomery': 24031,
 '24_Wicomico': 24045,
 '28_Warren': 28149,
 '28_Washington': 28151,
 '29_Chariton': 29041,
 '29_Dunklin': 29069,
 '29_Holt': 29087,
 '29_Lincoln': 29113,
 '29_Pettis': 29159,
 '29_St. Charles': 29183,
 '29_Saline': 29195,
 '29_Schuyler': 29197,
 '29_Scott': 29201,
 '30_Beaverhead': 30001,
 '30_Cascade': 30013,
 '30_Fergus': 30027,
 '30_Gallatin': 30031,
 '30_Judith Basin': 30045,
 '30_Lewis and Clark': 30049,
 '30_McCone': 30055,
 '30_Meagher': 30059,
 '30_Petroleum': 30069,
 '30_Pondera': 30073,
 '30_Richland': 30083,
 '30_Teton': 30099,
 '31_Keya Paha': 31103,
 '31_Saline': 31151,
 '32_Churchill': 32001,
 '32_Clark': 32003,
 '32_Lander': 32015,
 '33_Coos': 33007,
 '33_Rockingham': 33015,
 '33_Strafford': 33017,
 '34_Atlantic': 34001,
 '34_Burlington': 34005,
 '34_Gloucester': 34015,
 '34_Hunterdon': 34019,
 '34_Mercer': 34021,
 '34_Monmouth': 34025,
 '34_Ocean': 34029,
 '34_Somerset': 34035,
 '21_Washington': 21229,
 '21_Wayne': 21231,
 '22_East Carroll': 22035,
 '22_Iberia': 22045,
 '22_Jefferson Davis': 22053,
 '22_Lafayette': 22055,
 '6_Napa': 6055,
 '6_Orange': 6059,
 '6_San Benito': 6069,
 '6_San Diego': 6073,
 '6_San Luis Obispo': 6079,
 '6_Santa Barbara': 6083,
 '6_Sonoma': 6097,
 '6_Sutter': 6101,
 '6_Tulare': 6107,
 '6_Yolo': 6113,
 '8_Clear Creek': 8019,
 '8_Costilla': 8023,
 '8_Denver': 8031,
 '8_Eagle': 8037,
 '8_Huerfano': 8055,
 '1_DeKalb': 1049,
 '1_Greene': 1063,
 '1_Macon': 1087,
 '1_Marengo': 1091,
 '1_Marshall': 1095,
 '1_Montgomery': 1101,
 '1_Pickens': 1107,
 '1_St. Clair': 1115,
 '1_Sumter': 1119,
 '1_Wilcox': 1131,
 '2_Fairbanks North Star': 2090,
 '2_Kusilvak': 2158,
 '2_Southeast Fairbanks': 2240,
 '4_Coconino': 4005,
 '4_Graham': 4009,
 '4_Maricopa': 4013,
 '54_Barbour': 54001,
 '54_Boone': 54005,
 '54_Gilmer': 54021,
 '54_Kanawha': 54039,
 '54_Logan': 54045,
 '54_McDowell': 54047,
 '54_Monroe': 54063,
 '54_Nicholas': 54067,
 '54_Roane': 54087,
 '54_Wood': 54107,
 '55_Ashland': 55003,
 '55_Grant': 55043,
 '55_Sawyer': 55113,
 '56_Park': 56029,
 '60_Eastern': 60010,
 "60_Manu'a": 60020,
 '69_Northern Islands': 69085,
 '69_Rota': 69100,
 '69_Saipan': 69110,
 '72_Cabo Rojo': 72023,
 '72_Carolina': 72031,
 '72_Ceiba': 72037,
 '72_Ciales': 72039,
 '72_Fajardo': 72053,
 '12_Miami-Dade': 12086,
 '12_Okeechobee': 12093,
 '12_Osceola': 12097,
 '13_Bibb': 13021,
 '13_Bryan': 13029,
 '39_Putnam': 39137,
 '39_Wyandot': 39175,
 '40_Bryan': 40013,
 '40_Cleveland': 40027,
 '40_Harmon': 40057,
 '40_Jefferson': 40067,
 '40_Kiowa': 40075,
 '40_Marshall': 40095,
 '40_Pottawatomie': 40125,
 '40_Sequoyah': 40135,
 '40_Tulsa': 40143,
 '27_Big Stone': 27011,
 '27_Blue Earth': 27013,
 '27_Cook': 27031,
 '27_Itasca': 27061,
 '27_Lac qui Parle': 27073,
 '27_Lake': 27075,
 '27_Marshall': 27089,
 '27_Morrison': 27097,
 '27_Redwood': 27127,
 '27_Waseca': 27161,
 '27_Wright': 27171,
 '28_Adams': 28001,
 '28_Bolivar': 28011,
 '28_Copiah': 28029,
 '28_Grenada': 28043,
 '28_Leflore': 28083,
 '28_Lowndes': 28087,
 '28_Noxubee': 28103,
 '28_Rankin': 28121,
 '35_Eddy': 35015,
 '35_Rio Arriba': 35039,
 '35_San Juan': 35045,
 '35_Taos': 35055,
 '36_Delaware': 36025,
 '36_Essex': 36031,
 '36_Suffolk': 36103,
 '36_Sullivan': 36105,
 '36_Westchester': 36119,
 '36_Yates': 36123,
 '37_Ashe': 37009,
 '37_Beaufort': 37013,
 '37_Bladen': 37017,
 '37_Burke': 37023,
 '37_Chatham': 37037,
 '37_Clay': 37043,
 '37_Currituck': 37053,
 '37_Davidson': 37057,
 '37_Edgecombe': 37065,
 '37_Graham': 37075,
 '37_Harnett': 37085,
 '37_Henderson': 37089,
 '37_Hyde': 37095,
 '37_Jones': 37103,
 '37_Madison': 37115,
 '37_Montgomery': 37123,
 '28_Tishomingo': 28141,
 '42_Perry': 42099,
 '42_Pike': 42103,
 '42_Wayne': 42127,
 '42_York': 42133,
 '48_San Saba': 48411,
 '48_Stephens': 48429,
 '48_Titus': 48449,
 '48_Travis': 48453,
 '48_Trinity': 48455,
 '48_Van Zandt': 48467,
 '48_Waller': 48473,
 '48_Webb': 48479,
 '49_Rich': 49033,
 '49_Tooele': 49045,
 '49_Uintah': 49047,
 '49_Wasatch': 49051,
 '50_Orange': 50017,
 '50_Windsor': 50027,
 '51_Amelia': 51007,
 '51_Bath': 51017,
 '51_Bedford': 51019,
 '51_Botetourt': 51023,
 '51_Caroline': 51033,
 '51_Charles City': 51036,
 '51_Chesterfield': 51041,
 '51_Essex': 51057,
 '51_Franklin': 51067,
 '51_Halifax': 51083,
 '51_Highland': 51091,
 '51_James City': 51095,
 '51_Loudoun': 51107,
 '51_Lunenburg': 51111,
 '51_New Kent': 51127,
 '51_Northumberland': 51133,
 '51_Pittsylvania': 51143,
 '51_Richmond': 51159,
 '51_Rockingham': 51165,
 '51_Southampton': 51175,
 '51_Stafford': 51179,
 '51_Warren': 51187,
 '53_Okanogan': 53047,
 '53_Pacific': 53049,
 '53_Pierce': 53053,
 '53_Snohomish': 53061,
 '53_Walla Walla': 53071,
 '53_Whatcom': 53073,
 '54_Calhoun': 54013,
 '54_Doddridge': 54017,
 '54_Fayette': 54019,
 '54_Grant': 54023,
 '54_Hampshire': 54027,
 '54_Harrison': 54033,
 '54_Jefferson': 54037,
 '54_Lincoln': 54043,
 '54_Morgan': 54065,
 '54_Pendleton': 54071,
 '54_Raleigh': 54081,
 '54_Tucker': 54093,
 '54_Tyler': 54095,
 '37_Onslow': 37133,
 '37_Pamlico': 37137,
 '37_Polk': 37149,
 '37_Richmond': 37153,
 '37_Rutherford': 37161,
 '37_Sampson': 37163,
 '37_Tyrrell': 37177,
 '38_Benson': 38005,
 '38_Golden Valley': 38033,
 '38_McKenzie': 38053,
 '38_Morton': 38059,
 '38_Pembina': 38067,
 '38_Ramsey': 38071,
 '22_Morehouse': 22067,
 '22_Natchitoches': 22069,
 '22_Rapides': 22079,
 '22_St. Landry': 22097,
 '22_Tensas': 22107,
 '22_Vermilion': 22113,
 '22_Washington': 22117,
 '22_West Carroll': 22123,
 '23_Franklin': 23007,
 '8_Lake': 8065,
 '8_Las Animas': 8071,
 '8_Park': 8093,
 '8_Rio Grande': 8105,
 '8_San Miguel': 8113,
 '9_Fairfield': 9001,
 '9_Middlesex': 9007,
 '9_New London': 9011,
 '10_Sussex': 10005,
 '12_Escambia': 12033,
 '12_Franklin': 12037,
 '12_Gilchrist': 12041,
 '12_Hamilton': 12047,
 '12_Hernando': 12053,
 '12_Lee': 12071,
 '19_Audubon': 19009,
 '19_Carroll': 19027,
 '19_Grundy': 19075,
 '19_Linn': 19113,
 '19_Palo Alto': 19147,
 '19_Worth': 19195,
 '20_Gray': 20069,
 '20_Ottawa': 20143,
 '20_Sherman': 20181,
 '21_Anderson': 21005,
 '21_Breathitt': 21025,
 '21_Bullitt': 21029,
 '21_Caldwell': 21033,
 '21_Carter': 21043,
 '21_Clark': 21049,
 '21_Elliott': 21063,
 '21_Floyd': 21071,
 '21_Grayson': 21085,
 '21_Harrison': 21097,
 '21_Jackson': 21109,
 '21_Knott': 21119,
 '21_Laurel': 21125,
 '21_Lewis': 21135,
 '21_Livingston': 21139,
 '21_Magoffin': 21153,
 '21_Martin': 21159,
 '21_Mercer': 21167,
 '21_Nicholas': 21181,
 '21_Ohio': 21183,
 '21_Perry': 21193,
 '21_Powell': 21197,
 '21_Rowan': 21205,
 '54_Wyoming': 54109,
 '55_Crawford': 55023,
 '55_Florence': 55037,
 '55_Iron': 55051,
 '55_Lincoln': 55069,
 '55_Marinette': 55075,
 '55_Sauk': 55111,
 '41_Clatsop': 41007,
 '41_Deschutes': 41017,
 '41_Douglas': 41019,
 '41_Wasco': 41065,
 '42_Allegheny': 42003,
 '42_Centre': 42027,
 '42_Clearfield': 42033,
 '42_Cumberland': 42041,
 '42_Delaware': 42045,
 '42_Fayette': 42051,
 '42_Huntingdon': 42061,
 '42_Lancaster': 42071,
 '42_Monroe': 42089,
 '42_Northampton': 42095,
 '51_Floyd': 51063,
 '51_Henrico': 51087,
 '53_Yakima': 53077,
 '45_Clarendon': 45027,
 '45_Greenwood': 45047,
 '1_Cullman': 1043,
 '45_Colleton': 45029,
 '45_Newberry': 45071,
 '46_Hutchinson': 46067,
 '1_Colbert': 1033,
 '2_Bethel': 2050,
 '4_Gila': 4007,
 '5_Dallas': 5039,
 '6_Madera': 6039,
 '8_Fremont': 8043,
 '12_Calhoun': 12013,
 '12_Lake': 12069,
 '12_Wakulla': 12129,
 '13_Oconee': 13219,
 '16_Clearwater': 16035,
 '16_Nez Perce': 16069,
 '17_Pulaski': 17153,
 '18_Jackson': 18071,
 '19_Henry': 19087,
 '21_Allen': 21003,
 '21_Clay': 21051,
 '21_Menifee': 21165,
 '46_Lyman': 46085,
 '47_Grainger': 47057,
 '2_Petersburg': 2195,
 '6_Calaveras': 6009,
 '8_Pitkin': 8097,
 '13_Baker': 13007,
 '21_Crittenden': 21055,
 '22_Caddo': 22017,
 '22_Vernon': 22115,
 '26_Otsego': 26137,
 '29_Boone': 29019,
 '30_Blaine': 30005,
 '37_Camden': 37029,
 '40_McCurtain': 40089,
 '41_Grant': 41023,
 '46_Stanley': 46117,
 '47_Johnson': 47091,
 '39_Fayette': 39047,
 '39_Hamilton': 39061,
 '39_Lucas': 39095,
 '45_Kershaw': 45055,
 '45_Laurens': 45059,
 '45_Marlboro': 45069,
 '45_Oconee': 45073,
 '45_Spartanburg': 45083,
 '45_Williamsburg': 45089,
 '46_Bon Homme': 46009,
 '6_Mariposa': 6043,
 '6_Solano': 6095,
 '8_Douglas': 8035,
 '10_New Castle': 10003,
 '12_Madison': 12079,
 '12_Santa Rosa': 12113,
 '13_Appling': 13001,
 '13_Crawford': 13079,
 '13_Gwinnett': 13135,
 '13_White': 13311,
 '47_McMinn': 47107,
 '47_Marshall': 47117,
 '47_Monroe': 47123,
 '47_Rhea': 47143,
 '47_Scott': 47151,
 '47_Sevier': 47155,
 '47_Shelby': 47157,
 '47_Sumner': 47165,
 '47_Tipton': 47167,
 '47_White': 47185,
 '47_Wilson': 47189,
 '48_Anderson': 48001,
 '48_Angelina': 48005,
 '48_Bexar': 48029,
 '48_Bowie': 48037,
 '48_Brewster': 48043,
 '48_Burleson': 48051,
 '48_Calhoun': 48057,
 '48_Cass': 48067,
 '48_Comal': 48091,
 '48_Culberson': 48109,
 '48_Delta': 48119,
 '48_Glasscock': 48173,
 '48_Guadalupe': 48187,
 '48_Hartley': 48205,
 '48_Hidalgo': 48215,
 '48_Houston': 48225,
 '48_Kent': 48263,
 '48_Kleberg': 48273,
 '48_Lee': 48287,
 '48_Loving': 48301,
 '48_McMullen': 48311,
 '48_Marion': 48315,
 '48_Montgomery': 48339,
 '48_Morris': 48343,
 '48_Navarro': 48349,
 '48_Polk': 48373,
 '48_Presidio': 48377,
 '48_Reagan': 48383,
 '48_San Augustine': 48405,
 '48_San Jacinto': 48407,
 '46_Dewey': 46041,
 '46_Jackson': 46071,
 '46_Jones': 46075,
 '46_Lake': 46079,
 '46_Union': 46127,
 '47_Campbell': 47013,
 '47_Cheatham': 47021,
 '47_Coffee': 47031,
 '47_Cumberland': 47035,
 '47_Davidson': 47037,
 '47_DeKalb': 47041,
 '47_Hamilton': 47065,
 '47_Jefferson': 47089,
 '56_Big Horn': 56003,
 '56_Fremont': 56013,
 '56_Platte': 56031,
 '56_Sublette': 56035,
 '1_Crenshaw': 1041,
 '2_Haines': 2100,
 '4_Apache': 4001,
 '5_Arkansas': 5001,
 '5_Conway': 5029,
 '5_Hempstead': 5057,
 '39_Morgan': 39115,
 '40_Osage': 40113,
 '41_Curry': 41015,
 '42_Erie': 42049,
 '42_Philadelphia': 42101,
 '45_Bamberg': 45009,
 '45_Lancaster': 45057,
 '45_Union': 45087,
 '47_Claiborne': 47025,
 '47_Gibson': 47053,
 '47_Perry': 47135,
 '47_Sullivan': 47163,
 '48_Colorado': 48089,
 '48_Ector': 48135,
 '48_Harrison': 48203,
 '48_Maverick': 48323,
 '48_Newton': 48351,
 '48_Rains': 48379,
 '48_San Patricio': 48409,
 '48_Val Verde': 48465,
 '49_Carbon': 49007,
 '49_Grand': 49019,
 '51_Alleghany': 51005,
 '51_Buckingham': 51029,
 '51_Henry': 51089,
 '51_Patrick': 51141,
 '51_Westmoreland': 51193,
 '53_Clark': 53011,
 '53_Mason': 53045,
 '54_Greenbrier': 54025,
 '55_Adams': 55001,
 '72_Mayagüez': 72097,
 '72_Yabucoa': 72151,
 '8_Custer': 8027,
 '8_Gunnison': 8051,
 '5_Desha': 5041,
 '13_Sumter': 13261,
 '18_Wells': 18179,
 '22_Union': 22111,
 '23_Aroostook': 23003,
 '40_Seminole': 40133,
 '35_Guadalupe': 35019,
 '37_Lee': 37105,
 '37_Moore': 37125,
 '19_Cherokee': 19035,
 '20_Comanche': 20033,
 '20_Pottawatomie': 20149,
 '21_Breckinridge': 21027,
 '21_McCreary': 21147,
 '21_Morgan': 21175,
 '22_Ascension': 22005,
 '22_Bossier': 22015,
 '22_Catahoula': 22025,
 '22_East Feliciana': 22037,
 '22_St. Helena': 22091,
 '22_Terrebonne': 22109,
 '24_Kent': 24029,
 '24_Worcester': 24047,
 '26_Grand Traverse': 26055,
 '27_Brown': 27015,

In [11]:
# check missing df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2

In [12]:
# Add column with compound field key
missing_df['State_County'] = missing_df['State_FIPS'].astype(str) + "_" + missing_df['County']
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2,2_Aleutians West
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2,2_Matanuska-Susitna
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2,2_Sitka
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2,2_Kodiak Island
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2,2_Kodiak Island

In [14]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['County_FIPS'] = missing_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
missing_df['County_FIPS'].unique()

array([ 2016.,  2170.,  2220., ..., 56015., 56021., 56019.])

In [23]:
test2_df = missing_df.loc[missing_df['County_FIPS'].isnull()]
test2_df.shape

(193, 14)

In [25]:
test2_df.to_csv('county_nulls.csv')

In [15]:
# check missing_df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2,2_Aleutians West,2016.0
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2,2_Matanuska-Susitna,2170.0
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2,2_Sitka,2220.0
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2,2_Kodiak Island,2150.0
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2,2_Kodiak Island,2150.0