TO DO:
1. Fix counties for unclaimed
2. Fix counties for unidentified
3. Re-export state-level json (now that county fields have been updated within the databases and American Samoa has been removed)
4. Export county-level json - 
    * any records with no county get pulled (either into separate geojson, or to separate state FIPS with no county key and nonsense coordinates [south pole])
    * make sure state name included as field with each database, not just FIPS code

In [76]:
# import necessary packages
import pandas as pd
import geopandas as gpd
import numpy as np
import json
import geojson

1. rework state data - also have FIPS
2. finish cleaning county data
3. format county data - Name and county FIPS code
2. see how bad city data would be

Notes:
1. Edits to Missing_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands), 
  * Tennesse (to Tennessee), and 
  * Northern Mariana Islands (to Commonwealth of the Northern Mariana Islands)
2. Edits to Unidentified_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands)

In [77]:
# Read in csvs
city_df = pd.read_csv('cities.csv')

In [78]:
county_centroids_df = pd.read_csv('county_centroids.csv', encoding='Windows-1252')

In [79]:
state_centroids_df = pd.read_csv('state_centroids.csv')

In [80]:
missing_df = pd.read_csv('Missing_04182020.csv')

In [81]:
unclaimed_df = pd.read_csv('Unclaimed_04182020.csv')

In [82]:
unidentified_df = pd.read_csv('Unidentified_04182020.csv')

In [83]:
# check dataframe
state_centroids_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,28,1779790,0400000US28,28,MS,Mississippi,0,1.215340e+11,3.926920e+09,1,-89.665425,32.751473
1,2,37,1027616,0400000US37,37,NC,North Carolina,0,1.259240e+11,1.346607e+10,2,-79.380052,35.542238
2,3,40,1102857,0400000US40,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486
3,4,51,1779803,0400000US51,51,VA,Virginia,0,1.022580e+11,8.528532e+09,4,-78.883285,37.512967
4,5,54,1779805,0400000US54,54,WV,West Virginia,0,6.226647e+10,4.890285e+08,5,-80.613731,38.642587

# PART 1: Summary data (count for all 3 databases, by state)

### 1/4: Get count of missing person cases

In [ ]:
missing_count = missing_df.groupby('State').count()
len(missing_count)
missing_count.head()

In [ ]:
# Remove all columns except case number count
missing_count = missing_count.drop(columns=['DLC','Last Name', 'First Name', 'Missing Age', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
missing_count['State'] = missing_count.index

In [ ]:
# rename case number count column
missing_count = missing_count.rename(columns = {'Case Number': 'Missing_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
missing_count.head()

In [ ]:
# make dictionary of states and missing person counts
missing_dict = dict(zip(missing_count.State, missing_count.Missing_CaseCount))
len(missing_dict)
# missing_dict

### 2/4: Get count of unclaimed persons

In [ ]:
unclaimed_count = unclaimed_df.groupby('State').count()
# len(unclaimed_count)
unclaimed_count.head()

In [ ]:
# Remove all columns except case number count
unclaimed_count = unclaimed_count.drop(columns=['DBF','Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
unclaimed_count['State'] = unclaimed_count.index

In [ ]:
# rename case number count column
unclaimed_count = unclaimed_count.rename(columns = {'Case Number': 'Unclaimed_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
unclaimed_count.head()

In [ ]:
# make dictionary of states and unclaimed case counts
unclaimed_dict = dict(zip(unclaimed_count.State, unclaimed_count.Unclaimed_CaseCount))
len(unclaimed_dict)
# unclaimed_dict

### 3/4: Get count of unidentified persons

In [ ]:
unidentified_count = unidentified_df.groupby('State').count()
# len(unidentified_count)
unidentified_count.head()

In [ ]:
# Remove all columns except case number count
unidentified_count = unidentified_count.drop(columns=['DBF','Age From', 'Age To', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
unidentified_count['State'] = unidentified_count.index

In [ ]:
# rename case number count column
unidentified_count = unidentified_count.rename(columns = {'Case Number': 'Unidentified_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
unidentified_count.head()

In [ ]:
# make dictionary of states and unidentified case counts
unidentified_dict = dict(zip(unidentified_count.State, unidentified_count.Unidentified_CaseCount))
len(unidentified_dict)
# unidentified_dict

### 4/4: Make summary dataframe

In [ ]:
# make a new summary dataframe based on the state centroids
summary_df = state_centroids_df
# sort by state name
summary_df = summary_df.sort_values(by=['NAME'])
summary_df.head()

In [ ]:
len(summary_df)

#### 4a: Add Missing Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the missing_dict, to pull the correct missing case count for each state
summary_df['Missing_Count'] = summary_df['NAME'].map(missing_dict)
summary_df.head()

In [ ]:
# Check null values [NOTE: seems fine to have nulls]
missing_null_df = summary_df.loc[summary_df['Missing_Count'].isnull()]
missing_null_df

#### 4b: Add Unclaimed Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the unclaimed_dict, to pull the correct unclaimed case count for each state
summary_df['Unclaimed_Count'] = summary_df['NAME'].map(unclaimed_dict)
summary_df.head()

In [ ]:
# Check null values [NOTE: seems fine to have nulls]
unclaimed_null_df = summary_df.loc[summary_df['Unclaimed_Count'].isnull()]
unclaimed_null_df

#### 4b: Add Unidentified Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the unidentified_dict, to pull the correct unidentified case count for each state
summary_df['Unidentified_Count'] = summary_df['NAME'].map(unidentified_dict)
summary_df.head()

In [ ]:
# Check null values [NOTE: seems fine to have nulls]
unidentified_null_df = summary_df.loc[summary_df['Unidentified_Count'].isnull()]
unidentified_null_df

#### 4c: Add column for total count of cases in all three databases for each state

In [ ]:
summary_df['Total_Count'] = summary_df.iloc[:, -4:-1].sum(axis=1)
summary_df.head(20)

#### 4c: Convert to geodataframe and export as GeoJSON

In [ ]:
# check final summary_df
summary_df.head()

In [ ]:
# Convert dataframe to geodataframe
summary_gdf = gpd.GeoDataFrame(summary_df, geometry=gpd.points_from_xy(x=summary_df.Lon_dd, y=summary_df.Lat_dd))
summary_gdf.head()

In [ ]:
# write to geoJSON
summary_gdf.to_file("JSON/summary_counts.json", driver="GeoJSON", encoding='utf-8')

# Part 2 - Get state-level GeoJSON with data from all 3 databases

### 2a: Add in State FIPS column to each database dataframe

In [84]:
# make dictionary of states and state FIPS code
state_dict = dict(zip(state_centroids_df.NAME, state_centroids_df.STATEFP))
state_dict
# state_dict['Alaska']
# len(state_dict)

{'Mississippi': 28,
 'North Carolina': 37,
 'Oklahoma': 40,
 'Virginia': 51,
 'West Virginia': 54,
 'Louisiana': 22,
 'Michigan': 26,
 'Massachusetts': 25,
 'Idaho': 16,
 'Florida': 12,
 'Nebraska': 31,
 'Washington': 53,
 'New Mexico': 35,
 'Puerto Rico': 72,
 'South Dakota': 46,
 'Texas': 48,
 'California': 6,
 'Alabama': 1,
 'Georgia': 13,
 'Pennsylvania': 42,
 'Missouri': 29,
 'Colorado': 8,
 'Utah': 49,
 'Tennessee': 47,
 'Wyoming': 56,
 'New York': 36,
 'Kansas': 20,
 'Alaska': 2,
 'Nevada': 32,
 'Illinois': 17,
 'Vermont': 50,
 'Montana': 30,
 'Iowa': 19,
 'South Carolina': 45,
 'New Hampshire': 33,
 'Arizona': 4,
 'District of Columbia': 11,
 'American Samoa': 60,
 'United States Virgin Islands': 78,
 'New Jersey': 34,
 'Maryland': 24,
 'Maine': 23,
 'Hawaii': 15,
 'Delaware': 10,
 'Guam': 66,
 'Commonwealth of the Northern Mariana Islands': 69,
 'Rhode Island': 44,
 'Kentucky': 21,
 'Ohio': 39,
 'Wisconsin': 55,
 'Oregon': 41,
 'North Dakota': 38,
 'Arkansas': 5,
 'Indiana': 18,
 'Minnesota': 27,
 'Connecticut': 9}

#### 1/3: add state FIPS codes to missing persons dataframe

In [85]:
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [86]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['State_FIPS'] = missing_df['State'].map(state_dict)
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

In [87]:
# Check unique values in new dataframe field
missing_df['State_FIPS'].unique()

array([ 1,  2,  4,  5,  6,  8, 69,  9, 10, 11, 12, 13, 66, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 72, 44, 45, 46, 47, 48, 78, 49, 50, 51,
       53, 54, 55, 56], dtype=int64)

In [88]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
# mis_test_df = missing_df.loc[missing_df['State_FIPS'].isnull()]
# mis_test_df.head()

In [89]:
# check missing df
missing_df.head()
# len(missing_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

#### 2/3: add state FIPS codes to unclaimed persons dataframe

In [90]:
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20

In [91]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unclaimed_df['State_FIPS'] = unclaimed_df['State'].map(state_dict)
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0

In [92]:
# Check unique values in new dataframe field
unclaimed_df['State_FIPS'].unique()

array([17., 36., 25.,  6., 53., 15., 32., 16., 48., 49., 47., 11., 33.,
       35., 40., 42., 39., 29.,  5., 13.,  1., 34.,  4., 12., 55.,  9.,
        8., 26., 22., 18., 19., 41., 23., nan, 45., 56., 54., 51.,  2.,
       28., 21., 37., 10., 38.])

In [93]:
## If any nulls, check to see what is producing null values [NOTE: cannot be addressed, as these cases do not have a state or county assigned]
unc_test_df = unclaimed_df.loc[unclaimed_df['State_FIPS'].isnull()]
unc_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
3380,UCP5339,12/3/16,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/18,NaN
4774,UCP2489,3/26/15,Lupien,Daryl,Male,NaN,NaN,NaN,NaN,8/18/16,NaN
5023,UCP4001,11/2/14,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
5883,UCP3962,3/22/10,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/17,NaN
5950,UCP3937,12/7/09,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
6183,UCP3901,1/21/09,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
6341,UCP3689,6/5/08,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,NaN
6560,UCP3824,7/2/07,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/17,NaN
6698,UCP3672,9/22/06,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,NaN
6719,UCP3668,8/5/06,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,NaN
6726,UCP3661,7/15/06,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,NaN
6910,UCP3543,3/21/05,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/17,NaN
7009,UCP3500,5/5/04,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/17,NaN
7033,UCP4032,2/11/04,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/17,NaN
7067,UCP3332,10/15/03,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,NaN
7069,UCP3326,10/9/03,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/17,NaN
7071,UCP4497,10/8/03,Gonzalez Enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/17,NaN
7085,UCP3315,9/8/03,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,NaN
7170,UCP3252,11/24/02,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/17,NaN
7260,UCP992,7/30/99,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/20,NaN
8144,UCP771,NaN,Garcia,Richard,Male,NaN,NaN,NaN,NaN,4/19/19,NaN

#### 3/3: add state FIPS codes to unidentified persons dataframe

In [94]:
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020

In [95]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unidentified_df['State_FIPS'] = unidentified_df['State'].map(state_dict)
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40

In [96]:
# Check unique values in new dataframe field
unidentified_df['State_FIPS'].unique()

array([36, 41, 40, 49, 47, 48,  9,  4, 17, 32, 53, 24, 45, 34, 26, 30, 12,
       72, 29, 21,  6,  8, 35, 13, 15,  2,  1, 37, 25, 54, 42, 22, 28, 51,
        5, 39, 16, 33, 55, 18, 20, 31, 11, 10, 27, 23, 50, 38, 44, 46, 56,
       19, 66, 78], dtype=int64)

In [97]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
# uni_test_df = unidentified_df.loc[unidentified_df['State_FIPS'].isnull()]
# uni_test_df.head()

### Construct GeoJSON with correct structure

Goal format:
{
"type": "Feature",
    "name": "Wisconsin",
    "properties": {
        "missing": [ ],
        "unclaimed": [ ],
        "unidentified": [ ],
        "filtered": [ ]
    }
    "geometry": {
          "type": "Point",
          "coordinates": [
            -117.79750667,
            36.03755926
          ]
}
* each array will be a list of dictionaries. Each dictionary = one case. Keys = headers

In [23]:
# get headers
missing_header = list(missing_df.columns.values)
print("missing header:", missing_header)
unclaimed_header = list(unclaimed_df.columns.values)
print("unclaimed header:", unclaimed_header)
unidentified_header = list(unidentified_df.columns.values)
print("unidentified header:", unidentified_header)

missing header: ['Case Number', 'DLC', 'Last Name', 'First Name', 'Missing Age', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS']
unclaimed header: ['Case Number', 'DBF', 'Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'State', 'Date Modified', 'State_FIPS']
unidentified header: ['Case Number', 'DBF', 'Age From', 'Age To', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS']

In [24]:
# check df
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40

In [25]:
# check data types
# type(missing_df['Missing Age'][0])

In [26]:
# check centroids
state_centroids_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,28,1779790,0400000US28,28,MS,Mississippi,0,1.215340e+11,3.926920e+09,1,-89.665425,32.751473
1,2,37,1027616,0400000US37,37,NC,North Carolina,0,1.259240e+11,1.346607e+10,2,-79.380052,35.542238
2,3,40,1102857,0400000US40,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486
3,4,51,1779803,0400000US51,51,VA,Virginia,0,1.022580e+11,8.528532e+09,4,-78.883285,37.512967
4,5,54,1779805,0400000US54,54,WV,West Virginia,0,6.226647e+10,4.890285e+08,5,-80.613731,38.642587

In [27]:
# sort each database by statename
# sort missing by state name
state_centroids_df = state_centroids_df.sort_values(by=['NAME'])
state_centroids_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745

In [28]:
# sort each database by statename
# sort missing by state name
missing_df = missing_df.sort_values(by=['State'])
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
708,MP64666,1/16/2020,Edwards,Katrina,16,Mobile,Mobile,Alabama,Female,White / Caucasian,3/4/2020,1
668,MP54784,9/5/2018,Mickles,Ernest,75,Prichard,Mobile,Alabama,Male,Black / African American,11/13/2019,1
667,MP52935,9/27/2018,Bradley,Leon,86,Marion Junction,Dallas,Alabama,Male,Black / African American,11/13/2019,1
666,MP58186,5/22/2019,Robinson,Ramondus,31,Birmingham,Jefferson,Alabama,Male,Black / African American,2/14/2020,1
665,MP2688,6/18/1959,Barter,Daniel,4,Lillian,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1

In [29]:
# sort missing by state name
unclaimed_df = unclaimed_df.sort_values(by=['State'])
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
2516,UCP5127,10/28/17,Elmore,Jeanne,Female,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/19,1.0
5382,UCP2769,5/26/13,Black,Billy,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/18,1.0
2989,UCP4416,4/22/17,Harris,Scott,Male,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/19,1.0
5095,UCP2760,8/7/14,Allison,Larry,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/18,1.0
5406,UCP2770,4/11/13,Williams,Darryl,Male,Black / African American,Birmingham,Jefferson,Alabama,9/20/18,1.0

In [30]:
# sort missing by state name
unidentified_df = unidentified_df.sort_values(by=['State'])
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
11644,UP14998,2/19/1998,60.0,100.0,Bessemer,Jefferson,Alabama,Female,White / Caucasian,3/18/2020,1
9876,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1
3362,UP13959,4/20/2006,NaN,NaN,Tuscaloosa,Tuscaloosa,Alabama,Male,Uncertain,2/13/2020,1
10468,UP13985,3/27/2014,18.0,99.0,Birmingham,Jefferson,Alabama,Female,Uncertain,3/18/2020,1
216,UP58389,5/30/2019,35.0,55.0,Birmingham,Jefferson,Alabama,Male,White / Caucasian,3/18/2020,1

In [31]:
## Create state array
state_array = []
## for each state in state_centroids...
i = 0
while i < len(state_centroids_df):
    state_dict = {}
    state_dict["type"] = "Feature"
    state_dict["name"] = state_centroids_df["NAME"][i]
    state_dict["name_abbr"] = state_centroids_df["STUSPS"][i]
    state_dict["state_FIPS"] = str(state_centroids_df["STATEFP"][i])
    state_dict["properties"] = {}
    missing_array = []
    j = 0
    while j < len(missing_df):
        # check if state_fips matches
        if missing_df['State_FIPS'][j] == state_centroids_df["STATEFP"][i]:
            missing_dict = {}
            for item in missing_header:
                missing_dict[item] = str(missing_df[item][j])
            # append dictionary to missing array
            missing_array.append(missing_dict)
        # increment j
        j += 1
    state_dict["properties"]['missing'] = missing_array     
    
    unclaimed_array = []
    k = 0
    while k < len(unclaimed_df):
        # check if state_fips matches
        if unclaimed_df['State_FIPS'][k] == state_centroids_df["STATEFP"][i]:
            unclaimed_dict = {}
            for item in unclaimed_header:
                unclaimed_dict[item] = str(unclaimed_df[item][k])
            # append dictionary to unclaimed array
            unclaimed_array.append(unclaimed_dict)
        # increment k
        k += 1
    state_dict["properties"]['unclaimed'] = unclaimed_array
    
    unidentified_array = []
    l = 0
    while l < len(unidentified_df):
        # check if state_fips matches
        if unidentified_df['State_FIPS'][l] == state_centroids_df["STATEFP"][i]:
            unidentified_dict = {}
            for item in unidentified_header:
                unidentified_dict[item] = str(unidentified_df[item][l])
            # append dictionary to unclaimed array
            unidentified_array.append(unidentified_dict)
        # increment l
        l += 1
    state_dict["properties"]['unidentified'] = unidentified_array
    
    state_dict["properties"]['filtered'] = []
    ## set geometry
    state_dict["geometry"] = {}
    state_dict["geometry"]["type"] = "Point"
    state_dict["geometry"]["coordinates"] = [state_centroids_df['Lon_dd'][i], state_centroids_df['Lat_dd'][i]]
    ## append state dictionary to array
    state_array.append(state_dict)
    # increment interator
    i += 1
# state_array

In [32]:
# check item in array
state_array[0]['properties']['unclaimed']

[{'Case Number': 'UCP64285',
  'DBF': '2/22/13',
  'Last Name': 'Dillard',
  'First Name': 'Joseph',
  'Sex': 'Male',
  'Race / Ethnicity': 'Black / African American',
  'City': 'Jackson',
  'County': 'Hinds',
  'State': 'Mississippi',
  'Date Modified': '4/8/20',
  'State_FIPS': '28.0'},
 {'Case Number': 'UCP5008',
  'DBF': 'nan',
  'Last Name': 'Knight',
  'First Name': 'Rachel',
  'Sex': 'Female',
  'Race / Ethnicity': 'White / Caucasian',
  'City': 'nan',
  'County': 'Scott',
  'State': 'Mississippi',
  'Date Modified': '1/3/19',
  'State_FIPS': '28.0'}]

In [33]:
# Create FeatureCollection
state_feature_collection = {}
state_feature_collection["type"] = "FeatureCollection"
state_feature_collection["features"] = state_array
# state_feature_collection

In [34]:
# Convert FeatureCollection to JSON format
state_geojson = geojson.dumps(state_feature_collection)
# check type to make sure conversion was sucessful
print(type(state_geojson))

<class 'str'>

In [35]:
# Save JSON-formatted FeatureCollection as JSON file
# Save as new json file
with open('JSON/state_geojson.json', 'w', encoding='utf-8') as json_file:
    json_file.write(state_geojson)

## Part 2 - OLD METHOD: Get state-level JSONs for all 3 databases

### 2b: Join each database dataframe to the state_centroids dataframe

In [ ]:
# check state centroids dataframe
state_centroids_df.head()

#### 1/4: Join state centroids dataframe to missing persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [ ]:
# check dataframe
missing_df.head()

In [ ]:
# check dataframe length
len(missing_df)

In [ ]:
# join state centroids dataframe to missing persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF MISSING_DF
missing_states_df = pd.merge(left = missing_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(missing_states_df)
missing_states_df.head()

#### 1/4: Join state centroids dataframe to unclaimed persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [ ]:
# check dataframe
unclaimed_df.head()

In [ ]:
# check dataframe length
len(unclaimed_df)

In [ ]:
# join state centroids dataframe to unclaimed persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF UNCLAIMED_DF
unclaimed_states_df = pd.merge(left = unclaimed_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(unclaimed_states_df)
unclaimed_states_df.head()

In [ ]:
# make sure int STATEFP joined ok to float State_FIPS [ NOTE: it joined fine]
# unclaimed_states_df[['State_FIPS', 'STATEFP']]

In [ ]:
## Double check rows w/ no FIPS to make sure missing_df data retained [NOTE: it was!]
unc_states_test_df = unclaimed_states_df.loc[unclaimed_states_df['State_FIPS'].isnull()]
unc_states_test_df

#### 1/4: Join state centroids dataframe to unidentified persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [ ]:
# check dataframe
unidentified_df.head()

In [ ]:
# check dataframe length
len(unidentified_df)

In [ ]:
# join state centroids dataframe to unidentified persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF UNIDENTIFIED_DF
unidentified_states_df = pd.merge(left = unidentified_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(unidentified_states_df)
unidentified_states_df.head()

#### 4/4: Convert dataframes to geodataframes and export as GeoJSON files

##### 4a: missing_states_df

In [ ]:
# check dataframe
missing_states_df.head()

In [ ]:
# Convert missing persons dataframe to geodataframe
missing_states_gdf = gpd.GeoDataFrame(missing_states_df, geometry=gpd.points_from_xy(x=missing_states_df.Lon_dd, y=missing_states_df.Lat_dd))
# len(missing_states_gdf)
missing_states_gdf.head()

In [ ]:
# write to geoJSON
missing_states_gdf.to_file("JSON/missing_states.json", driver="GeoJSON", encoding='utf-8')

##### 4b: unclaimed_states_df

In [ ]:
# check dataframe
unclaimed_states_df.head()

In [ ]:
# Convert unclaimed persons dataframe to geodataframe
unclaimed_states_gdf = gpd.GeoDataFrame(unclaimed_states_df, geometry=gpd.points_from_xy(x=unclaimed_states_df.Lon_dd, y=unclaimed_states_df.Lat_dd))
# len(unclaimed_states_gdf)
unclaimed_states_gdf.head()

In [ ]:
# write to geoJSON
unclaimed_states_gdf.to_file("JSON/unclaimed_states.json", driver="GeoJSON", encoding='utf-8')

##### 4c: unidentified_states_df

In [ ]:
# check dataframe
unidentified_states_df.head()

In [ ]:
# Convert unidentified persons dataframe to geodataframe
unidentified_states_gdf = gpd.GeoDataFrame(unidentified_states_df, geometry=gpd.points_from_xy(x=unidentified_states_df.Lon_dd, y=unidentified_states_df.Lat_dd))
# len(unidentified_states_gdf)
unidentified_states_gdf.head()

In [ ]:
# write to geoJSON
unidentified_states_gdf.to_file("JSON/unidentified_states.json", driver="GeoJSON", encoding='utf-8')

#### Check that GeoJSON files load properly

In [ ]:
test_miss_df = gpd.read_file('JSON/missing_states.json')
len(test_miss_df)
# test_miss_df.head()

In [ ]:
test_unc_df = gpd.read_file('JSON/unclaimed_states.json')
len(test_unc_df)
# test_unc_df.head()

In [ ]:
test_uni_df = gpd.read_file('JSON/unidentified_states.json')
len(test_uni_df)
# test_uni_df.head()

# Part 3: Get county-level JSONs for all 3 databases

# ADD IN STATE NAME TO COUNTY JSON

#### Add in County FIPS column to county centroids dataframe

In [98]:
# check county dataframe
# county_centroids_df.head()
len(county_centroids_df)

3227

In [99]:
# county_subset = county_centroids_df.loc[county_centroids_df['STATEFP']==35]
# county_subset

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
158,159,35,7,929117,0500000US35007,35007,Colfax,6,9.733110e+09,26299632,159,-104.646850,36.606145
159,160,35,11,933054,0500000US35011,35011,De Baca,6,6.016819e+09,29089486,160,-104.412033,34.342458
160,161,35,51,1702370,0500000US35051,35051,Sierra,6,1.082925e+10,147676270,161,-107.192417,33.130501
546,547,35,15,936829,0500000US35015,35015,Eddy,6,1.081690e+10,56282426,547,-104.304317,32.471491
547,548,35,39,1702368,0500000US35039,35039,Rio Arriba,6,1.517959e+10,91468728,548,-106.693153,36.509583
548,549,35,45,936844,0500000US35045,35045,San Juan,6,1.428949e+10,54969313,549,-108.320632,36.508530
549,550,35,55,933056,0500000US35055,35055,Taos,6,5.704119e+09,3383128,550,-105.630972,36.578308
891,892,35,19,929111,0500000US35019,35019,Guadalupe,6,7.847072e+09,2887948,892,-104.790666,34.863311
915,916,35,33,1702367,0500000US35033,35033,Mora,6,4.988963e+09,6093304,916,-104.944827,36.010404
987,988,35,17,915980,0500000US35017,35017,Grant,6,1.025943e+10,15345466,988,-108.382413,32.738879
1762,1763,35,3,929108,0500000US35003,35003,Catron,6,1.793356e+10,14197373,1764,-108.404621,33.915282
1763,1764,35,21,933055,0500000US35021,35021,Harding,6,5.504963e+09,1162620,1765,-103.633522,35.737692
1764,1765,35,37,929110,0500000US35037,35037,Quay,6,7.443334e+09,18728804,1766,-103.585254,35.040664
1815,1816,35,47,929114,0500000US35047,35047,San Miguel,6,1.222867e+10,51380263,1817,-104.815844,35.480447
1816,1817,35,57,929112,0500000US35057,35057,Torrance,6,8.664074e+09,2303485,1818,-105.850828,34.640471
1827,1828,35,61,933052,0500000US35061,35061,Valencia,6,2.762854e+09,2760092,1829,-106.809044,34.715465
2249,2250,35,1,1702363,0500000US35001,35001,Bernalillo,6,3.007639e+09,15855131,2253,-106.670175,35.051347
2281,2282,35,6,933051,0500000US35006,35006,Cibola,6,1.175851e+10,5554603,2285,-107.999714,34.912534
2282,2283,35,9,933053,0500000US35009,35009,Curry,6,3.640098e+09,8190595,2286,-103.347005,34.574238
2295,2296,35,13,929109,0500000US35013,35013,Doña Ana,6,9.863129e+09,17626170,2299,-106.832791,32.352653
2354,2355,35,28,1702366,0500000US35028,35028,Los Alamos,6,2.828270e+08,224479,2358,-106.307379,35.869371
2389,2390,35,27,929116,0500000US35027,35027,Lincoln,6,1.251253e+10,554839,2393,-105.459302,33.745305
2390,2391,35,53,1702371,0500000US35053,35053,Socorro,6,1.721406e+10,4843011,2394,-106.930257,34.007175
2454,2455,35,5,1702364,0500000US35005,35005,Chaves,6,1.571387e+10,20519782,2458,-104.466917,33.363283
2567,2568,35,41,1702369,0500000US35041,35041,Roosevelt,6,6.335243e+09,18679735,2571,-103.480058,34.021175
2627,2628,35,23,929106,0500000US35023,35023,Hidalgo,6,8.905640e+09,23582051,2632,-108.714788,31.914043
2676,2677,35,25,1702365,0500000US35025,35025,Lea,6,1.137385e+10,8360723,2681,-103.412482,32.792108
2768,2769,35,59,929115,0500000US35059,35059,Union,6,9.906866e+09,15466855,2773,-103.471009,36.481607
2770,2771,35,31,929107,0500000US35031,35031,McKinley,6,1.411719e+10,13684636,2775,-108.176469,35.654624
2822,2823,35,49,933322,0500000US35049,35049,Santa Fe,6,4.947128e+09,3376512,2827,-105.976274,35.506919
2867,2868,35,35,929104,0500000US35035,35035,Otero,6,1.712646e+10,36943378,2872,-105.741472,32.613200
2960,2961,35,43,929113,0500000US35043,35043,Sandoval,6,9.609142e+09,10852025,2967,-106.866076,35.688548
3067,3068,35,29,933057,0500000US35029,35029,Luna,6,7.679945e+09,433660,3074,-107.749818,32.182232

In [100]:
# Add column with compound field key
county_centroids_df['County_Key'] = county_centroids_df['STATEFP'].astype(str) + "_" + county_centroids_df['NAME']
county_centroids_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,County_Key
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325,1,-88.999262,37.058489,21_Ballard
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777,2,-84.217155,38.206742,21_Bourbon
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044,3,-86.681628,37.207292,21_Butler
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335,4,-83.964316,37.692451,21_Estill
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793,5,-83.696660,38.370126,21_Fleming

In [101]:
# check unique values and length
county_key_list = county_centroids_df['County_Key'].unique()
len(county_key_list)

3227

In [102]:
# make dictionary of counties and county FIPS code (GEIOD field)
county_dict = dict(zip(county_centroids_df.County_Key, county_centroids_df.GEOID))
county_dict

{'21_Ballard': 21007,
 '21_Bourbon': 21017,
 '21_Butler': 21031,
 '21_Estill': 21065,
 '21_Fleming': 21069,
 '21_Hardin': 21093,
 '21_Hart': 21099,
 '21_Leslie': 21131,
 '21_Madison': 21151,
 '21_Marion': 21155,
 '21_Nelson': 21179,
 '17_Kankakee': 17091,
 '17_Warren': 17187,
 '17_Will': 17197,
 '18_Daviess': 18027,
 '18_Harrison': 18061,
 '1_Autauga': 1001,
 '1_Barbour': 1005,
 '1_Choctaw': 1023,
 '1_Conecuh': 1035,
 '1_Elmore': 1051,
 '1_Etowah': 1055,
 '1_Hale': 1065,
 '1_Madison': 1089,
 '1_Russell': 1113,
 '1_Shelby': 1117,
 '2_Aleutians West': 2016,
 '2_Ketchikan Gateway': 2130,
 '2_Nome': 2180,
 '2_Yakutat': 2282,
 '5_Bradley': 5011,
 '5_Carroll': 5015,
 '5_Clark': 5019,
 '5_Cleveland': 5025,
 '5_Independence': 5063,
 '5_Jackson': 5067,
 '5_Randolph': 5121,
 '6_Alameda': 6001,
 '6_Alpine': 6003,
 '6_Amador': 6005,
 '6_Contra Costa': 6013,
 '6_Fresno': 6019,
 '6_Humboldt': 6023,
 '6_Lake': 6033,
 '6_Los Angeles': 6037,
 '6_Merced': 6047,
 '6_Nevada': 6057,
 '6_San Mateo': 6081,
 '6_Santa Clara': 6085,
 '6_Yuba': 6115,
 '8_Boulder': 8013,
 '8_Delta': 8029,
 '8_Grand': 8049,
 '8_Mesa': 8077,
 '8_Montezuma': 8083,
 '8_Ouray': 8091,
 '9_New Haven': 9009,
 '11_District of Columbia': 11001,
 '12_Brevard': 12009,
 '12_Columbia': 12023,
 '12_Gadsden': 12039,
 '12_Highlands': 12055,
 '12_Jefferson': 12065,
 '12_Leon': 12073,
 '12_Orange': 12095,
 '12_Putnam': 12107,
 '12_Taylor': 12123,
 '12_Volusia': 12127,
 '12_Walton': 12131,
 '12_Washington': 12133,
 '13_Baldwin': 13009,
 '13_Brooks': 13027,
 '13_Effingham': 13103,
 '13_Fulton': 13121,
 '13_Hancock': 13141,
 '13_Heard': 13149,
 '13_Liberty': 13179,
 '13_Long': 13183,
 '13_McDuffie': 13189,
 '13_Montgomery': 13209,
 '13_Pierce': 13229,
 '13_Tattnall': 13267,
 '13_Telfair': 13271,
 '13_Union': 13291,
 '13_Wayne': 13305,
 '13_Wilkinson': 13319,
 '15_Kauai': 15007,
 '16_Boise': 16015,
 '16_Butte': 16023,
 '16_Camas': 16025,
 '16_Canyon': 16027,
 '16_Custer': 16037,
 '16_Elmore': 16039,
 '16_Fremont': 16043,
 '16_Lewis': 16061,
 '16_Lincoln': 16063,
 '16_Valley': 16085,
 '19_Union': 19175,
 '20_Ellsworth': 20053,
 '20_Kingman': 20095,
 '20_Ness': 20135,
 '20_Wallace': 20199,
 '48_Armstrong': 48011,
 '48_Bee': 48025,
 '48_Bosque': 48035,
 '48_Burnet': 48053,
 '48_Caldwell': 48055,
 '48_Coleman': 48083,
 '29_Dade': 29057,
 '29_New Madrid': 29143,
 '29_Perry': 29157,
 '29_St. Louis': 29189,
 '29_Scotland': 29199,
 '29_Stoddard': 29207,
 '30_Chouteau': 30015,
 '30_Deer Lodge': 30023,
 '30_Flathead': 30029,
 '30_Granite': 30039,
 '30_Madison': 30057,
 '30_Phillips': 30071,
 '30_Powell': 30077,
 '30_Roosevelt': 30085,
 '30_Rosebud': 30087,
 '30_Valley': 30105,
 '31_Hooker': 31091,
 '53_Stevens': 53065,
 '21_Owsley': 21189,
 '21_Pike': 21195,
 '21_Taylor': 21217,
 '21_Wolfe': 21237,
 '21_Woodford': 21239,
 '22_Acadia': 22001,
 '22_Avoyelles': 22009,
 '22_Beauregard': 22011,
 '22_Concordia': 22029,
 '22_De Soto': 22031,
 '22_East Baton Rouge': 22033,
 '22_Iberville': 22047,
 '22_Orleans': 22071,
 '22_Red River': 22081,
 '22_St. Martin': 22099,
 '22_Webster': 22119,
 '23_Knox': 23013,
 '23_Lincoln': 23015,
 '24_Anne Arundel': 24003,
 '18_Miami': 18103,
 '18_Posey': 18129,
 '18_Spencer': 18147,
 '19_Adair': 19001,
 '19_Clinton': 19045,
 '19_Hardin': 19083,
 '19_Lee': 19111,
 '31_Stanton': 31167,
 '34_Bergen': 34003,
 '34_Camden': 34007,
 '34_Essex': 34013,
 '34_Middlesex': 34023,
 '34_Warren': 34041,
 '35_Colfax': 35007,
 '35_De Baca': 35011,
 '35_Sierra': 35051,
 '36_Chautauqua': 36013,
 '36_Erie': 36029,
 '36_Herkimer': 36043,
 '36_Jefferson': 36045,
 '36_Kings': 36047,
 '36_Madison': 36053,
 '36_Oneida': 36065,
 '36_Otsego': 36077,
 '36_Queens': 36081,
 '36_Saratoga': 36091,
 '36_Washington': 36115,
 '37_Anson': 37007,
 '37_Caldwell': 37027,
 '37_Cherokee': 37039,
 '37_Craven': 37049,
 '37_Dare': 37055,
 '37_Davie': 37059,
 '37_Franklin': 37069,
 '37_Halifax': 37083,
 '37_Hertford': 37091,
 '37_Hoke': 37093,
 '37_Jackson': 37099,
 '37_McDowell': 37111,
 '37_Martin': 37117,
 '37_Nash': 37127,
 '37_Scotland': 37165,
 '37_Transylvania': 37175,
 '37_Yancey': 37199,
 '38_Cass': 38017,
 '38_Grant': 38037,
 '38_Sioux': 38085,
 '38_Walsh': 38099,
 '39_Cuyahoga': 39035,
 '39_Defiance': 39039,
 '39_Erie': 39043,
 '39_Paulding': 39125,
 '40_Jackson': 40065,
 '48_Crane': 48103,
 '48_El Paso': 48141,
 '48_Fisher': 48151,
 '48_Freestone': 48161,
 '48_Galveston': 48167,
 '48_Hardin': 48199,
 '48_Henderson': 48213,
 '48_Hudspeth': 48229,
 '48_Jasper': 48241,
 '48_Jefferson': 48245,
 '48_Kenedy': 48261,
 '48_Leon': 48289,
 '48_Martin': 48317,
 '48_Mills': 48333,
 '48_Nacogdoches': 48347,
 '48_Orange': 48361,
 '48_Pecos': 48371,
 '48_Robertson': 48395,
 '48_Smith': 48423,
 '48_Starr': 48427,
 '48_Tyler': 48457,
 '48_Walker': 48471,
 '48_Ward': 48475,
 '48_Washington': 48477,
 '48_Wood': 48499,
 '49_Beaver': 49001,
 '49_Box Elder': 49003,
 '49_Davis': 49011,
 '40_Kingfisher': 40073,
 '40_Le Flore': 40079,
 '40_Wagoner': 40145,
 '41_Clackamas': 41005,
 '41_Gilliam': 41021,
 '41_Josephine': 41033,
 '41_Klamath': 41035,
 '41_Lane': 41039,
 '41_Linn': 41043,
 '41_Multnomah': 41051,
 '41_Sherman': 41055,
 '41_Union': 41061,
 '42_Armstrong': 42005,
 '42_Chester': 42029,
 '42_Clinton': 42035,
 '42_Greene': 42059,
 '42_Juniata': 42067,
 '42_Montgomery': 42091,
 '42_Somerset': 42111,
 '45_Allendale': 45005,
 '45_Charleston': 45019,
 '45_Chesterfield': 45025,
 '45_Georgetown': 45043,
 '45_Lexington': 45063,
 '45_Pickens': 45077,
 '45_York': 45091,
 '46_Jerauld': 46073,
 '46_Meade': 46093,
 '46_Mellette': 46095,
 '46_Tripp': 46123,
 '47_Anderson': 47001,
 '47_Bedford': 47003,
 '47_Benton': 47005,
 '47_Carter': 47019,
 '47_Cocke': 47029,
 '47_Fentress': 47049,
 '47_Hamblen': 47063,
 '47_Hawkins': 47073,
 '47_Hickman': 47081,
 '47_Lauderdale': 47097,
 '47_Meigs': 47121,
 '47_Rutherford': 47149,
 '47_Union': 47173,
 '48_Aransas': 48007,
 '25_Barnstable': 25001,
 '25_Hampden': 25013,
 '25_Suffolk': 25025,
 '26_Chippewa': 26033,
 '26_Gogebic': 26053,
 '26_Huron': 26063,
 '26_Mackinac': 26097,
 '26_Monroe': 26115,
 '13_Treutlen': 13283,
 '13_Twiggs': 13289,
 '13_Whitfield': 13313,
 '13_Wilkes': 13317,
 '15_Hawaii': 15001,
 '15_Maui': 15009,
 '16_Lemhi': 16059,
 '16_Owyhee': 16073,
 '16_Twin Falls': 16083,
 '16_Washington': 16087,
 '17_Clinton': 17027,
 '17_Cook': 17031,
 '17_Edwards': 17047,
 '49_Morgan': 49029,
 '49_Salt Lake': 49035,
 '49_Summit': 49043,
 '49_Utah': 49049,
 '51_Augusta': 51015,
 '51_Charlotte': 51037,
 '51_Dickenson': 51051,
 '51_Dinwiddie': 51053,
 '51_Frederick': 51069,
 '51_Gloucester': 51073,
 '51_Hanover': 51085,
 '51_King George': 51099,
 '51_Nelson': 51125,
 '51_Northampton': 51131,
 '51_Orange': 51137,
 '51_Powhatan': 51145,
 '51_Prince George': 51149,
 '51_Roanoke': 51161,
 '51_Spotsylvania': 51177,
 '51_Tazewell': 51185,
 '51_York': 51199,
 '53_Benton': 53005,
 '53_Chelan': 53007,
 '53_Clallam': 53009,
 '53_Cowlitz': 53015,
 '53_Grant': 53025,
 '53_Jefferson': 53031,
 '53_Kittitas': 53037,
 '53_Lincoln': 53043,
 '12_Liberty': 12077,
 '72_Florida': 72054,
 '72_Ponce': 72113,
 '72_Quebradillas': 72115,
 '72_Utuado': 72141,
 '72_Vieques': 72147,
 '78_St. Croix': 78010,
 '78_St. John': 78020,
 '5_Howard': 5061,
 '5_Mississippi': 5093,
 '5_Monroe': 5095,
 '5_Nevada': 5099,
 '5_Ouachita': 5103,
 '5_Pike': 5109,
 '5_Prairie': 5117,
 '5_Sevier': 5133,
 '5_Woodruff': 5147,
 '6_Mendocino': 6045,
 '6_Mono': 6051,
 '24_Caroline': 24011,
 "24_Prince George's": 24033,
 '24_Washington': 24043,
 '25_Dukes': 25007,
 '25_Middlesex': 25017,
 '26_Delta': 26041,
 '26_Macomb': 26099,
 '26_Marquette': 26103,
 '26_Oscoda': 26135,
 '26_St. Clair': 26147,
 '26_Wayne': 26163,
 '27_Chippewa': 27023,
 '27_Hennepin': 27053,
 '27_Lake of the Woods': 27077,
 '27_Martin': 27091,
 '27_Renville': 27129,
 '27_Scott': 27139,
 '27_Washington': 27163,
 '28_Attala': 28007,
 '28_DeSoto': 28033,
 '28_Issaquena': 28055,
 '28_Lauderdale': 28075,
 '28_Tunica': 28143,
 '28_Wilkinson': 28157,
 '28_Yazoo': 28163,
 '29_Butler': 29023,
 '29_Camden': 29029,
 '29_Cape Girardeau': 29031,
 '29_Carroll': 29033,
 '17_Iroquois': 17075,
 '17_Menard': 17129,
 '17_Rock Island': 17161,
 '17_Stark': 17175,
 '17_Wabash': 17185,
 '18_Blackford': 18009,
 '18_Delaware': 18035,
 '18_Howard': 18067,
 '18_Knox': 18083,
 '18_Tipton': 18159,
 '18_Washington': 18175,
 '49_Kane': 49025,
 '5_Ashley': 5003,
 '5_Benton': 5007,
 '5_Calhoun': 5013,
 '5_Faulkner': 5045,
 '13_Chatham': 13051,
 '13_Coweta': 13077,
 '13_Gilmer': 13123,
 '13_Greene': 13133,
 '13_Habersham': 13137,
 '13_Hall': 13139,
 '13_Haralson': 13143,
 '13_Jackson': 13157,
 '13_Lamar': 13171,
 '13_Lincoln': 13181,
 '13_Lowndes': 13185,
 '13_Madison': 13195,
 '13_Murray': 13213,
 '13_Newton': 13217,
 '13_Putnam': 13237,
 '13_Richmond': 13245,
 '13_Screven': 13251,
 '13_Taylor': 13269,
 '13_Toombs': 13279,
 '23_Sagadahoc': 23023,
 '23_York': 23031,
 '24_Allegany': 24001,
 '24_Baltimore': 24005,
 '24_Charles': 24017,
 '24_Frederick': 24021,
 '24_Montgomery': 24031,
 '24_Wicomico': 24045,
 '28_Warren': 28149,
 '28_Washington': 28151,
 '29_Chariton': 29041,
 '29_Dunklin': 29069,
 '29_Holt': 29087,
 '29_Lincoln': 29113,
 '29_Pettis': 29159,
 '29_St. Charles': 29183,
 '29_Saline': 29195,
 '29_Schuyler': 29197,
 '29_Scott': 29201,
 '30_Beaverhead': 30001,
 '30_Cascade': 30013,
 '30_Fergus': 30027,
 '30_Gallatin': 30031,
 '30_Judith Basin': 30045,
 '30_Lewis and Clark': 30049,
 '30_McCone': 30055,
 '30_Meagher': 30059,
 '30_Petroleum': 30069,
 '30_Pondera': 30073,
 '30_Richland': 30083,
 '30_Teton': 30099,
 '31_Keya Paha': 31103,
 '31_Saline': 31151,
 '32_Churchill': 32001,
 '32_Clark': 32003,
 '32_Lander': 32015,
 '33_Coos': 33007,
 '33_Rockingham': 33015,
 '33_Strafford': 33017,
 '34_Atlantic': 34001,
 '34_Burlington': 34005,
 '34_Gloucester': 34015,
 '34_Hunterdon': 34019,
 '34_Mercer': 34021,
 '34_Monmouth': 34025,
 '34_Ocean': 34029,
 '34_Somerset': 34035,
 '21_Washington': 21229,
 '21_Wayne': 21231,
 '22_East Carroll': 22035,
 '22_Iberia': 22045,
 '22_Jefferson Davis': 22053,
 '22_Lafayette': 22055,
 '6_Napa': 6055,
 '6_Orange': 6059,
 '6_San Benito': 6069,
 '6_San Diego': 6073,
 '6_San Luis Obispo': 6079,
 '6_Santa Barbara': 6083,
 '6_Sonoma': 6097,
 '6_Sutter': 6101,
 '6_Tulare': 6107,
 '6_Yolo': 6113,
 '8_Clear Creek': 8019,
 '8_Costilla': 8023,
 '8_Denver': 8031,
 '8_Eagle': 8037,
 '8_Huerfano': 8055,
 '1_DeKalb': 1049,
 '1_Greene': 1063,
 '1_Macon': 1087,
 '1_Marengo': 1091,
 '1_Marshall': 1095,
 '1_Montgomery': 1101,
 '1_Pickens': 1107,
 '1_St. Clair': 1115,
 '1_Sumter': 1119,
 '1_Wilcox': 1131,
 '2_Fairbanks North Star': 2090,
 '2_Kusilvak': 2158,
 '2_Southeast Fairbanks': 2240,
 '4_Coconino': 4005,
 '4_Graham': 4009,
 '4_Maricopa': 4013,
 '54_Barbour': 54001,
 '54_Boone': 54005,
 '54_Gilmer': 54021,
 '54_Kanawha': 54039,
 '54_Logan': 54045,
 '54_McDowell': 54047,
 '54_Monroe': 54063,
 '54_Nicholas': 54067,
 '54_Roane': 54087,
 '54_Wood': 54107,
 '55_Ashland': 55003,
 '55_Grant': 55043,
 '55_Sawyer': 55113,
 '56_Park': 56029,
 '60_Eastern': 60010,
 "60_Manu'a": 60020,
 '69_Northern Islands': 69085,
 '69_Rota': 69100,
 '69_Saipan': 69110,
 '72_Cabo Rojo': 72023,
 '72_Carolina': 72031,
 '72_Ceiba': 72037,
 '72_Ciales': 72039,
 '72_Fajardo': 72053,
 '12_Miami-Dade': 12086,
 '12_Okeechobee': 12093,
 '12_Osceola': 12097,
 '13_Bibb': 13021,
 '13_Bryan': 13029,
 '39_Putnam': 39137,
 '39_Wyandot': 39175,
 '40_Bryan': 40013,
 '40_Cleveland': 40027,
 '40_Harmon': 40057,
 '40_Jefferson': 40067,
 '40_Kiowa': 40075,
 '40_Marshall': 40095,
 '40_Pottawatomie': 40125,
 '40_Sequoyah': 40135,
 '40_Tulsa': 40143,
 '27_Big Stone': 27011,
 '27_Blue Earth': 27013,
 '27_Cook': 27031,
 '27_Itasca': 27061,
 '27_Lac qui Parle': 27073,
 '27_Lake': 27075,
 '27_Marshall': 27089,
 '27_Morrison': 27097,
 '27_Redwood': 27127,
 '27_Waseca': 27161,
 '27_Wright': 27171,
 '28_Adams': 28001,
 '28_Bolivar': 28011,
 '28_Copiah': 28029,
 '28_Grenada': 28043,
 '28_Leflore': 28083,
 '28_Lowndes': 28087,
 '28_Noxubee': 28103,
 '28_Rankin': 28121,
 '35_Eddy': 35015,
 '35_Rio Arriba': 35039,
 '35_San Juan': 35045,
 '35_Taos': 35055,
 '36_Delaware': 36025,
 '36_Essex': 36031,
 '36_Suffolk': 36103,
 '36_Sullivan': 36105,
 '36_Westchester': 36119,
 '36_Yates': 36123,
 '37_Ashe': 37009,
 '37_Beaufort': 37013,
 '37_Bladen': 37017,
 '37_Burke': 37023,
 '37_Chatham': 37037,
 '37_Clay': 37043,
 '37_Currituck': 37053,
 '37_Davidson': 37057,
 '37_Edgecombe': 37065,
 '37_Graham': 37075,
 '37_Harnett': 37085,
 '37_Henderson': 37089,
 '37_Hyde': 37095,
 '37_Jones': 37103,
 '37_Madison': 37115,
 '37_Montgomery': 37123,
 '28_Tishomingo': 28141,
 '42_Perry': 42099,
 '42_Pike': 42103,
 '42_Wayne': 42127,
 '42_York': 42133,
 '48_San Saba': 48411,
 '48_Stephens': 48429,
 '48_Titus': 48449,
 '48_Travis': 48453,
 '48_Trinity': 48455,
 '48_Van Zandt': 48467,
 '48_Waller': 48473,
 '48_Webb': 48479,
 '49_Rich': 49033,
 '49_Tooele': 49045,
 '49_Uintah': 49047,
 '49_Wasatch': 49051,
 '50_Orange': 50017,
 '50_Windsor': 50027,
 '51_Amelia': 51007,
 '51_Bath': 51017,
 '51_Bedford': 51019,
 '51_Botetourt': 51023,
 '51_Caroline': 51033,
 '51_Charles City': 51036,
 '51_Chesterfield': 51041,
 '51_Essex': 51057,
 '51_Franklin': 51067,
 '51_Halifax': 51083,
 '51_Highland': 51091,
 '51_James City': 51095,
 '51_Loudoun': 51107,
 '51_Lunenburg': 51111,
 '51_New Kent': 51127,
 '51_Northumberland': 51133,
 '51_Pittsylvania': 51143,
 '51_Richmond': 51159,
 '51_Rockingham': 51165,
 '51_Southampton': 51175,
 '51_Stafford': 51179,
 '51_Warren': 51187,
 '53_Okanogan': 53047,
 '53_Pacific': 53049,
 '53_Pierce': 53053,
 '53_Snohomish': 53061,
 '53_Walla Walla': 53071,
 '53_Whatcom': 53073,
 '54_Calhoun': 54013,
 '54_Doddridge': 54017,
 '54_Fayette': 54019,
 '54_Grant': 54023,
 '54_Hampshire': 54027,
 '54_Harrison': 54033,
 '54_Jefferson': 54037,
 '54_Lincoln': 54043,
 '54_Morgan': 54065,
 '54_Pendleton': 54071,
 '54_Raleigh': 54081,
 '54_Tucker': 54093,
 '54_Tyler': 54095,
 '37_Onslow': 37133,
 '37_Pamlico': 37137,
 '37_Polk': 37149,
 '37_Richmond': 37153,
 '37_Rutherford': 37161,
 '37_Sampson': 37163,
 '37_Tyrrell': 37177,
 '38_Benson': 38005,
 '38_Golden Valley': 38033,
 '38_McKenzie': 38053,
 '38_Morton': 38059,
 '38_Pembina': 38067,
 '38_Ramsey': 38071,
 '22_Morehouse': 22067,
 '22_Natchitoches': 22069,
 '22_Rapides': 22079,
 '22_St. Landry': 22097,
 '22_Tensas': 22107,
 '22_Vermilion': 22113,
 '22_Washington': 22117,
 '22_West Carroll': 22123,
 '23_Franklin': 23007,
 '8_Lake': 8065,
 '8_Las Animas': 8071,
 '8_Park': 8093,
 '8_Rio Grande': 8105,
 '8_San Miguel': 8113,
 '9_Fairfield': 9001,
 '9_Middlesex': 9007,
 '9_New London': 9011,
 '10_Sussex': 10005,
 '12_Escambia': 12033,
 '12_Franklin': 12037,
 '12_Gilchrist': 12041,
 '12_Hamilton': 12047,
 '12_Hernando': 12053,
 '12_Lee': 12071,
 '19_Audubon': 19009,
 '19_Carroll': 19027,
 '19_Grundy': 19075,
 '19_Linn': 19113,
 '19_Palo Alto': 19147,
 '19_Worth': 19195,
 '20_Gray': 20069,
 '20_Ottawa': 20143,
 '20_Sherman': 20181,
 '21_Anderson': 21005,
 '21_Breathitt': 21025,
 '21_Bullitt': 21029,
 '21_Caldwell': 21033,
 '21_Carter': 21043,
 '21_Clark': 21049,
 '21_Elliott': 21063,
 '21_Floyd': 21071,
 '21_Grayson': 21085,
 '21_Harrison': 21097,
 '21_Jackson': 21109,
 '21_Knott': 21119,
 '21_Laurel': 21125,
 '21_Lewis': 21135,
 '21_Livingston': 21139,
 '21_Magoffin': 21153,
 '21_Martin': 21159,
 '21_Mercer': 21167,
 '21_Nicholas': 21181,
 '21_Ohio': 21183,
 '21_Perry': 21193,
 '21_Powell': 21197,
 '21_Rowan': 21205,
 '54_Wyoming': 54109,
 '55_Crawford': 55023,
 '55_Florence': 55037,
 '55_Iron': 55051,
 '55_Lincoln': 55069,
 '55_Marinette': 55075,
 '55_Sauk': 55111,
 '41_Clatsop': 41007,
 '41_Deschutes': 41017,
 '41_Douglas': 41019,
 '41_Wasco': 41065,
 '42_Allegheny': 42003,
 '42_Centre': 42027,
 '42_Clearfield': 42033,
 '42_Cumberland': 42041,
 '42_Delaware': 42045,
 '42_Fayette': 42051,
 '42_Huntingdon': 42061,
 '42_Lancaster': 42071,
 '42_Monroe': 42089,
 '42_Northampton': 42095,
 '51_Floyd': 51063,
 '51_Henrico': 51087,
 '53_Yakima': 53077,
 '45_Clarendon': 45027,
 '45_Greenwood': 45047,
 '1_Cullman': 1043,
 '45_Colleton': 45029,
 '45_Newberry': 45071,
 '46_Hutchinson': 46067,
 '1_Colbert': 1033,
 '2_Bethel': 2050,
 '4_Gila': 4007,
 '5_Dallas': 5039,
 '6_Madera': 6039,
 '8_Fremont': 8043,
 '12_Calhoun': 12013,
 '12_Lake': 12069,
 '12_Wakulla': 12129,
 '13_Oconee': 13219,
 '16_Clearwater': 16035,
 '16_Nez Perce': 16069,
 '17_Pulaski': 17153,
 '18_Jackson': 18071,
 '19_Henry': 19087,
 '21_Allen': 21003,
 '21_Clay': 21051,
 '21_Menifee': 21165,
 '46_Lyman': 46085,
 '47_Grainger': 47057,
 '2_Petersburg': 2195,
 '6_Calaveras': 6009,
 '8_Pitkin': 8097,
 '13_Baker': 13007,
 '21_Crittenden': 21055,
 '22_Caddo': 22017,
 '22_Vernon': 22115,
 '26_Otsego': 26137,
 '29_Boone': 29019,
 '30_Blaine': 30005,
 '37_Camden': 37029,
 '40_McCurtain': 40089,
 '41_Grant': 41023,
 '46_Stanley': 46117,
 '47_Johnson': 47091,
 '39_Fayette': 39047,
 '39_Hamilton': 39061,
 '39_Lucas': 39095,
 '45_Kershaw': 45055,
 '45_Laurens': 45059,
 '45_Marlboro': 45069,
 '45_Oconee': 45073,
 '45_Spartanburg': 45083,
 '45_Williamsburg': 45089,
 '46_Bon Homme': 46009,
 '6_Mariposa': 6043,
 '6_Solano': 6095,
 '8_Douglas': 8035,
 '10_New Castle': 10003,
 '12_Madison': 12079,
 '12_Santa Rosa': 12113,
 '13_Appling': 13001,
 '13_Crawford': 13079,
 '13_Gwinnett': 13135,
 '13_White': 13311,
 '47_McMinn': 47107,
 '47_Marshall': 47117,
 '47_Monroe': 47123,
 '47_Rhea': 47143,
 '47_Scott': 47151,
 '47_Sevier': 47155,
 '47_Shelby': 47157,
 '47_Sumner': 47165,
 '47_Tipton': 47167,
 '47_White': 47185,
 '47_Wilson': 47189,
 '48_Anderson': 48001,
 '48_Angelina': 48005,
 '48_Bexar': 48029,
 '48_Bowie': 48037,
 '48_Brewster': 48043,
 '48_Burleson': 48051,
 '48_Calhoun': 48057,
 '48_Cass': 48067,
 '48_Comal': 48091,
 '48_Culberson': 48109,
 '48_Delta': 48119,
 '48_Glasscock': 48173,
 '48_Guadalupe': 48187,
 '48_Hartley': 48205,
 '48_Hidalgo': 48215,
 '48_Houston': 48225,
 '48_Kent': 48263,
 '48_Kleberg': 48273,
 '48_Lee': 48287,
 '48_Loving': 48301,
 '48_McMullen': 48311,
 '48_Marion': 48315,
 '48_Montgomery': 48339,
 '48_Morris': 48343,
 '48_Navarro': 48349,
 '48_Polk': 48373,
 '48_Presidio': 48377,
 '48_Reagan': 48383,
 '48_San Augustine': 48405,
 '48_San Jacinto': 48407,
 '46_Dewey': 46041,
 '46_Jackson': 46071,
 '46_Jones': 46075,
 '46_Lake': 46079,
 '46_Union': 46127,
 '47_Campbell': 47013,
 '47_Cheatham': 47021,
 '47_Coffee': 47031,
 '47_Cumberland': 47035,
 '47_Davidson': 47037,
 '47_DeKalb': 47041,
 '47_Hamilton': 47065,
 '47_Jefferson': 47089,
 '56_Big Horn': 56003,
 '56_Fremont': 56013,
 '56_Platte': 56031,
 '56_Sublette': 56035,
 '1_Crenshaw': 1041,
 '2_Haines': 2100,
 '4_Apache': 4001,
 '5_Arkansas': 5001,
 '5_Conway': 5029,
 '5_Hempstead': 5057,
 '39_Morgan': 39115,
 '40_Osage': 40113,
 '41_Curry': 41015,
 '42_Erie': 42049,
 '42_Philadelphia': 42101,
 '45_Bamberg': 45009,
 '45_Lancaster': 45057,
 '45_Union': 45087,
 '47_Claiborne': 47025,
 '47_Gibson': 47053,
 '47_Perry': 47135,
 '47_Sullivan': 47163,
 '48_Colorado': 48089,
 '48_Ector': 48135,
 '48_Harrison': 48203,
 '48_Maverick': 48323,
 '48_Newton': 48351,
 '48_Rains': 48379,
 '48_San Patricio': 48409,
 '48_Val Verde': 48465,
 '49_Carbon': 49007,
 '49_Grand': 49019,
 '51_Alleghany': 51005,
 '51_Buckingham': 51029,
 '51_Henry': 51089,
 '51_Patrick': 51141,
 '51_Westmoreland': 51193,
 '53_Clark': 53011,
 '53_Mason': 53045,
 '54_Greenbrier': 54025,
 '55_Adams': 55001,
 '72_Mayagüez': 72097,
 '72_Yabucoa': 72151,
 '8_Custer': 8027,
 '8_Gunnison': 8051,
 '5_Desha': 5041,
 '13_Sumter': 13261,
 '18_Wells': 18179,
 '22_Union': 22111,
 '23_Aroostook': 23003,
 '40_Seminole': 40133,
 '35_Guadalupe': 35019,
 '37_Lee': 37105,
 '37_Moore': 37125,
 '19_Cherokee': 19035,
 '20_Comanche': 20033,
 '20_Pottawatomie': 20149,
 '21_Breckinridge': 21027,
 '21_McCreary': 21147,
 '21_Morgan': 21175,
 '22_Ascension': 22005,
 '22_Bossier': 22015,
 '22_Catahoula': 22025,
 '22_East Feliciana': 22037,
 '22_St. Helena': 22091,
 '22_Terrebonne': 22109,
 '24_Kent': 24029,
 '24_Worcester': 24047,
 '26_Grand Traverse': 26055,
 '27_Brown': 27015,

#### Add in County FIPS column to missing dataframe

In [103]:
# check missing df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

In [104]:
# Add column with compound field key
missing_df['State_County'] = missing_df['State_FIPS'].astype(str) + "_" + missing_df['County']
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin

In [105]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['County_FIPS'] = missing_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
missing_df['County_FIPS'].unique()

array([ 1001.,  1003.,  1005., ..., 56035., 56037., 56039.])

In [112]:
# check null values [NOTE: all ok - no city or county assigned]
missing_county_null_df = missing_df.loc[missing_df['County_FIPS'].isnull()]
# missing_county_null_df.shape
missing_county_null_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna Aponte,John,12,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,NaN,NaN
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,NaN,Puerto Rico,Male,Black / African American,3/12/2020,72,NaN,NaN
14183,MP4568,5/4/1974,Colonna Aponte,Giannina,11,NaN,NaN,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,NaN,NaN

In [109]:
# As needed, export nulls to address
# missing_county_null_df.to_csv('missing_county_nulls.csv', encoding='Windows-1252')

In [118]:
# check missing_df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001.0
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga,1001.0
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin,1003.0
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin,1003.0
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin,1003.0

#### Add in County FIPS column to unclaimed dataframe

In [111]:
# check unclaimed df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0

In [114]:
# Add column with compound field key
unclaimed_df['State_County'] = unclaimed_df['State_FIPS'].astype(str) + "_" + unclaimed_df['County']
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0,36.0_New York
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0,36.0_Kings
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0,36.0_New York

In [115]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unclaimed_df['County_FIPS'] = unclaimed_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
unclaimed_df['County_FIPS'].unique()

array([nan])

In [116]:
# check null values
unclaimed_county_null_df = unclaimed_df.loc[unclaimed_df['County_FIPS'].isnull()]
# unclaimed_county_null_df.shape
unclaimed_county_null_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will,NaN
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will,NaN
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0,36.0_New York,NaN
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0,36.0_Kings,NaN
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0,36.0_New York,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8330,UCP320,NaN,Baskin,Clyde,Male,Black / African American,Spokane Valley,Spokane,Washington,4/14/20,53.0,53.0_Spokane,NaN
8331,UCP341,NaN,Brotherton,Quilen,Male,NaN,NaN,Spokane,Washington,4/14/20,53.0,53.0_Spokane,NaN
8332,UCP326,NaN,Bell,Phillip,Male,NaN,NaN,Spokane,Washington,4/14/20,53.0,53.0_Spokane,NaN
8333,UCP345,NaN,Buonantony,Elena,Female,NaN,NaN,Spokane,Washington,4/14/20,53.0,53.0_Spokane,NaN
8334,UCP371,NaN,Callison,James,Male,NaN,NaN,Adams,Washington,4/14/20,53.0,53.0_Adams,NaN

In [109]:
# As needed, export nulls to address
# unclaimed_county_null_df.to_csv('unclaimed_county_nulls.csv', encoding='Windows-1252')

In [117]:
# check unclaimed_df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will,NaN
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0,17.0_Will,NaN
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0,36.0_New York,NaN
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0,36.0_Kings,NaN
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0,36.0_New York,NaN

#### Add in County FIPS column to unidentified dataframe

In [119]:
# check unidentified df
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40

In [120]:
# Add column with compound field key
unidentified_df['State_County'] = unidentified_df['State_FIPS'].astype(str) + "_" + unidentified_df['County']
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36,36_Queens
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41,41_Linn
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36,36_Queens
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36,36_New York
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40,40_Cleveland

In [121]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unidentified_df['County_FIPS'] = unidentified_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
unidentified_df['County_FIPS'].unique()

array([36081., 41043., 36061., ...,  8047., 54065., 50001.])

In [122]:
# check null values
unidentified_county_null_df = unidentified_df.loc[unidentified_df['County_FIPS'].isnull()]
# unidentified_county_null_df.shape
unidentified_county_null_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
51,UP67784,1/12/2020,NaN,NaN,SAN JUAN,All,Puerto Rico,Male,Hispanic / Latino,4/2/2020,72,72_All,NaN
55,UP67337,1/9/2020,NaN,NaN,Vega Baja,All,Puerto Rico,Male,Hispanic / Latino,4/2/2020,72,72_All,NaN
57,UP65131,1/4/2020,NaN,NaN,SAN JUAN,All,Puerto Rico,Male,Hispanic / Latino,4/2/2020,72,72_All,NaN
58,UP64754,1/3/2020,NaN,NaN,SAN JUAN,All,Puerto Rico,Male,Hispanic / Latino,4/2/2020,72,72_All,NaN
60,UP65129,12/31/2019,NaN,NaN,CULEBRA,All,Puerto Rico,Male,Hispanic / Latino,4/2/2020,72,72_All,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12572,UP11056,5/14/1985,18.0,59.0,NaN,All,Guam,Unsure,Uncertain,8/15/2018,66,66_All,NaN
12584,UP8314,3/10/1985,16.0,20.0,Dona Ana,NaN,New Mexico,Female,White / Caucasian,2/8/2020,35,NaN,NaN
12638,UP12846,4/25/1984,19.0,20.0,Palmer,NaN,Alaska,Female,White / Caucasian,2/13/2020,2,NaN,NaN
12974,UP4435,12/1/1977,30.0,50.0,Odessa,NaN,Texas,Unsure,Uncertain,7/30/2019,48,NaN,NaN
13057,UP13446,6/26/1975,NaN,NaN,Nome,NaN,Alaska,Unsure,Uncertain,7/26/2018,2,NaN,NaN

In [128]:
# As needed, export nulls to address
unidentified_county_null_df.to_csv('unidentified_county_nulls.csv', encoding='Windows-1252')

In [127]:
# check unclaimed_df
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36,36_Queens,36081.0
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41,41_Linn,41043.0
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36,36_Queens,36081.0
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36,36_New York,36061.0
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40,40_Cleveland,40027.0