In [1]:
# import necessary packages
import pandas as pd
import geopandas as gpd
import numpy as np

Notes:
1. Edits to Missing_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands), 
  * Tennesse (to Tennessee), and 
  * Northern Mariana Islands (to Commonwealth of the Northern Mariana Islands)
2. Edits to Unidentified_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands)

In [2]:
# Read in csvs
city_df = pd.read_csv('cities.csv')
county_centroids_df = pd.read_csv('county_centroids.csv')
state_centroids_df = pd.read_csv('state_centroids.csv')
missing_df = pd.read_csv('Missing_04182020.csv')
unclaimed_df = pd.read_csv('Unclaimed_04182020.csv')
unidentified_df = pd.read_csv('Unidentified_04182020.csv')

In [3]:
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020

# PART 1: Summary data (count for all 3 databases, by state)

### 1/4: Get count of missing person cases

In [4]:
missing_count = missing_df.groupby('State').count()
len(missing_count)
missing_count.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,Sex,Race / Ethnicity,Date Modified
State,,,,,,,,,,
Alabama,238,238,238,238,238,238,237,238,238,238
Alaska,582,582,582,582,582,582,539,582,582,582
Arizona,916,916,916,916,916,915,916,916,916,916
Arkansas,280,280,280,280,280,280,280,280,280,280
California,2512,2512,2512,2512,2511,2511,2511,2512,2512,2512

In [5]:
# Remove all columns except case number count
missing_count = missing_count.drop(columns=['DLC','Last Name', 'First Name', 'Missing Age', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [6]:
# add column for state (since state is now index)
missing_count['State'] = missing_count.index

In [7]:
# rename case number count column
missing_count = missing_count.rename(columns = {'Case Number': 'Missing_CaseCount'}, inplace = False)

In [8]:
# check dataframe
missing_count.head()

            Missing_CaseCount       State
State
Alabama                   238     Alabama
Alaska                    582      Alaska
Arizona                   916     Arizona
Arkansas                  280    Arkansas
California               2512  California

In [9]:
# make dictionary of states and missing person counts
missing_dict = dict(zip(missing_count.State, missing_count.Missing_CaseCount))
len(missing_dict)
# missing_dict

55

### 2/4: Get count of unclaimed persons

In [10]:
unclaimed_count = unclaimed_df.groupby('State').count()
# len(unclaimed_count)
unclaimed_count.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,Date Modified
State,,,,,,,,,
Alabama,63,63,63,63,63,63,63,62,63
Alaska,1,1,1,1,1,1,1,1,1
Arizona,21,20,21,21,21,21,20,21,21
Arkansas,16,16,16,16,16,16,16,16,16
California,1680,1046,1678,1678,769,775,691,1650,1680

In [11]:
# Remove all columns except case number count
unclaimed_count = unclaimed_count.drop(columns=['DBF','Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'Date Modified'])

In [12]:
# add column for state (since state is now index)
unclaimed_count['State'] = unclaimed_count.index

In [13]:
# rename case number count column
unclaimed_count = unclaimed_count.rename(columns = {'Case Number': 'Unclaimed_CaseCount'}, inplace = False)

In [14]:
# check dataframe
unclaimed_count.head()

            Unclaimed_CaseCount       State
State
Alabama                      63     Alabama
Alaska                        1      Alaska
Arizona                      21     Arizona
Arkansas                     16    Arkansas
California                 1680  California

In [15]:
# make dictionary of states and unclaimed case counts
unclaimed_dict = dict(zip(unclaimed_count.State, unclaimed_count.Unclaimed_CaseCount))
len(unclaimed_dict)
# unclaimed_dict

43

### 3/4: Get count of unidentified persons

In [16]:
unidentified_count = unidentified_df.groupby('State').count()
# len(unidentified_count)
unidentified_count.head()

,Case Number,DBF,Age From,Age To,City,County,Sex,Race / Ethnicity,Date Modified
State,,,,,,,,,
Alabama,56,56,46,46,48,55,56,56,56
Alaska,56,56,23,23,50,39,56,56,56
Arizona,1773,1772,1670,1670,1427,1773,1772,1767,1773
Arkansas,100,100,95,95,94,100,100,100,100
California,2741,2740,2426,2426,2218,2741,2741,2737,2741

In [17]:
# Remove all columns except case number count
unidentified_count = unidentified_count.drop(columns=['DBF','Age From', 'Age To', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [18]:
# add column for state (since state is now index)
unidentified_count['State'] = unidentified_count.index

In [19]:
# rename case number count column
unidentified_count = unidentified_count.rename(columns = {'Case Number': 'Unidentified_CaseCount'}, inplace = False)

In [20]:
# check dataframe
unidentified_count.head()

            Unidentified_CaseCount       State
State
Alabama                         56     Alabama
Alaska                          56      Alaska
Arizona                       1773     Arizona
Arkansas                       100    Arkansas
California                    2741  California

In [21]:
# make dictionary of states and unidentified case counts
unidentified_dict = dict(zip(unidentified_count.State, unidentified_count.Unidentified_CaseCount))
len(unidentified_dict)
# unidentified_dict

54

### 4/4: Make summary dataframe

In [22]:
# make a new summary dataframe based on the state centroids
summary_df = state_centroids_df
# sort by state name
summary_df = summary_df.sort_values(by=['NAME'])
summary_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745

In [23]:
len(summary_df)

56

#### 4a: Add Missing Person count for each state

In [24]:
# Add new column to dataframe, using the state name field as a key in the missing_dict, to pull the correct missing case count for each state
summary_df['Missing_Count'] = summary_df['NAME'].map(missing_dict)
summary_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0

In [25]:
# Check null values [NOTE: seems fine to have nulls]
missing_null_df = summary_df.loc[summary_df['Missing_Count'].isnull()]
missing_null_df

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,197759063.0,1.307244e+09,38,-170.718268,-14.300454,NaN

#### 4b: Add Unclaimed Person count for each state

In [26]:
# Add new column to dataframe, using the state name field as a key in the unclaimed_dict, to pull the correct unclaimed case count for each state
summary_df['Unclaimed_Count'] = summary_df['NAME'].map(unclaimed_dict)
summary_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0,63.0
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0,1.0
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0,21.0
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0,16.0

In [27]:
# Check null values [NOTE: seems fine to have nulls]
unclaimed_null_df = summary_df.loc[summary_df['Unclaimed_Count'].isnull()]
unclaimed_null_df

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN
45,46,69,1779809,0400000US69,69,MP,Commonwealth of the Northern Mariana Islands,0,4.722925e+08,4.644252e+09,46,145.753615,15.188891,2.0,NaN
44,45,66,1802705,0400000US66,66,GU,Guam,0,5.435558e+08,9.343375e+08,45,144.702724,13.357731,2.0,NaN
26,27,20,481813,0400000US20,20,KS,Kansas,0,2.117550e+11,1.344141e+09,27,-98.380213,38.484708,93.0,NaN
40,41,24,1714934,0400000US24,24,MD,Maryland,0,2.515110e+10,6.979967e+09,41,-76.774792,39.039764,193.0,NaN
54,55,27,662849,0400000US27,27,MN,Minnesota,0,2.062290e+11,1.894522e+10,55,-94.309126,46.316468,181.0,NaN
31,32,30,767982,0400000US30,30,MT,Montana,0,3.769630e+11,3.869209e+09,32,-109.645144,47.033470,86.0,NaN
10,11,31,1779792,0400000US31,31,NE,Nebraska,0,1.989570e+11,1.371829e+09,11,-99.810809,41.527149,73.0,NaN
13,14,72,1779808,0400000US72,72,PR,Puerto Rico,0,8.868896e+09,4.922383e+09,14,-66.478054,18.224102,23.0,NaN
46,47,44,1219835,0400000US44,44,RI,Rhode Island,0,2.677780e+09,1.323670e+09,47,-71.589051,41.694954,21.0,NaN
14,15,46,1785534,0400000US46,46,SD,South Dakota,0,1.963470e+11,3.382720e+09,15,-100.230512,44.436159,29.0,NaN
38,39,78,1802710,0400000US78,78,VI,United States Virgin Islands,0,3.480219e+08,1.550236e+09,39,-64.819028,17.728380,16.0,NaN
30,31,50,1779802,0400000US50,50,VT,Vermont,0,2.387418e+10,1.030417e+09,31,-72.662649,44.075196,56.0,NaN

#### 4b: Add Unidentified Person count for each state

In [28]:
# Add new column to dataframe, using the state name field as a key in the unidentified_dict, to pull the correct unidentified case count for each state
summary_df['Unidentified_Count'] = summary_df['NAME'].map(unidentified_dict)
summary_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count,Unidentified_Count
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0,63.0,56.0
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0,1.0,56.0
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN,NaN
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0,21.0,1773.0
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0,16.0,100.0

In [29]:
# Check null values [NOTE: seems fine to have nulls]
unidentified_null_df = summary_df.loc[summary_df['Unidentified_Count'].isnull()]
unidentified_null_df

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count,Unidentified_Count
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,197759063.0,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN,NaN
45,46,69,1779809,0400000US69,69,MP,Commonwealth of the Northern Mariana Islands,0,472292529.0,4.644252e+09,46,145.753615,15.188891,2.0,NaN,NaN

#### 4c: Add column for total count of cases in all three databases for each state

In [34]:
summary_df['Total_Count'] = summary_df.iloc[:, -4:-1].sum(axis=1)
summary_df.head(20)

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count,Unidentified_Count,Total_Count
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0,63.0,56.0,357.0
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0,1.0,56.0,639.0
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN,NaN,0.0
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0,21.0,1773.0,2710.0
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0,16.0,100.0,396.0
16,17,6,1779778,0400000US06,6,CA,California,0,4.035040e+11,2.046387e+10,17,-119.270414,36.373627,2512.0,1680.0,2741.0,6933.0
21,22,8,1779779,0400000US08,8,CO,Colorado,0,2.684230e+11,1.181622e+09,22,-105.547825,38.998552,311.0,6.0,83.0,400.0
45,46,69,1779809,0400000US69,69,MP,Commonwealth of the Northern Mariana Islands,0,4.722925e+08,4.644252e+09,46,145.753615,15.188891,2.0,NaN,NaN,2.0
55,56,9,1779780,0400000US09,9,CT,Connecticut,0,1.254250e+10,1.815618e+09,56,-72.725467,41.620559,210.0,100.0,41.0,351.0
43,44,10,1779781,0400000US10,10,DE,Delaware,0,5.045926e+09,1.399986e+09,44,-75.500360,38.986599,58.0,1.0,30.0,89.0
36,37,11,1702382,0400000US11,11,DC,District of Columbia,0,1.583404e+08,1.868720e+07,37,-77.016296,38.904742,42.0,20.0,29.0,91.0
9,10,12,294478,0400000US12,12,FL,Florida,0,1.389490e+11,3.136110e+10,10,-81.932259,28.630893,1493.0,45.0,900.0,2438.0
18,19,13,1705317,0400000US13,13,GA,Georgia,0,1.494820e+11,4.422936e+09,19,-83.446349,32.649233,293.0,244.0,239.0,776.0
44,45,66,1802705,0400000US66,66,GU,Guam,0,5.435558e+08,9.343375e+08,45,144.702724,13.357731,2.0,NaN,3.0,5.0
42,43,15,1779782,0400000US15,15,HI,Hawaii,0,1.663399e+10,1.177781e+10,43,-155.518508,19.598724,157.0,277.0,62.0,496.0
8,9,16,1779783,0400000US16,16,ID,Idaho,0,2.140500e+11,2.391723e+09,9,-114.659409,44.389116,112.0,145.0,23.0,280.0
29,30,17,1779784,0400000US17,17,IL,Illinois,0,1.437810e+11,6.214825e+09,30,-89.198415,40.065015,375.0,65.0,202.0,642.0
53,54,18,448508,0400000US18,18,IN,Indiana,0,9.278930e+10,1.538003e+09,54,-86.275661,39.908078,202.0,3.0,55.0,260.0
32,33,19,1779785,0400000US19,19,IA,Iowa,0,1.446610e+11,1.084181e+09,33,-93.500065,42.074627,94.0,7.0,11.0,112.0
26,27,20,481813,0400000US20,20,KS,Kansas,0,2.117550e+11,1.344141e+09,27,-98.380213,38.484708,93.0,NaN,25.0,118.0

#### 4c: Convert to geodataframe and export as GeoJSON

In [35]:
# check final summary_df
summary_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count,Unidentified_Count,Total_Count
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0,63.0,56.0,357.0
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0,1.0,56.0,639.0
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN,NaN,0.0
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0,21.0,1773.0,2710.0
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0,16.0,100.0,396.0

In [36]:
# Convert dataframe to geodataframe
summary_gdf = gpd.GeoDataFrame(summary_df, geometry=gpd.points_from_xy(x=summary_df.Lon_dd, y=summary_df.Lat_dd))
summary_gdf.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,Missing_Count,Unclaimed_Count,Unidentified_Count,Total_Count,geometry
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.311740e+11,4.593327e+09,18,-86.828092,32.790364,238.0,63.0,56.0,357.0,POINT (-86.82809 32.79036)
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,582.0,1.0,56.0,639.0,POINT (-152.68081 64.53021)
37,38,60,1802701,0400000US60,60,AS,American Samoa,0,1.977591e+08,1.307244e+09,38,-170.718268,-14.300454,NaN,NaN,NaN,0.0,POINT (-170.71827 -14.30045)
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.941990e+11,1.027338e+09,36,-111.664418,34.293110,916.0,21.0,1773.0,2710.0,POINT (-111.66442 34.29311)
52,53,5,68085,0400000US05,5,AR,Arkansas,0,1.347690e+11,2.962860e+09,53,-92.439268,34.899745,280.0,16.0,100.0,396.0,POINT (-92.43927 34.89975)

In [37]:
# write to geoJSON
summary_gdf.to_file("JSON/summary_counts.json", driver="GeoJSON", encoding='utf-8')

# Part 2: Get state-level JSONs for all 3 databases

### 2a: Add in State FIPS column to each database dataframe

In [38]:
# make dictionary of states and state FIPS code
state_dict = dict(zip(state_centroids_df.NAME, state_centroids_df.STATEFP))
state_dict
# state_dict['Alaska']
# len(state_dict)

{'Mississippi': 28,
 'North Carolina': 37,
 'Oklahoma': 40,
 'Virginia': 51,
 'West Virginia': 54,
 'Louisiana': 22,
 'Michigan': 26,
 'Massachusetts': 25,
 'Idaho': 16,
 'Florida': 12,
 'Nebraska': 31,
 'Washington': 53,
 'New Mexico': 35,
 'Puerto Rico': 72,
 'South Dakota': 46,
 'Texas': 48,
 'California': 6,
 'Alabama': 1,
 'Georgia': 13,
 'Pennsylvania': 42,
 'Missouri': 29,
 'Colorado': 8,
 'Utah': 49,
 'Tennessee': 47,
 'Wyoming': 56,
 'New York': 36,
 'Kansas': 20,
 'Alaska': 2,
 'Nevada': 32,
 'Illinois': 17,
 'Vermont': 50,
 'Montana': 30,
 'Iowa': 19,
 'South Carolina': 45,
 'New Hampshire': 33,
 'Arizona': 4,
 'District of Columbia': 11,
 'American Samoa': 60,
 'United States Virgin Islands': 78,
 'New Jersey': 34,
 'Maryland': 24,
 'Maine': 23,
 'Hawaii': 15,
 'Delaware': 10,
 'Guam': 66,
 'Commonwealth of the Northern Mariana Islands': 69,
 'Rhode Island': 44,
 'Kentucky': 21,
 'Ohio': 39,
 'Wisconsin': 55,
 'Oregon': 41,
 'North Dakota': 38,
 'Arkansas': 5,
 'Indiana': 18,
 'Minnesota': 27,
 'Connecticut': 9}

#### 1/3: add state FIPS codes to missing persons dataframe

In [39]:
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020

In [40]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['State_FIPS'] = missing_df['State'].map(state_dict)
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2

In [41]:
# Check unique values in new dataframe field
missing_df['State_FIPS'].unique()

array([ 2,  1,  5,  4,  6,  8,  9, 11, 10, 12, 13, 66, 15, 19, 16, 17, 18,
       20, 21, 22, 25, 24, 23, 26, 27, 29, 69, 28, 30, 37, 38, 31, 33, 34,
       35, 32, 36, 39, 40, 41, 42, 72, 44, 45, 46, 47, 48, 49, 51, 78, 50,
       53, 55, 54, 56], dtype=int64)

In [42]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
# mis_test_df = missing_df.loc[missing_df['State_FIPS'].isnull()]
# mis_test_df.head()

In [43]:
# check missing df
missing_df.head()
# len(missing_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2

#### 2/3: add state FIPS codes to unclaimed persons dataframe

In [44]:
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20

In [45]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unclaimed_df['State_FIPS'] = unclaimed_df['State'].map(state_dict)
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0

In [46]:
# Check unique values in new dataframe field
unclaimed_df['State_FIPS'].unique()

array([17., 36., 25.,  6., 53., 15., 32., 16., 48., 49., 47., 11., 33.,
       35., 40., 42., 39., 29.,  5., 13.,  1., 34.,  4., 12., 55.,  9.,
        8., 26., 22., 18., 19., 41., 23., nan, 45., 56., 54., 51.,  2.,
       28., 21., 37., 10., 38.])

In [47]:
## If any nulls, check to see what is producing null values [NOTE: cannot be addressed, as these cases do not have a state or county assigned]
unc_test_df = unclaimed_df.loc[unclaimed_df['State_FIPS'].isnull()]
unc_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
3380,UCP5339,12/3/16,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/18,NaN
4774,UCP2489,3/26/15,Lupien,Daryl,Male,NaN,NaN,NaN,NaN,8/18/16,NaN
5023,UCP4001,11/2/14,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
5883,UCP3962,3/22/10,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/17,NaN
5950,UCP3937,12/7/09,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
6183,UCP3901,1/21/09,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,NaN
6341,UCP3689,6/5/08,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,NaN
6560,UCP3824,7/2/07,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/17,NaN
6698,UCP3672,9/22/06,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,NaN
6719,UCP3668,8/5/06,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,NaN
6726,UCP3661,7/15/06,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,NaN
6910,UCP3543,3/21/05,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/17,NaN
7009,UCP3500,5/5/04,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/17,NaN
7033,UCP4032,2/11/04,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/17,NaN
7067,UCP3332,10/15/03,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,NaN
7069,UCP3326,10/9/03,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/17,NaN
7071,UCP4497,10/8/03,Gonzalez Enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/17,NaN
7085,UCP3315,9/8/03,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,NaN
7170,UCP3252,11/24/02,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/17,NaN
7260,UCP992,7/30/99,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/20,NaN
8144,UCP771,NaN,Garcia,Richard,Male,NaN,NaN,NaN,NaN,4/19/19,NaN

#### 3/3: add state FIPS codes to unidentified persons dataframe

In [48]:
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020

In [49]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unidentified_df['State_FIPS'] = unidentified_df['State'].map(state_dict)
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40

In [50]:
# Check unique values in new dataframe field
unidentified_df['State_FIPS'].unique()

array([36, 41, 40, 49, 47, 48,  9,  4, 17, 32, 53, 24, 45, 34, 26, 30, 12,
       72, 29, 21,  6,  8, 35, 13, 15,  2,  1, 37, 25, 54, 42, 22, 28, 51,
        5, 39, 16, 33, 55, 18, 20, 31, 11, 10, 27, 23, 50, 38, 44, 46, 56,
       19, 66, 78], dtype=int64)

In [51]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
# uni_test_df = unidentified_df.loc[unidentified_df['State_FIPS'].isnull()]
# uni_test_df.head()

### 2b: Join each database dataframe to the state_centroids dataframe

In [52]:
# check state centroids dataframe
state_centroids_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,28,1779790,0400000US28,28,MS,Mississippi,0,1.215340e+11,3.926920e+09,1,-89.665425,32.751473
1,2,37,1027616,0400000US37,37,NC,North Carolina,0,1.259240e+11,1.346607e+10,2,-79.380052,35.542238
2,3,40,1102857,0400000US40,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486
3,4,51,1779803,0400000US51,51,VA,Virginia,0,1.022580e+11,8.528532e+09,4,-78.883285,37.512967
4,5,54,1779805,0400000US54,54,WV,West Virginia,0,6.226647e+10,4.890285e+08,5,-80.613731,38.642587

#### 1/4: Join state centroids dataframe to missing persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [53]:
# check dataframe
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,4/14/2020,2
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,4/14/2020,2
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,4/14/2020,2
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,4/14/2020,2

In [54]:
# check dataframe length
len(missing_df)

17892

In [57]:
# join state centroids dataframe to missing persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF MISSING_DF
missing_states_df = pd.merge(left = missing_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(missing_states_df)
missing_states_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206

#### 1/4: Join state centroids dataframe to unclaimed persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [59]:
# check dataframe
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,17.0
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,36.0
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,36.0
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,36.0

In [60]:
# check dataframe length
len(unclaimed_df)

8335

In [62]:
# join state centroids dataframe to unclaimed persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF UNCLAIMED_DF
unclaimed_states_df = pd.merge(left = unclaimed_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(unclaimed_states_df)
unclaimed_states_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,0400000US17,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,0400000US17,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394

In [63]:
# make sure int STATEFP joined ok to float State_FIPS [ NOTE: it joined fine]
# unclaimed_states_df[['State_FIPS', 'STATEFP']]

In [64]:
## Double check rows w/ no FIPS to make sure missing_df data retained [NOTE: it was!]
unc_states_test_df = unclaimed_states_df.loc[unclaimed_states_df['State_FIPS'].isnull()]
unc_states_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
3380,UCP5339,12/3/16,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4774,UCP2489,3/26/15,Lupien,Daryl,Male,NaN,NaN,NaN,NaN,8/18/16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5023,UCP4001,11/2/14,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5883,UCP3962,3/22/10,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5950,UCP3937,12/7/09,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6183,UCP3901,1/21/09,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6341,UCP3689,6/5/08,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6560,UCP3824,7/2/07,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6698,UCP3672,9/22/06,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6719,UCP3668,8/5/06,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6726,UCP3661,7/15/06,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6910,UCP3543,3/21/05,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7009,UCP3500,5/5/04,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7033,UCP4032,2/11/04,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7067,UCP3332,10/15/03,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7069,UCP3326,10/9/03,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7071,UCP4497,10/8/03,Gonzalez Enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7085,UCP3315,9/8/03,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7170,UCP3252,11/24/02,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7260,UCP992,7/30/99,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,NaN,NaN,NaN,NaN,4/19/19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1/4: Join state centroids dataframe to unidentified persons dataframe
##### (assign each row the coordinates of a state centroid based on the state fips code)

In [65]:
# check dataframe
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,36
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,41
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,36
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,36
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,40

In [66]:
# check dataframe length
len(unidentified_df)

13260

In [68]:
# join state centroids dataframe to unidentified persons dataframe - MAKE SURE LENGTH MATCHES LENGTH OF UNIDENTIFIED_DF
unidentified_states_df = pd.merge(left = unidentified_df, right = state_centroids_df, how = 'left', left_on = 'State_FIPS', right_on = 'STATEFP')
# len(unidentified_states_df)
unidentified_states_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,...,0400000US41,41,OR,Oregon,0,2.486070e+11,6.192387e+09,51,-120.555349,43.936619
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,...,0400000US40,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486

#### 4/4: Convert dataframes to geodataframes and export as GeoJSON files

##### 4a: missing_states_df

In [69]:
# check dataframe
missing_states_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,0400000US02,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206

In [71]:
# Convert missing persons dataframe to geodataframe
missing_states_gdf = gpd.GeoDataFrame(missing_states_df, geometry=gpd.points_from_xy(x=missing_states_df.Lon_dd, y=missing_states_df.Lat_dd))
# len(missing_states_gdf)
missing_states_gdf.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,POINT (-152.68081 64.53021)
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,POINT (-152.68081 64.53021)
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,POINT (-152.68081 64.53021)
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,POINT (-152.68081 64.53021)
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530206,POINT (-152.68081 64.53021)

In [72]:
# write to geoJSON
missing_states_gdf.to_file("JSON/missing_states.json", driver="GeoJSON", encoding='utf-8')

##### 4b: unclaimed_states_df

In [73]:
# check dataframe
unclaimed_states_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,0400000US17,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,0400000US17,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,...,0400000US36,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394

In [75]:
# Convert unclaimed persons dataframe to geodataframe
unclaimed_states_gdf = gpd.GeoDataFrame(unclaimed_states_df, geometry=gpd.points_from_xy(x=unclaimed_states_df.Lon_dd, y=unclaimed_states_df.Lat_dd))
# len(unclaimed_states_gdf)
unclaimed_states_gdf.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015,POINT (-89.19842 40.06502)
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015,POINT (-89.19842 40.06502)
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)

In [76]:
# write to geoJSON
unclaimed_states_gdf.to_file("JSON/unclaimed_states.json", driver="GeoJSON", encoding='utf-8')

##### 4c: unidentified_states_df

In [77]:
# check dataframe
unidentified_states_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,...,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,...,0400000US41,41,OR,Oregon,0,2.486070e+11,6.192387e+09,51,-120.555349,43.936619
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,...,0400000US36,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,...,0400000US40,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486

In [80]:
# Convert unidentified persons dataframe to geodataframe
unidentified_states_gdf = gpd.GeoDataFrame(unidentified_states_df, geometry=gpd.points_from_xy(x=unidentified_states_df.Lon_dd, y=unidentified_states_df.Lat_dd))
# len(unidentified_states_gdf)
unidentified_states_gdf.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
1,UP68210,4/10/2020,40.0,60.0,NaN,Linn,Oregon,Male,White / Caucasian,4/15/2020,...,41,OR,Oregon,0,2.486070e+11,6.192387e+09,51,-120.555349,43.936619,POINT (-120.55535 43.93662)
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,...,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486,POINT (-97.50829 35.58349)

In [81]:
# write to geoJSON
unidentified_states_gdf.to_file("JSON/unidentified_states.json", driver="GeoJSON", encoding='utf-8')

#### Check that GeoJSON files load properly

In [84]:
test_miss_df = gpd.read_file('JSON/missing_states.json')
# len(test_miss_df)
test_miss_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,MP68158,3/19/2020,Mencer,Steven,33,Unalaska,Aleutians West,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530205,POINT (-152.68081 64.53021)
1,MP68103,2/25/2020,Germain,Peter,76,Trapper Creek,Matanuska-Susitna,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530205,POINT (-152.68081 64.53021)
2,MP65871,1/5/2020,Pastel,Kale,36,Sitka,Sitka,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530205,POINT (-152.68081 64.53021)
3,MP64094,12/31/2019,Cobban,David,30,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530205,POINT (-152.68081 64.53021)
4,MP64101,12/31/2019,Rainey,Brock,47,Kodiak,Kodiak Island,Alaska,Male,White / Caucasian,...,2,AK,Alaska,0,1.478840e+12,2.454820e+11,28,-152.680813,64.530205,POINT (-152.68081 64.53021)

In [86]:
test_unc_df = gpd.read_file('JSON/unclaimed_states.json')
# len(test_unc_df)
test_unc_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,UCP68231,4/15/20,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015,POINT (-89.19842 40.06502)
1,UCP68248,4/13/20,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/20,...,17.0,IL,Illinois,0.0,1.437810e+11,6.214825e+09,30.0,-89.198415,40.065015,POINT (-89.19842 40.06502)
2,UCP68242,4/9/20,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)
3,UCP68244,4/9/20,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)
4,UCP68228,4/9/20,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/20,...,36.0,NY,New York,0.0,1.220490e+11,1.924699e+10,26.0,-75.505348,42.943394,POINT (-75.50535 42.94339)

In [88]:
test_uni_df = gpd.read_file('JSON/unidentified_states.json')
# len(test_uni_df)
test_uni_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,...,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,geometry
0,UP68289,4/15/2020,35.0,60.0,Queens,Queens,New York,Male,Hispanic / Latino,4/18/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
1,UP68210,4/10/2020,40.0,60.0,None,Linn,Oregon,Male,White / Caucasian,4/15/2020,...,41,OR,Oregon,0,2.486070e+11,6.192387e+09,51,-120.555349,43.936619,POINT (-120.55535 43.93662)
2,UP68081,4/10/2020,30.0,40.0,Queens,Queens,New York,Male,Hispanic / Latino,4/12/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
3,UP68075,4/10/2020,25.0,50.0,New York,New York,New York,Male,White / Caucasian,4/12/2020,...,36,NY,New York,0,1.220490e+11,1.924699e+10,26,-75.505348,42.943394,POINT (-75.50535 42.94339)
4,UP68204,4/6/2020,NaN,NaN,Oklahoma City,Cleveland,Oklahoma,Male,White / Caucasian,4/16/2020,...,40,OK,Oklahoma,0,1.776630e+11,3.374588e+09,3,-97.508293,35.583486,POINT (-97.50829 35.58349)

# Part 3: Get county-level JSONs for all 3 databases

#### Add in County FIPS column

In [ ]:
# check county dataframe
county_centroids_df.head()

In [ ]:
# Add column with compound field key
county_centroids_df['County_Key'] = county_centroids_df['STATEFP'].astype(str) + "_" + county_centroids_df['NAME']
county_centroids_df.head()

In [ ]:
# check unique values and length
county_key_list = county_centroids_df['County_Key'].unique()
len(county_key_list)

In [ ]:
# make dictionary of counties and county FIPS code (GEIOD field)
county_dict = dict(zip(county_centroids_df.County_Key, county_centroids_df.GEOID))
county_dict

In [ ]:
# check missing df
missing_df.head()

In [ ]:
# Add column with compound field key
missing_df['State_County'] = missing_df['State_FIPS'].astype(str) + "_" + missing_df['County']
missing_df.head()

In [ ]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['County_FIPS'] = missing_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
missing_df['County_FIPS'].unique()

In [ ]:
test2_df = missing_df.loc[missing_df['County_FIPS'].isnull()]
test2_df.shape

In [ ]:
test2_df.to_csv('county_nulls.csv')

In [ ]:
# check missing_df
missing_df.head()