TO DO:
1. ~Fix counties for unclaimed~
2. ~Fix counties for unidentified~
3. ~Add line to state_centroids with south pole coordinates and nonsense FIPS code~
4. ~Re-export state-level json (now that county fields have been updated within the databases and American Samoa has been removed)~
    * ~MAKE SURE TO MAP NAS to nonsense FIPS~
5. ~Add to county centroids:~
    * ~55 lines with south pole coordinates and nonsense county FIPS codes (state only_999)~
    * ~1 line with south pole coordinates and nonsense FIPS code (99)~
6. ~Format county data - state name, and then name and county FIPS code, to get GEOID~
7. ~Export county-level json~
    * ~any records with no county get pulled (to separate state FIPS with no county key and nonsense coordinates [south pole])~
    * ~make sure state name included as field with each database, not just FIPS code~
8. ~Re-export summary count JSON (as a few cases have been deleted)~
    * ~Address 21 NAs for Unclaimed?~
9. ~Clean null values for age and gender and sex and race / ethnicity~
10. Re-export state and county JSONS
11. See how bad city data would be
    * likely need to make all city names .lower

In [1]:
# import necessary packages
import pandas as pd
import geopandas as gpd
import numpy as np
import json
import geojson

Notes:
1. Edits to Missing_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands), 
  * Tennesse (to Tennessee), and 
  * Northern Mariana Islands (to Commonwealth of the Northern Mariana Islands)
  * Address all county nulls
2. Edits to Unclaimed_0418202.csv priort to import
  * Address all county nulls
3. Edits to Unidentified_04182020.csv prior to import
  * Virgin Islands (to United States Virgin Islands)
  * Address all county nulls
4. Edits to state_centroids_v2 prior to import
  * Add one row with south pole coordinates and nonsense FIPS code(99) - for cases w/ no city, county, or state
5. Edits to county_centroids_v2 prior to import
  * Add one row with south pole coordinates and nonsense FIPS code(99) - for cases w/ no city, county, or state
  * Add 55 rows with south pole coordinates and nonsense county FIPS codes(999) - for cases w/ no city or county

In [2]:
# Read in csvs
city_df = pd.read_csv('cities.csv')

In [3]:
state_centroids_df = pd.read_csv('state_centroids.csv')

In [4]:
# alternate centroids - with None option with FIPS 99
state_centroids_v2_df = pd.read_csv('state_centroids_v2.csv')

In [5]:
county_centroids_df = pd.read_csv('county_centroids.csv', encoding='Windows-1252')

In [6]:
# alternate centroids - with None options with count FIPS 999
county_centroids_v2_df = pd.read_csv('county_centroids_v2.csv', encoding='Windows-1252')

In [7]:
missing_df = pd.read_csv('Missing_04182020.csv')

In [8]:
unclaimed_df = pd.read_csv('Unclaimed_04182020.csv')

In [9]:
unidentified_df = pd.read_csv('Unidentified_04182020.csv')

In [10]:
# check dataframe
county_centroids_v2_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325,1,-88.999262,37.058489
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777,2,-84.217155,38.206742
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044,3,-86.681628,37.207292
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335,4,-83.964316,37.692451
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793,5,-83.696660,38.370126

# PART 1: Summary data (count for all 3 databases, by state)

### 1/4: Get count of missing person cases

In [ ]:
missing_count = missing_df.groupby('State').count()
len(missing_count)
missing_count.head()

In [ ]:
# Remove all columns except case number count
missing_count = missing_count.drop(columns=['DLC','Last Name', 'First Name', 'Missing Age', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
missing_count['State'] = missing_count.index

In [ ]:
# rename case number count column
missing_count = missing_count.rename(columns = {'Case Number': 'Missing_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
missing_count.head()

In [ ]:
# make dictionary of states and missing person counts
missing_dict = dict(zip(missing_count.State, missing_count.Missing_CaseCount))
len(missing_dict)
# missing_dict

In [ ]:
# Get count of values in missing database w/ no state assigned
mis_null_series = missing_df.loc[missing_df['State'].isnull()].count()
mis_null_ct = mis_null_series['Case Number']
mis_null_ct

### 2/4: Get count of unclaimed persons

In [ ]:
unclaimed_count = unclaimed_df.groupby('State').count()
# len(unclaimed_count)
unclaimed_count.head()

In [ ]:
# Remove all columns except case number count
unclaimed_count = unclaimed_count.drop(columns=['DBF','Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
unclaimed_count['State'] = unclaimed_count.index

In [ ]:
# rename case number count column
unclaimed_count = unclaimed_count.rename(columns = {'Case Number': 'Unclaimed_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
unclaimed_count.head()

In [ ]:
# make dictionary of states and unclaimed case counts
unclaimed_dict = dict(zip(unclaimed_count.State, unclaimed_count.Unclaimed_CaseCount))
len(unclaimed_dict)
# unclaimed_dict

In [ ]:
# Get count of values in unclaimed database w/ no state assigned
unc_null_series = unclaimed_df.loc[unclaimed_df['State'].isnull()].count()
unc_null_ct = unc_null_series['Case Number']
unc_null_ct

### 3/4: Get count of unidentified persons

In [ ]:
unidentified_count = unidentified_df.groupby('State').count()
# len(unidentified_count)
unidentified_count.head()

In [ ]:
# Remove all columns except case number count
unidentified_count = unidentified_count.drop(columns=['DBF','Age From', 'Age To', 'City', 'County', 'Sex', 'Race / Ethnicity', 'Date Modified'])

In [ ]:
# add column for state (since state is now index)
unidentified_count['State'] = unidentified_count.index

In [ ]:
# rename case number count column
unidentified_count = unidentified_count.rename(columns = {'Case Number': 'Unidentified_CaseCount'}, inplace = False)

In [ ]:
# check dataframe
unidentified_count.head()

In [ ]:
# make dictionary of states and unidentified case counts
unidentified_dict = dict(zip(unidentified_count.State, unidentified_count.Unidentified_CaseCount))
len(unidentified_dict)
# unidentified_dict

In [ ]:
# Get count of values in unidentified database w/ no state assigned
uni_null_series = unidentified_df.loc[unidentified_df['State'].isnull()].count()
uni_null_ct = uni_null_series['Case Number']
uni_null_ct

### 4/4: Make summary dataframe

In [ ]:
# make a new summary dataframe based on the state centroids
summary_df = state_centroids_v2_df
# sort by state name
summary_df = summary_df.sort_values(by=['STATEFP'])
summary_df.head()

In [ ]:
len(summary_df)

#### 4a: Add Missing Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the missing_dict, to pull the correct missing case count for each state
summary_df['Missing_Count'] = summary_df['NAME'].map(missing_dict)
summary_df.head()

#### 4b: Add Unclaimed Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the unclaimed_dict, to pull the correct unclaimed case count for each state
summary_df['Unclaimed_Count'] = summary_df['NAME'].map(unclaimed_dict)
summary_df.head()

In [ ]:
# Check null values [NOTE: seems fine to have nulls]
unclaimed_null_df = summary_df.loc[summary_df['Unclaimed_Count'].isnull()]
unclaimed_null_df

In [ ]:
# # change NaN Unclaimed count for fake FIPS 99 to count of values in missing database w/ no state assigned (21)
index_Series = summary_df.loc[summary_df['STATEFP']==99]
index_None = index_Series.index[0]
summary_df.loc[index_None, 'Unclaimed_Count'] = unc_null_ct
# check value
summary_df['Unclaimed_Count'][index_None]

#### 4b: Add Unidentified Person count for each state

In [ ]:
# Add new column to dataframe, using the state name field as a key in the unidentified_dict, to pull the correct unidentified case count for each state
summary_df['Unidentified_Count'] = summary_df['NAME'].map(unidentified_dict)
summary_df.head()

In [ ]:
# Check null values [NOTE: seems fine to have nulls]
unidentified_null_df = summary_df.loc[summary_df['Unidentified_Count'].isnull()]
unidentified_null_df

#### 4c: Add column for total count of cases in all three databases for each state

In [ ]:
summary_df.head()

In [ ]:
summary_df.iloc[:, -3]

In [ ]:
# Note - may need to change -4 to -3, run, then change back to -4 and re-run. DON'T KNOW WHY
summary_df['Total_Count'] = summary_df.iloc[:, -4:-1].sum(axis=1)
summary_df.head(56)

#### 4c: Convert to geodataframe and export as GeoJSON

In [ ]:
# check final summary_df
summary_df.head()

In [ ]:
# Convert dataframe to geodataframe
summary_gdf = gpd.GeoDataFrame(summary_df, geometry=gpd.points_from_xy(x=summary_df.Lon_dd, y=summary_df.Lat_dd))
summary_gdf.head()

In [ ]:
# write to geoJSON
summary_gdf.to_file("JSON/summary_counts.json", driver="GeoJSON", encoding='utf-8')

# Part 2 - Prep data by replacing null attribute values [NOT CITY, COUNTY, OR STATE - Those are addressed later]

### Clean Missing dataframe

##### Check for null values, and replace as needed

In [11]:
# check dataframe
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [12]:
## Check if any rows with null value for DLC [NOTE: Leave as NaN]
missing_attr_df = missing_df.loc[missing_df['DLC'].isnull()]
# len(missing_attr_df)
missing_attr_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
14160,MP56286,NaN,DELAHAY,Glenora,NaN,York,York,Pennsylvania,Female,White / Caucasian,4/8/2020
16310,MP54713,NaN,Garcia,Ruben,NaN,Austin,Travis,Texas,Male,Hispanic / Latino,4/3/2020

In [13]:
## Check if any rows with null value for Missing Age
missing_attr_1_df = missing_df.loc[missing_df['Missing Age'].isnull()]
# len(missing_attr_1_df)
missing_attr_1_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
3293,MP35843,7/20/1990,Renteria,Martin,NaN,Santa Ana,Orange,California,Male,Hispanic / Latino,11/21/2019
4756,MP59185,11/25/1970,Rindahl,Baby Boy,NaN,Wheat Ridge,Jefferson,Colorado,Male,White / Caucasian,1/27/2020
5480,MP38301,8/13/2014,Weedon,Nehemiah,NaN,Jacksonville,Duval,Florida,Male,Black / African American,4/13/2020
6208,MP38734,2/15/2016,Richardson,Baby,NaN,Orlando,Orange,Florida,Female,Black / African American,4/9/2020
6883,MP566,7/7/1999,Murphy,Sarah,NaN,Columbus,Muscogee,Georgia,Female,Black / African American,10/4/2011
7079,MP1284,4/21/2002,Martinez,Priscilla,NaN,Honokowai,Maui,Hawaii,Female,"White / Caucasian, Hispanic / Latino",3/5/2020
7085,MP1282,7/29/2005,Amaral,Robert,NaN,Lanai,Maui,Hawaii,Male,Other,3/5/2020
7826,MP17063,5/20/2003,Liendo,Fabian,NaN,Wapello,Louisa,Iowa,Male,"White / Caucasian, Hispanic / Latino",10/4/2017
12607,MP14033,4/1/1965,Franks,Elizabeth,NaN,Toledo,Lucas,Ohio,Female,White / Caucasian,6/1/2018
13678,MP20168,12/4/1974,Lloyd,Charles,NaN,Banks,Washington,Oregon,Male,White / Caucasian,3/2/2020
14160,MP56286,NaN,DELAHAY,Glenora,NaN,York,York,Pennsylvania,Female,White / Caucasian,4/8/2020
16310,MP54713,NaN,Garcia,Ruben,NaN,Austin,Travis,Texas,Male,Hispanic / Latino,4/3/2020

In [14]:
# Re-assign missing age values to be 'Unknown'
missing_df['Missing Age'] = missing_df['Missing Age'].fillna('Unknown')
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [15]:
## Double check re-assigned values
missing_age_test_df = missing_df.loc[missing_df['Missing Age']=='Unknown']
missing_age_test_df
# len(missing_age_test_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
3293,MP35843,7/20/1990,Renteria,Martin,Unknown,Santa Ana,Orange,California,Male,Hispanic / Latino,11/21/2019
4756,MP59185,11/25/1970,Rindahl,Baby Boy,Unknown,Wheat Ridge,Jefferson,Colorado,Male,White / Caucasian,1/27/2020
5480,MP38301,8/13/2014,Weedon,Nehemiah,Unknown,Jacksonville,Duval,Florida,Male,Black / African American,4/13/2020
6208,MP38734,2/15/2016,Richardson,Baby,Unknown,Orlando,Orange,Florida,Female,Black / African American,4/9/2020
6883,MP566,7/7/1999,Murphy,Sarah,Unknown,Columbus,Muscogee,Georgia,Female,Black / African American,10/4/2011
7079,MP1284,4/21/2002,Martinez,Priscilla,Unknown,Honokowai,Maui,Hawaii,Female,"White / Caucasian, Hispanic / Latino",3/5/2020
7085,MP1282,7/29/2005,Amaral,Robert,Unknown,Lanai,Maui,Hawaii,Male,Other,3/5/2020
7826,MP17063,5/20/2003,Liendo,Fabian,Unknown,Wapello,Louisa,Iowa,Male,"White / Caucasian, Hispanic / Latino",10/4/2017
12607,MP14033,4/1/1965,Franks,Elizabeth,Unknown,Toledo,Lucas,Ohio,Female,White / Caucasian,6/1/2018
13678,MP20168,12/4/1974,Lloyd,Charles,Unknown,Banks,Washington,Oregon,Male,White / Caucasian,3/2/2020
14160,MP56286,NaN,DELAHAY,Glenora,Unknown,York,York,Pennsylvania,Female,White / Caucasian,4/8/2020
16310,MP54713,NaN,Garcia,Ruben,Unknown,Austin,Travis,Texas,Male,Hispanic / Latino,4/3/2020

In [16]:
## Check if any rows with null value for Race / Ethnicity
missing_attr_2_df = missing_df.loc[missing_df['Race / Ethnicity'].isnull()]
# len(missing_attr_2_df)
missing_attr_2_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
12167,MP55602,4/1/1955,Williams,James,27,Marion,McDowell,North Carolina,Male,NaN,8/1/2019

In [17]:
# Re-assign missing race / ethnicity values to be 'Uncertain'
missing_df['Race / Ethnicity'] = missing_df['Race / Ethnicity'].fillna('Uncertain')
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [19]:
## Double check re-assigned values
missing_race_test_df = missing_df.loc[missing_df['Race / Ethnicity']=='Uncertain']
missing_race_test_df
# len(missing_race_test_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
252,MP55684,11/22/1979,Hoffman,Ronald,37,Dutch Harbor,Aleutians West,Alaska,Male,Uncertain,4/14/2020
259,MP34147,7/24/2004,Flores-Mata,Valeriano,32,St. Paul,Aleutians West,Alaska,Male,Uncertain,4/14/2020
306,MP57385,8/27/1985,Garcia,James,26,Anchorage,Anchorage,Alaska,Male,Uncertain,4/14/2020
307,MP43344,8/17/1981,Hawk,Robert,34,Anchorage,Anchorage,Alaska,Male,Uncertain,2/5/2020
414,MP4342,5/1/2004,Keys,Avi,19,Fairbanks,Fairbanks North Star,Alaska,Male,Uncertain,4/18/2018
462,MP66815,7/18/1981,Riddell,Randall,26,Juneau,Juneau,Alaska,Male,Uncertain,4/16/2020
463,MP67097,7/18/1981,Mourant,Rob,23,Juneau,Juneau,Alaska,Male,Uncertain,4/16/2020
465,MP66843,9/6/1967,Johnston,Kenneth,42,Juneau,Juneau,Alaska,Male,Uncertain,4/14/2020
539,MP66592,11/27/1979,Pipkin,Jay,17,Soldotna,Kenai Peninsula,Alaska,Male,Uncertain,4/14/2020
602,MP29019,5/28/1972,Torsen,Melvin,23,Kodiak,Kodiak Island,Alaska,Male,Uncertain,4/14/2020
753,MP66548,7/12/1981,Devlin,Joseph,18,Valdez,Valdez-Cordova,Alaska,Male,Uncertain,4/14/2020
770,MP64331,9/2/1981,Herman,Robert,32,Yakutat,Yakutat,Alaska,Male,Uncertain,4/14/2020
1530,MP29868,5/16/2015,Drew,Brian,35,Tucson,Pima,Arizona,Male,Uncertain,2/11/2020
2730,MP55147,10/16/1995,Chinen,Harry,62,Los Angeles,Los Angeles,California,Male,Uncertain,4/13/2020
3593,MP10987,7/27/1998,Scott,Dennis,48,Needles,San Bernardino,California,Male,Uncertain,4/27/2018
4118,MP59725,5/22/1998,Ricardo,Thomas,23,Half Moon Bay,San Mateo,California,Male,Uncertain,3/2/2020
4145,MP61612,7/19/2004,Santizo,Marilu,15,Redwood City Unincorporated,San Mateo,California,Female,Uncertain,3/2/2020
4248,MP10185,7/2/1983,Delano,Sanford,44,Davenport,Santa Cruz,California,Male,Uncertain,4/13/2020
4709,MP50381,5/8/2018,Sanders,Diamond,16,Canon City,Fremont,Colorado,Female,Uncertain,8/6/2018
6294,MP28168,6/2/1994,Lall,Bhagwan,31,Loxahatchee,Palm Beach,Florida,Male,Uncertain,3/3/2020
6295,MP28167,6/2/1994,Bueratan,Lilawattie,35,Loxahatchee,Palm Beach,Florida,Female,Uncertain,3/3/2020
6396,MP27799,1/28/1982,Franzese,Michael,"21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32...",MADEIRA BEACH,Pinellas,Florida,Male,Uncertain,4/2/2020
6536,MP3013,7/19/2002,Vazquez-Velazquez,Laureye,16,Sanford,Seminole,Florida,Male,Uncertain,1/21/2020
7039,MP10602,4/28/2011,Horak,Vladimir,63,Kalaheo,Kauai,Hawaii,Male,Uncertain,9/11/2019
7148,MP23247,6/10/2008,Cervantes,Alejandro,22,Nampa,Canyon,Idaho,Male,Uncertain,1/21/2020
8343,MP65592,8/24/2019,Maye-Duno,Justino,56,Baton Rouge,East Baton Rouge,Louisiana,Male,Uncertain,3/6/2020
8370,MP66236,1/7/2020,Thanh,Ba,61,Baton Rouge,East Baton Rouge,Louisiana,Female,Uncertain,3/6/2020
8999,MP32633,4/25/2015,Casey,Lorne,45,S. Lawrence,Essex,Massachusetts,Male,Uncertain,8/2/2017
9225,MP31073,1/16/2015,Mitin,Baby,0.5,Okemos,Ingham,Michigan,Male,Uncertain,7/9/2018
9300,MP30513,9/25/2015,Strohl,Jay,44,Saint Ignace,Mackinac,Michigan,Male,Uncertain,4/7/2020
9805,MP13037,9/17/1999,Tareq,Sophia,26,Rochester,Olmsted,Minnesota,Female,Uncertain,2/5/2020
9858,MP309,8/17/1998,Geyer,April,21,St. Cloud,Stearns,Minnesota,Female,Uncertain,2/5/2020
11087,MP64680,8/20/2018,Nieves,Anibal,56,Elizabeth,Union,New Jersey,Male,Uncertain,4/1/2020
11272,MP51206,9/9/2017,Rosales,Ashley,30,Belen,Valencia,New Mexico,Female,Uncertain,4/24/2019
12167,MP55602,4/1/1955,Williams,James,27,Marion,McDowell,North Carolina,Male,Uncertain,8/1/2019
12892,MP66385,2/10/2020,Davis,Alexis,16,Muskogee,Muskogee,Oklahoma,Female,Uncertain,4/13/2020
12950,MP64080,12/2/2019,Maurio,Acosta,14,Oklahoma City,Oklahoma,Oklahoma,Male,Uncertain,4/10/2020
13014,MP63769,8/27/1991,Bull,Edwinna or Edwina,21,Oklahoma City,Oklahoma,Oklahoma,Female,Uncertain,4/10/2020
13042,MP58107,5/26/2019,Chaffin,Chelsey,29,Stillwater,Payne,Oklahoma,Female,Uncertain,10/4/2019
13140,MP59016,2/11/2018,Castillo,Christian,2,Tulsa,Tulsa,Oklahoma,Male,Uncertain,3/20/2020
13177,MP59056,2/9/2019,Milligan,Taylor,17,Tulsa,Tulsa,Oklahoma,Female,Uncertain,3/20/2020
13396,MP37513,4/10/2015,Vicca,Viviana,15,Grants Pass,Josephine,Oregon,Female,Uncertain,3/17/2017
13810,MP19363,11/28/1983,Stalker,Doris,54,Hilliard,Butler,Pennsylvania,Female,Uncertain,3/26/2020
14422,MP23505,11/7/2012,Ruggiero,David,36,Huron,Beadle,South Dakota,Male,Uncertain,3/25/2019
14493,MP17201,8/24/1960,Sands,Robert,34,Friendship,Crockett,Tennessee,Male,Uncertain,12/18/2018
15874,MP65525,4/30/2019,Smith Marcelo,Andres,27,McAllen,Hidalgo,Texas,Male,Uncertain,3/23/2020
15987,MP31317,1/1/2011,Indicavitch,Sherry,53,Edna,Jackson,Texas,Female,Uncertain,2/27/2020
16455,MP32240,9/1/2015,Starbuck,Kenneth,63,Syracuse,Davis,Utah,Male,Uncertain,1/5/2017
16682,MP33981,5/18/2013,Mahmoud,Ahmed,8,Fairfax County,Fairfax,Virginia,Male,Uncertain,6/8/2016
16683,MP33982,5/18/2013,Mahmoud,Rawan,7,Fairfax County,Fairfax,Virginia,Female,Uncertain,7/26/2018
17152,MP14228,1/1/1975,Lhotka,Lorelee,19,Seattle,King,Washington,Female,Uncertain,3/26/2020
17388,MP36573,11/5/2016,Quiba,Bernard,48,Bothell,Snohomish,Washington,Male,Uncertain,3/17/2020
17827,MP66297,10/14/1975,Theis,Charles,76,Phelps,Vilas,Wisconsin,Male,Uncertain,3/12/2020
17842,MP50856,8/20/1999,Menger,Dakota,2,Nekoosa,Wood,Wisconsin,Male,Uncertain,2/5/2019

##### Force all names to lowercase then capitalize

In [20]:
# check dataframe
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [21]:
missing_df['Last Name'] = missing_df['Last Name'].str.lower()
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [22]:
missing_df['Last Name'] = missing_df['Last Name'].str.capitalize()
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,Johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [23]:
missing_df['First Name'] = missing_df['First Name'].str.lower()
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,james,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,Johnson,abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,james,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [24]:
missing_df['First Name'] = missing_df['First Name'].str.capitalize()
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

### Clean Unclaimed dataframe

##### Check for null values, and replace as needed

In [25]:
# check dataframe
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [26]:
## Check if any rows with null value for DBF [NOTE: Leave as NaN]
unclaimed_attr_df = unclaimed_df.loc[unclaimed_df['DBF'].isnull()]
# len(unclaimed_attr_df)
unclaimed_attr_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
7382,UCP66140,NaN,Beverly,John,NaN,NaN,NaN,Yakima,Washington,4/5/2020
7383,UCP66175,NaN,Bradford,Mary,NaN,NaN,NaN,Yakima,Washington,4/6/2020
7384,UCP66181,NaN,Neal,Terry,NaN,NaN,NaN,Yakima,Washington,4/6/2020
7385,UCP66087,NaN,Dick,Donald,NaN,NaN,NaN,Yakima,Washington,4/4/2020
7386,UCP66095,NaN,Coyle,Edgar,NaN,NaN,NaN,Yakima,Washington,4/4/2020
...,...,...,...,...,...,...,...,...,...,...
8330,UCP320,NaN,Baskin,Clyde,Male,Black / African American,Spokane Valley,Spokane,Washington,4/14/2020
8331,UCP341,NaN,Brotherton,Quilen,Male,NaN,NaN,Spokane,Washington,4/14/2020
8332,UCP326,NaN,Bell,Phillip,Male,NaN,NaN,Spokane,Washington,4/14/2020
8333,UCP345,NaN,Buonantony,Elena,Female,NaN,NaN,Spokane,Washington,4/14/2020
8334,UCP371,NaN,Callison,James,Male,NaN,NaN,Adams,Washington,4/14/2020

In [27]:
## Check if any rows with null value for last name
unclaimed_attr_1_df = unclaimed_df.loc[unclaimed_df['Last Name'].isnull()]
# len(unclaimed_attr_1_df)
unclaimed_attr_1_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
7911,UCP62756,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8265,UCP62750,NaN,NaN,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019

In [28]:
# Re-assign missing last name values to be 'Unknown'
unclaimed_df['Last Name'] = unclaimed_df['Last Name'].fillna('Unknown')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [29]:
## Double check re-assigned values
unclaimed_lname_test_df = unclaimed_df.loc[unclaimed_df['Last Name']=='Unknown']
unclaimed_lname_test_df
# len(unclaimed_lname_test_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
7911,UCP62756,NaN,Unknown,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8265,UCP62750,NaN,Unknown,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019

In [30]:
## Check if any rows with null value for first name
unclaimed_attr_2_df = unclaimed_df.loc[unclaimed_df['First Name'].isnull()]
# len(unclaimed_attr_2_df)
unclaimed_attr_2_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
7911,UCP62756,NaN,Unknown,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8168,UCP66063,NaN,Goldstein,NaN,NaN,NaN,NaN,Yakima,Washington,3/26/2020
8265,UCP62750,NaN,Unknown,NaN,NaN,NaN,NaN,San Bernardino,California,12/19/2019

In [31]:
# Re-assign missing first name values to be 'Unknown'
unclaimed_df['First Name'] = unclaimed_df['First Name'].fillna('Unknown')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [32]:
## Double check re-assigned values
unclaimed_fname_test_df = unclaimed_df.loc[unclaimed_df['First Name']=='Unknown']
unclaimed_fname_test_df
# len(unclaimed_fname_test_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
7911,UCP62756,NaN,Unknown,Unknown,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8168,UCP66063,NaN,Goldstein,Unknown,NaN,NaN,NaN,Yakima,Washington,3/26/2020
8265,UCP62750,NaN,Unknown,Unknown,NaN,NaN,NaN,San Bernardino,California,12/19/2019

In [33]:
## Check if any rows with null value for sex
unclaimed_attr_3_df = unclaimed_df.loc[unclaimed_df['Sex'].isnull()]
# len(unclaimed_attr_3_df)
unclaimed_attr_3_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
4134,UCP63503,1/22/2016,Vanderbeck,Robert,NaN,NaN,NaN,San Bernardino,California,12/19/2019
4160,UCP63509,1/10/2016,Johnson,James,NaN,NaN,NaN,San Bernardino,California,12/19/2019
4178,UCP63504,1/3/2016,McKenzie,Rexford,NaN,NaN,NaN,San Bernardino,California,12/19/2019
4181,UCP63505,12/31/2015,Schafer,Julia,NaN,NaN,NaN,San Bernardino,California,12/19/2019
4185,UCP63497,12/29/2015,Waldren,Hayward,NaN,NaN,NaN,San Bernardino,California,12/19/2019
...,...,...,...,...,...,...,...,...,...,...
8288,UCP62761,NaN,Sepulveda,Raymond,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8289,UCP62762,NaN,Cruz,Sergio,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8290,UCP62738,NaN,Hartman,William,NaN,NaN,NaN,San Bernardino,California,12/19/2019
8314,UCP1027,NaN,Miah,Mashuk,NaN,NaN,NaN,Wayne,Michigan,3/19/2020
8328,UCP1048,NaN,Haraszkiewicz,Kazimierz,NaN,NaN,NaN,Wayne,Michigan,3/19/2020

In [34]:
# Re-assign missing sex values to be 'Unknown'
unclaimed_df['Sex'] = unclaimed_df['Sex'].fillna('Unknown')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [35]:
## Double check re-assigned values
unclaimed_sex_test_df = unclaimed_df.loc[unclaimed_df['Sex']=='Unknown']
unclaimed_sex_test_df
# len(unclaimed_sex_test_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
4134,UCP63503,1/22/2016,Vanderbeck,Robert,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
4160,UCP63509,1/10/2016,Johnson,James,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
4178,UCP63504,1/3/2016,McKenzie,Rexford,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
4181,UCP63505,12/31/2015,Schafer,Julia,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
4185,UCP63497,12/29/2015,Waldren,Hayward,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
...,...,...,...,...,...,...,...,...,...,...
8288,UCP62761,NaN,Sepulveda,Raymond,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
8289,UCP62762,NaN,Cruz,Sergio,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
8290,UCP62738,NaN,Hartman,William,Unknown,NaN,NaN,San Bernardino,California,12/19/2019
8314,UCP1027,NaN,Miah,Mashuk,Unknown,NaN,NaN,Wayne,Michigan,3/19/2020
8328,UCP1048,NaN,Haraszkiewicz,Kazimierz,Unknown,NaN,NaN,Wayne,Michigan,3/19/2020

In [36]:
## Check if any rows with null value for race / ethnicity
unclaimed_attr_4_df = unclaimed_df.loc[unclaimed_df['Race / Ethnicity'].isnull()]
# len(unclaimed_attr_4_df)
unclaimed_attr_4_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
2182,UCP5385,2/18/2018,Tharpe,Ronald,Male,NaN,lakewood,Pierce,Washington,5/5/2018
2240,UCP5361,2/1/2018,Weigand,Michael,Male,NaN,Tacoma,Pierce,Washington,5/5/2018
2241,UCP5384,2/1/2018,Weigand,Michael,Male,NaN,Tacoma,Pierce,Washington,5/5/2018
2245,UCP5398,1/31/2018,Campbell,Mollie,Female,NaN,Puyallup,Pierce,Washington,5/8/2018
2268,UCP5363,1/22/2018,Claxton,Sueann,Female,NaN,Tacoma,Pierce,Washington,5/5/2018
...,...,...,...,...,...,...,...,...,...,...
8329,UCP1040,NaN,Snell,Gerald,Male,NaN,NaN,Wayne,Michigan,3/19/2020
8331,UCP341,NaN,Brotherton,Quilen,Male,NaN,NaN,Spokane,Washington,4/14/2020
8332,UCP326,NaN,Bell,Phillip,Male,NaN,NaN,Spokane,Washington,4/14/2020
8333,UCP345,NaN,Buonantony,Elena,Female,NaN,NaN,Spokane,Washington,4/14/2020
8334,UCP371,NaN,Callison,James,Male,NaN,NaN,Adams,Washington,4/14/2020

In [37]:
# Re-assign missing race / ethnicity values to be 'Uncertain'
unclaimed_df['Race / Ethnicity'] = unclaimed_df['Race / Ethnicity'].fillna('Uncertain')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [39]:
## Double check re-assigned values
unclaimed_race_test_df = unclaimed_df.loc[unclaimed_df['Race / Ethnicity']=='Uncertain']
unclaimed_race_test_df
# len(unclaimed_race_test_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
66,UCP68060,3/21/2020,Moren,Carmen,Female,Uncertain,Bronx,Bronx,New York,4/11/2020
80,UCP67791,3/18/2020,Bekeova,Ilona,Female,Uncertain,Manhattan,New York,New York,4/3/2020
98,UCP68150,3/12/2020,Bell,Thomas,Male,Uncertain,Puyallup,Pierce,Washington,4/13/2020
99,UCP67863,3/11/2020,Olave,Rigoberto,Male,Uncertain,Queens,Queens,New York,4/5/2020
108,UCP68044,3/9/2020,Alarcon,Jose,Male,Uncertain,Bronx,Bronx,New York,4/10/2020
...,...,...,...,...,...,...,...,...,...,...
8329,UCP1040,NaN,Snell,Gerald,Male,Uncertain,NaN,Wayne,Michigan,3/19/2020
8331,UCP341,NaN,Brotherton,Quilen,Male,Uncertain,NaN,Spokane,Washington,4/14/2020
8332,UCP326,NaN,Bell,Phillip,Male,Uncertain,NaN,Spokane,Washington,4/14/2020
8333,UCP345,NaN,Buonantony,Elena,Female,Uncertain,NaN,Spokane,Washington,4/14/2020
8334,UCP371,NaN,Callison,James,Male,Uncertain,NaN,Adams,Washington,4/14/2020

##### Force all names to lowercase, then capitalize

In [40]:
# check dataframe
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [41]:
unclaimed_df['Last Name'] = unclaimed_df['Last Name'].str.lower()
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [42]:
unclaimed_df['Last Name'] = unclaimed_df['Last Name'].str.capitalize()
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [43]:
unclaimed_df['First Name'] = unclaimed_df['First Name'].str.lower()
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [44]:
unclaimed_df['First Name'] = unclaimed_df['First Name'].str.capitalize()
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

### Clean Unidentified dataframe

##### Check for null values, and replace as needed

In [45]:
# check dataframe
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,NaN,NaN,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,NaN,NaN,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [46]:
## Check if any rows with null value for DBF [NOTE: Leave as NaN]
unidentified_attr_df = unidentified_df.loc[unidentified_df['DBF'].isnull()]
# len(unidentified_attr_df)
unidentified_attr_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
1621,UP54136,NaN,NaN,NaN,NaN,Pima,Arizona,NaN,Uncertain,1/16/2020
3718,UP17837,NaN,65.0,70.0,NaN,Orange,California,Male,White / Caucasian,11/1/2018

In [47]:
## Check if any rows with null value for Age From
unidentified_attr_1_df = unidentified_df.loc[unidentified_df['Age From'].isnull()]
# len(unidentified_attr_1_df)
unidentified_attr_1_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,NaN,NaN,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
3,UP55409,3/26/2000,NaN,NaN,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
34,UP51245,11/29/2017,NaN,NaN,Huntsville,Madison,Alabama,Male,Uncertain,12/27/2019
35,UP11867,12/8/2013,NaN,NaN,Huntsville,Madison,Alabama,Male,White / Caucasian,11/9/2018
36,UP51243,11/29/2017,NaN,NaN,Huntsville,Madison,Alabama,Female,Uncertain,12/27/2019
...,...,...,...,...,...,...,...,...,...,...
13206,UP52045,6/14/2018,NaN,NaN,Cyclone,Wyoming,West Virginia,Male,Uncertain,1/15/2020
13216,UP13695,11/9/1989,NaN,NaN,Paris,Kenosha,Wisconsin,Male,White / Caucasian,4/11/2017
13240,UP11611,6/5/2008,NaN,NaN,Baraboo,Sauk,Wisconsin,Male,Uncertain,11/22/2013
13248,UP7631,7/10/1973,NaN,NaN,Waukesha,Waukesha,Wisconsin,Male,White / Caucasian,11/9/2013
13251,UP58757,12/16/1970,NaN,NaN,Neenah,Winnebago,Wisconsin,Female,White / Caucasian,1/10/2020

In [48]:
# Re-assign missing age from values to be 0
unidentified_df['Age From'] = unidentified_df['Age From'].fillna(0)
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,NaN,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,0.0,NaN,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [49]:
## Double check re-assigned values
unidentified_agefrom_test_df = unidentified_df.loc[unidentified_df['Age From']==0]
unidentified_agefrom_test_df
# len(unidentified_agefrom_test_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,NaN,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
3,UP55409,3/26/2000,0.0,NaN,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
34,UP51245,11/29/2017,0.0,NaN,Huntsville,Madison,Alabama,Male,Uncertain,12/27/2019
35,UP11867,12/8/2013,0.0,NaN,Huntsville,Madison,Alabama,Male,White / Caucasian,11/9/2018
36,UP51243,11/29/2017,0.0,NaN,Huntsville,Madison,Alabama,Female,Uncertain,12/27/2019
...,...,...,...,...,...,...,...,...,...,...
13236,UP13617,11/14/2014,0.0,1.0,West Allis,Milwaukee,Wisconsin,Male,Uncertain,4/20/2016
13240,UP11611,6/5/2008,0.0,NaN,Baraboo,Sauk,Wisconsin,Male,Uncertain,11/22/2013
13248,UP7631,7/10/1973,0.0,NaN,Waukesha,Waukesha,Wisconsin,Male,White / Caucasian,11/9/2013
13251,UP58757,12/16/1970,0.0,NaN,Neenah,Winnebago,Wisconsin,Female,White / Caucasian,1/10/2020
13256,UP10781,2/28/1988,0.0,0.0,Cheyenne,Laramie,Wyoming,Male,White / Caucasian,1/24/2020

In [50]:
## Check if any rows with null value for Age To
unidentified_attr_2_df = unidentified_df.loc[unidentified_df['Age To'].isnull()]
# len(unidentified_attr_2_df)
unidentified_attr_2_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,NaN,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
3,UP55409,3/26/2000,0.0,NaN,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
34,UP51245,11/29/2017,0.0,NaN,Huntsville,Madison,Alabama,Male,Uncertain,12/27/2019
35,UP11867,12/8/2013,0.0,NaN,Huntsville,Madison,Alabama,Male,White / Caucasian,11/9/2018
36,UP51243,11/29/2017,0.0,NaN,Huntsville,Madison,Alabama,Female,Uncertain,12/27/2019
...,...,...,...,...,...,...,...,...,...,...
13206,UP52045,6/14/2018,0.0,NaN,Cyclone,Wyoming,West Virginia,Male,Uncertain,1/15/2020
13216,UP13695,11/9/1989,0.0,NaN,Paris,Kenosha,Wisconsin,Male,White / Caucasian,4/11/2017
13240,UP11611,6/5/2008,0.0,NaN,Baraboo,Sauk,Wisconsin,Male,Uncertain,11/22/2013
13248,UP7631,7/10/1973,0.0,NaN,Waukesha,Waukesha,Wisconsin,Male,White / Caucasian,11/9/2013
13251,UP58757,12/16/1970,0.0,NaN,Neenah,Winnebago,Wisconsin,Female,White / Caucasian,1/10/2020

In [51]:
# Re-assign missing age to values to be 120
unidentified_df['Age To'] = unidentified_df['Age To'].fillna(120)
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [52]:
## Double check re-assigned values
unidentified_ageto_test_df = unidentified_df.loc[unidentified_df['Age To']==120]
unidentified_ageto_test_df
# len(unidentified_ageto_test_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
34,UP51245,11/29/2017,0.0,120.0,Huntsville,Madison,Alabama,Male,Uncertain,12/27/2019
35,UP11867,12/8/2013,0.0,120.0,Huntsville,Madison,Alabama,Male,White / Caucasian,11/9/2018
36,UP51243,11/29/2017,0.0,120.0,Huntsville,Madison,Alabama,Female,Uncertain,12/27/2019
...,...,...,...,...,...,...,...,...,...,...
13206,UP52045,6/14/2018,0.0,120.0,Cyclone,Wyoming,West Virginia,Male,Uncertain,1/15/2020
13216,UP13695,11/9/1989,0.0,120.0,Paris,Kenosha,Wisconsin,Male,White / Caucasian,4/11/2017
13240,UP11611,6/5/2008,0.0,120.0,Baraboo,Sauk,Wisconsin,Male,Uncertain,11/22/2013
13248,UP7631,7/10/1973,0.0,120.0,Waukesha,Waukesha,Wisconsin,Male,White / Caucasian,11/9/2013
13251,UP58757,12/16/1970,0.0,120.0,Neenah,Winnebago,Wisconsin,Female,White / Caucasian,1/10/2020

In [53]:
## Check if any rows with null value for sex
unidentified_attr_3_df = unidentified_df.loc[unidentified_df['Sex'].isnull()]
# len(unidentified_attr_3_df)
unidentified_attr_3_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
1621,UP54136,NaN,0.0,120.0,NaN,Pima,Arizona,NaN,Uncertain,1/16/2020

In [54]:
# Re-assign missing sex values to be 'Unknown'
unidentified_df['Sex'] = unidentified_df['Sex'].fillna('Unknown')
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [55]:
## Double check re-assigned values
unidentified_sex_test_df = unidentified_df.loc[unidentified_df['Sex']=='Unknown']
unidentified_sex_test_df
# len(unidentified_sex_test_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
1621,UP54136,NaN,0.0,120.0,NaN,Pima,Arizona,Unknown,Uncertain,1/16/2020

In [56]:
## Check if any rows with null value for race / ethnicity
unidentified_attr_4_df = unidentified_df.loc[unidentified_df['Race / Ethnicity'].isnull()]
# len(unidentified_attr_4_df)
unidentified_attr_4_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
369,UP1978,11/10/2001,0.0,0.0,Gila Bend,Maricopa,Arizona,Female,NaN,7/26/2018
484,UP2024,12/1/2003,17.0,24.0,NaN,Maricopa,Arizona,Male,NaN,6/4/2014
499,UP1938,5/27/1996,22.0,43.0,NaN,Maricopa,Arizona,Male,NaN,6/4/2014
500,UP1936,2/27/1996,19.0,35.0,NaN,Maricopa,Arizona,Male,NaN,6/4/2014
506,UP1927,12/7/1991,45.0,60.0,NaN,Maricopa,Arizona,Male,NaN,4/4/2019
511,UP1914,9/23/1987,25.0,35.0,NaN,Maricopa,Arizona,Male,NaN,6/4/2014
4527,UP5903,5/9/1984,0.0,0.0,NaN,San Francisco,California,Male,NaN,7/23/2019
4528,UP5874,11/27/1981,0.0,0.0,NaN,San Francisco,California,Male,NaN,7/23/2019
4529,UP5841,3/7/1975,0.0,0.0,NaN,San Francisco,California,Male,NaN,7/23/2019
4656,UP53055,4/27/1986,0.0,120.0,Porterville,Tulare,California,Male,NaN,11/29/2018

In [57]:
# Re-assign missing race / ethnicity values to be 'Uncertain'
unidentified_df['Race / Ethnicity'] = unidentified_df['Race / Ethnicity'].fillna('Uncertain')
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [59]:
## Double check re-assigned values
unidentified_race_test_df = unidentified_df.loc[unidentified_df['Race / Ethnicity']=='Uncertain']
unidentified_race_test_df
# len(unidentified_race_test_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
6,UP5011,7/22/2007,30.0,40.0,Titus,Elmore,Alabama,Female,Uncertain,4/13/2020
7,UP15338,4/12/2002,18.0,99.0,Adger,Jefferson,Alabama,Unsure,Uncertain,3/18/2020
11,UP14991,4/8/2016,20.0,60.0,Birmingham,Jefferson,Alabama,Male,Uncertain,3/18/2020
12,UP13987,12/23/2012,18.0,99.0,Birmingham,Jefferson,Alabama,Male,Uncertain,3/18/2020
15,UP14466,6/22/2004,17.0,30.0,Birmingham,Jefferson,Alabama,Male,Uncertain,3/18/2020
...,...,...,...,...,...,...,...,...,...,...
13243,UP12012,10/11/1979,20.0,35.0,East Troy,Walworth,Wisconsin,Male,Uncertain,7/18/2019
13245,UP7405,11/18/1984,30.0,55.0,Town of Mukwonago,Waukesha,Wisconsin,Female,Uncertain,10/11/2019
13246,UP7634,9/28/1975,18.0,99.0,Town of Oconomowoc,Waukesha,Wisconsin,Male,Uncertain,1/27/2012
13249,UP7548,4/3/1976,25.0,50.0,Waukesha,Waukesha,Wisconsin,Female,Uncertain,10/3/2019
13252,UP12361,7/26/1985,30.0,65.0,Winneconne,Winnebago,Wisconsin,Female,Uncertain,10/30/2019

# Part 3 - Prep data for state-level GeoJSON with data from all 3 databases

### 2a: Add in State FIPS column to each database dataframe

In [60]:
# make dictionary of states and state FIPS code
state_dict = dict(zip(state_centroids_df.NAME, state_centroids_df.STATEFP))
# state_dict
# state_dict['Alaska']
len(state_dict)

55

#### 1/3: add state FIPS codes to missing persons dataframe

In [61]:
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016

In [62]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
missing_df['State_FIPS'] = missing_df['State'].map(state_dict)
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

In [63]:
# Check unique values in new dataframe field
missing_df['State_FIPS'].unique()

array([ 1,  2,  4,  5,  6,  8, 69,  9, 10, 11, 12, 13, 66, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 72, 44, 45, 46, 47, 48, 78, 49, 50, 51,
       53, 54, 55, 56], dtype=int64)

In [64]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
mis_test_df = missing_df.loc[missing_df['State_FIPS'].isnull()]
mis_test_df.head()

Empty DataFrame
Columns: [Case Number, DLC, Last Name, First Name, Missing Age, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS]
Index: []

In [65]:
# check missing df
missing_df.head()
# len(missing_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

#### 2/3: add state FIPS codes to unclaimed persons dataframe

In [66]:
unclaimed_df.head()
# len(unclaimed_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020

In [67]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unclaimed_df['State_FIPS'] = unclaimed_df['State'].map(state_dict)
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17.0
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17.0
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36.0
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36.0
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36.0

In [68]:
# Check unique values in new dataframe field
unclaimed_df['State_FIPS'].unique()

array([17., 36., 25.,  6., 53., 15., 32., 16., 48., 49., 47., 11., 33.,
       35., 40., 42., 39., 29.,  5., 13.,  1., 34.,  4., 12., 55.,  9.,
        8., 26., 22., 18., 19., 41., 23., nan, 45., 56., 54., 51.,  2.,
       28., 21., 37., 10., 38.])

In [69]:
## If any nulls, check to see what is producing null values [NOTE: cannot be addressed, as these cases do not have a state or county assigned]
unc_test_df = unclaimed_df.loc[unclaimed_df['State_FIPS'].isnull()]
# len(unc_test_df)
unc_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
3380,UCP5339,12/3/2016,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/2018,NaN
4774,UCP2489,3/26/2015,Lupien,Daryl,Male,Uncertain,NaN,NaN,NaN,8/18/2016,NaN
5023,UCP4001,11/2/2014,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,NaN
5883,UCP3962,3/22/2010,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/2017,NaN
5950,UCP3937,12/7/2009,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/2017,NaN
6183,UCP3901,1/21/2009,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,NaN
6341,UCP3689,6/5/2008,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,NaN
6560,UCP3824,7/2/2007,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/2017,NaN
6698,UCP3672,9/22/2006,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,NaN
6719,UCP3668,8/5/2006,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,NaN
6726,UCP3661,7/15/2006,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,NaN
6910,UCP3543,3/21/2005,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/2017,NaN
7009,UCP3500,5/5/2004,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/2017,NaN
7033,UCP4032,2/11/2004,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/2017,NaN
7067,UCP3332,10/15/2003,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,NaN
7069,UCP3326,10/9/2003,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/2017,NaN
7071,UCP4497,10/8/2003,Gonzalez enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/2017,NaN
7085,UCP3315,9/8/2003,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,NaN
7170,UCP3252,11/24/2002,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/2017,NaN
7260,UCP992,7/30/1999,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/2020,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,NaN,4/19/2019,NaN

In [70]:
# # change NaN FIPS codes (for cases with no city, county or state) to 99 (none option in state_centroids_v2.csv)
unclaimed_df['State_FIPS'] = unclaimed_df['State_FIPS'].fillna(99)
unclaimed_df['State_FIPS'] = unclaimed_df['State_FIPS'].astype(int)
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36

In [71]:
## Double check re-assigned values
unc_test_df2 = unclaimed_df.loc[unclaimed_df['State_FIPS']==99]
unc_test_df2
# len(unc_test_df2)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
3380,UCP5339,12/3/2016,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/2018,99
4774,UCP2489,3/26/2015,Lupien,Daryl,Male,Uncertain,NaN,NaN,NaN,8/18/2016,99
5023,UCP4001,11/2/2014,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,99
5883,UCP3962,3/22/2010,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/2017,99
5950,UCP3937,12/7/2009,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/2017,99
6183,UCP3901,1/21/2009,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,99
6341,UCP3689,6/5/2008,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,99
6560,UCP3824,7/2/2007,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/2017,99
6698,UCP3672,9/22/2006,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,99
6719,UCP3668,8/5/2006,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,99
6726,UCP3661,7/15/2006,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,99
6910,UCP3543,3/21/2005,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/2017,99
7009,UCP3500,5/5/2004,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/2017,99
7033,UCP4032,2/11/2004,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/2017,99
7067,UCP3332,10/15/2003,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,99
7069,UCP3326,10/9/2003,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/2017,99
7071,UCP4497,10/8/2003,Gonzalez enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/2017,99
7085,UCP3315,9/8/2003,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,99
7170,UCP3252,11/24/2002,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/2017,99
7260,UCP992,7/30/1999,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/2020,99
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,NaN,4/19/2019,99

In [72]:
# check full dataframe
len(unclaimed_df)

8335

#### 3/3: add state FIPS codes to unidentified persons dataframe

In [73]:
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019

In [74]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unidentified_df['State_FIPS'] = unidentified_df['State'].map(state_dict)
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1

In [75]:
# Check unique values in new dataframe field
unidentified_df['State_FIPS'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 66, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 72, 44, 45, 46, 47, 48, 78, 49, 50, 51, 53,
       54, 55, 56], dtype=int64)

In [76]:
## If any nulls, check to see what is producing null values [NOTE: fixed by making changes to csv fields, as noted where csvs are imported]
uni_test_df = unidentified_df.loc[unidentified_df['State_FIPS'].isnull()]
uni_test_df.head()

Empty DataFrame
Columns: [Case Number, DBF, Age From, Age To, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS]
Index: []

# Part 4: Prep data for county-level JSONs for all 3 databases

#### Add in State name and County_Key columns to county centroid v2 dataframe

In [77]:
# make dictionary of state FIPS codes and state names
state_FIPS_dict = dict(zip(state_centroids_v2_df.STATEFP, state_centroids_v2_df.NAME))
# state_FIPS_dict
# state_FIPS_dict['Alaska']
len(state_FIPS_dict)

56

In [78]:
# check county centroids v2 df
county_centroids_v2_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325,1,-88.999262,37.058489
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777,2,-84.217155,38.206742
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044,3,-86.681628,37.207292
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335,4,-83.964316,37.692451
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793,5,-83.696660,38.370126

In [79]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
county_centroids_v2_df['STATE_NAME'] = county_centroids_v2_df['STATEFP'].map(state_FIPS_dict)
# check dataframe
county_centroids_v2_df.head()
# Check unique values in new dataframe field
# county_centroids_v2_df['STATE_NAME'].unique()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,STATE_NAME
0,1,21,7,516850,0500000US21007,21007,Ballard,6,6.393875e+08,69473325,1,-88.999262,37.058489,Kentucky
1,2,21,17,516855,0500000US21017,21017,Bourbon,6,7.504394e+08,4829777,2,-84.217155,38.206742,Kentucky
2,3,21,31,516862,0500000US21031,21031,Butler,6,1.103572e+09,13943044,3,-86.681628,37.207292,Kentucky
3,4,21,65,516879,0500000US21065,21065,Estill,6,6.555099e+08,6516335,4,-83.964316,37.692451,Kentucky
4,5,21,69,516881,0500000US21069,21069,Fleming,6,9.027272e+08,7182793,5,-83.696660,38.370126,Kentucky

In [80]:
# sort county centroids by state FIPS
county_centroids_v2_df = county_centroids_v2_df.sort_values(by=['STATEFP'])
county_centroids_v2_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,STATE_NAME
1043,1044,1,61,161556,0500000US01061,1061,Geneva,6,1.487898e+09,11578163,1044,-85.839096,31.095061,Alabama
1255,1256,1,17,161534,0500000US01017,1017,Chambers,6,1.545086e+09,16971701,1256,-85.392035,32.914352,Alabama
3228,100000,1,999,9999100,9999999US100000,1999,None,0,0.000000e+00,0,99991,45.000000,-90.000000,Alabama
471,472,1,49,161550,0500000US01049,1049,DeKalb,6,2.012676e+09,4121543,472,-85.804114,34.459807,Alabama
472,473,1,63,161557,0500000US01063,1063,Greene,6,1.675782e+09,33416141,473,-87.952209,32.853154,Alabama

In [81]:
# Add column with compound field key
county_centroids_v2_df['County_Key'] = county_centroids_v2_df['STATEFP'].astype(str) + "_" + county_centroids_v2_df['NAME']
county_centroids_v2_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,STATE_NAME,County_Key
1043,1044,1,61,161556,0500000US01061,1061,Geneva,6,1.487898e+09,11578163,1044,-85.839096,31.095061,Alabama,1_Geneva
1255,1256,1,17,161534,0500000US01017,1017,Chambers,6,1.545086e+09,16971701,1256,-85.392035,32.914352,Alabama,1_Chambers
3228,100000,1,999,9999100,9999999US100000,1999,None,0,0.000000e+00,0,99991,45.000000,-90.000000,Alabama,1_None
471,472,1,49,161550,0500000US01049,1049,DeKalb,6,2.012676e+09,4121543,472,-85.804114,34.459807,Alabama,1_DeKalb
472,473,1,63,161557,0500000US01063,1063,Greene,6,1.675782e+09,33416141,473,-87.952209,32.853154,Alabama,1_Greene

In [82]:
# check unique values and length
county_key_v2_list = county_centroids_v2_df['County_Key'].unique()
len(county_key_v2_list)

3283

In [83]:
# make dictionary of counties and county FIPS code (GEOID field)
county_v2_dict = dict(zip(county_centroids_v2_df.County_Key, county_centroids_v2_df.GEOID))
len(county_v2_dict)

3283

#### Add in County_key column to county centroids dataframe

In [84]:
# sort county centroids by state FIPS
county_centroids_df = county_centroids_df.sort_values(by=['STATEFP'])
county_centroids_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
3211,3212,1,121,161586,0500000US01121,1121,Talladega,6,1.908257e+09,60926366,3218,-86.165890,33.380086
1194,1195,1,93,161573,0500000US01093,1093,Marion,6,1.922657e+09,3184076,1195,-87.887140,34.136562
1255,1256,1,17,161534,0500000US01017,1017,Chambers,6,1.545086e+09,16971701,1256,-85.392035,32.914352
1215,1216,1,59,161555,0500000US01059,1059,Franklin,6,1.641841e+09,32643981,1216,-87.843740,34.441699
2780,2781,1,127,161589,0500000US01127,1127,Walker,6,2.048686e+09,36754696,2785,-87.297329,33.803318

In [85]:
# Add column with compound field key
county_centroids_df['County_Key'] = county_centroids_df['STATEFP'].astype(str) + "_" + county_centroids_df['NAME']
county_centroids_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,County_Key
3211,3212,1,121,161586,0500000US01121,1121,Talladega,6,1.908257e+09,60926366,3218,-86.165890,33.380086,1_Talladega
1194,1195,1,93,161573,0500000US01093,1093,Marion,6,1.922657e+09,3184076,1195,-87.887140,34.136562,1_Marion
1255,1256,1,17,161534,0500000US01017,1017,Chambers,6,1.545086e+09,16971701,1256,-85.392035,32.914352,1_Chambers
1215,1216,1,59,161555,0500000US01059,1059,Franklin,6,1.641841e+09,32643981,1216,-87.843740,34.441699,1_Franklin
2780,2781,1,127,161589,0500000US01127,1127,Walker,6,2.048686e+09,36754696,2785,-87.297329,33.803318,1_Walker

In [86]:
# check unique values and length
county_key_list = county_centroids_df['County_Key'].unique()
len(county_key_list)

3227

In [87]:
# make dictionary of counties and county FIPS code (GEOID field)
county_dict = dict(zip(county_centroids_df.County_Key, county_centroids_df.GEOID))
len(county_dict)

3227

#### Add in County FIPS column to missing dataframe

##### To identify null values, add in County FIPS column to missing dataframe using county_centroids_df

In [88]:
# check missing df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1

In [89]:
# Add column with compound field key
missing_df['State_County'] = missing_df['State_FIPS'].astype(str) + "_" + missing_df['County']
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin

In [90]:
# Add new column to dataframe, using the State_County name field as a key in the county_dict, to pull the correct County FIPS code for each row
missing_df['County_FIPS'] = missing_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
missing_df['County_FIPS'].unique()

array([ 1001.,  1003.,  1005., ..., 56035., 56037., 56039.])

In [91]:
# check null values [NOTE: all ok - no city or county assigned]
missing_county_null_df = missing_df.loc[missing_df['County_FIPS'].isnull()]
# missing_county_null_df.shape
missing_county_null_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna aponte,John,12,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,NaN,NaN
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,NaN,Puerto Rico,Male,Black / African American,3/12/2020,72,NaN,NaN
14183,MP4568,5/4/1974,Colonna aponte,Giannina,11,NaN,NaN,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,NaN,NaN

In [95]:
# As needed, export nulls to address [NOTE: all that can have been addressed]
# missing_county_null_df.to_csv('missing_county_nulls.csv', encoding='Windows-1252')

In [96]:
# check missing_df
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001.0
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga,1001.0
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin,1003.0
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin,1003.0
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin,1003.0

##### Replace null state values with 'None' and null county values with 'None', then re-write county_FIPS column using county_centroids_v2_dataframe

In [97]:
## Check if any rows with null value for 'State'
mis_state_test_df = missing_df.loc[missing_df['State'].isnull()]
# len(mis_state_test_df)
mis_state_test_df

Empty DataFrame
Columns: [Case Number, DLC, Last Name, First Name, Missing Age, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS, State_County, County_FIPS]
Index: []

In [98]:
## Check if any rows with null value for 'City' and County'
mis_county_test_df = missing_df.loc[missing_df['County'].isnull()]
# len(mis_county_test_df)
mis_county_test_df

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna aponte,John,12,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,NaN,NaN
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,NaN,Puerto Rico,Male,Black / African American,3/12/2020,72,NaN,NaN
14183,MP4568,5/4/1974,Colonna aponte,Giannina,11,NaN,NaN,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,NaN,NaN

In [99]:
# # change NaN County name (for cases with no city or county) to 'None'
missing_df['County'] = missing_df['County'].fillna('None')
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001.0
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga,1001.0
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin,1003.0
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin,1003.0
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin,1003.0

In [100]:
## Double check re-assigned values
mis_county_test_2_df = missing_df.loc[missing_df['County']=='None']
mis_county_test_2_df
# len(mis_county_test_2_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna aponte,John,12,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,NaN,NaN
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,None,Puerto Rico,Male,Black / African American,3/12/2020,72,NaN,NaN
14183,MP4568,5/4/1974,Colonna aponte,Giannina,11,NaN,None,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,NaN,NaN

In [101]:
# Re-Add column with compound field key
missing_df['State_County'] = missing_df['State_FIPS'].astype(str) + "_" + missing_df['County']
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001.0
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga,1001.0
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin,1003.0
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin,1003.0
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin,1003.0

In [102]:
## Double check re-assigned values
mis_county_test_3_df = missing_df.loc[missing_df['County']=='None']
mis_county_test_3_df
# len(mis_county_test_3_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna aponte,John,12,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,72_None,NaN
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,None,Puerto Rico,Male,Black / African American,3/12/2020,72,72_None,NaN
14183,MP4568,5/4/1974,Colonna aponte,Giannina,11,NaN,None,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,72_None,NaN

In [103]:
# Re-add County FIPS column to dataframe, using the State_County name field as a key in the county_v2_dict, to pull the correct County FIPS code for each row
missing_df['County_FIPS'] = missing_df['State_County'].map(county_v2_dict)
# Check unique values in new dataframe field
missing_df['County_FIPS'].unique()

array([ 1001,  1003,  1005, ..., 56035, 56037, 56039], dtype=int64)

In [104]:
# check null values to make sure none are left [Note - all gone!]
missing_county_null_v2_df = missing_df.loc[missing_df['County_FIPS'].isnull()]
# missing_county_null_v2_df.shape
missing_county_null_v2_df

Empty DataFrame
Columns: [Case Number, DLC, Last Name, First Name, Missing Age, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS, State_County, County_FIPS]
Index: []

In [105]:
## Double check re-assigned values
mis_county_test_4_df = missing_df.loc[missing_df['County']=='None']
mis_county_test_4_df
# len(mis_county_test_4_df)

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
14181,MP4569,5/5/1974,Colonna aponte,John,12,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",5/15/2018,72,72_None,72999
14182,MP54374,12/15/1984,Cruz,Marcos,2,NaN,None,Puerto Rico,Male,Black / African American,3/12/2020,72,72_None,72999
14183,MP4568,5/4/1974,Colonna aponte,Giannina,11,NaN,None,Puerto Rico,Female,"White / Caucasian, Hispanic / Latino",4/25/2018,72,72_None,72999

#### Add in County FIPS column to unclaimed dataframe

##### To identify null values, add in County FIPS column to unclaimed dataframe using county_centroids_df

In [106]:
# check unclaimed df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36

In [107]:
# Add column with compound field key
unclaimed_df['State_County'] = unclaimed_df['State_FIPS'].astype(str) + "_" + unclaimed_df['County']
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York

In [108]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unclaimed_df['County_FIPS'] = unclaimed_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
unclaimed_df['County_FIPS'].unique()

array([17197., 36061., 36047., 36005., 36081., 25025.,  6073., 17063.,
       36085., 53053., 15003., 32031., 25021., 25027., 16001., 25009.,
       25017., 25003., 25013., 25023., 32027., 25015.,  6047., 48201.,
       49035., 47093., 53075., 53027., 11001., 25005., 47157., 33005.,
       35031., 53049., 53077., 40143., 42029., 47155., 47001., 39099.,
       29019.,  6075.,  5143.,  6093., 13121.,  1073., 34025., 34023.,
       25001.,  4019.,  4013.,  6023.,  6099., 34001., 12087., 47035.,
        6037., 40121., 53061., 55025.,  6071.,  9003., 48141., 48339.,
        9009., 42101., 12071., 53033., 17043., 34021.,  9011., 48215.,
        8087., 12051., 26163.,  9001., 47009., 17031., 22069.,  9005.,
       32005.,  9007., 47065., 34013.,    nan,  4007., 47013., 18067.,
       42001.,  6059., 19155.,  6083., 26025., 40101., 40041., 42091.,
       55057., 48167., 19153.,  6025., 26121., 40145., 25011.,  9015.,
        1115.,  5035., 53035., 53073., 41051., 16027., 23005., 47179.,
       48469., 40135., 34029., 40097., 16013., 29051., 48229., 40115.,
       45007., 12075., 35059., 53001.,  8031., 36119., 22051., 56013.,
       40021., 22079., 36001.,  6001., 53057., 32003., 47105., 36103.,
       18111., 40037., 40073., 40131., 22019., 39081., 39035., 54001.,
       40107., 40109., 51700., 45031., 17001., 55127., 53063., 41005.,
       36105., 32510., 33015., 40035., 40081., 23011., 54039.,  4015.,
        2013., 40147., 40027., 54011., 51175., 40017., 47173.,  6065.,
       54065., 34031., 54099., 28049., 51710., 42011., 45045., 17201.,
       21209., 51650., 51810., 45019., 53029., 54027., 26067., 12001.,
       26065., 26077., 55085., 54069., 54107., 29189., 54025., 33009.,
       37047., 45001., 37077.,  4021.,  8035.,  6067., 10005., 12021.,
       38001., 35013., 35035., 37101., 22095., 37119., 12107., 12109.,
       54003., 28123., 12083., 47187., 12086., 12057., 54029., 18013.,
       48473., 47007., 12009.])

In [109]:
# check null values
unclaimed_county_null_df = unclaimed_df.loc[unclaimed_df['County_FIPS'].isnull()]
# unclaimed_county_null_df.shape
unclaimed_county_null_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
1996,UCP5438,4/30/2018,Flores,Victor,Male,Black / African American,NaN,NaN,New York,5/14/2019,36,NaN,NaN
2011,UCP5440,4/22/2018,Browne,Edward,Male,Hispanic / Latino,NaN,NaN,New York,5/27/2019,36,NaN,NaN
2028,UCP5297,4/15/2018,Davis,Thelma,Female,Black / African American,NaN,NaN,New York,5/20/2019,36,NaN,NaN
2031,UCP5296,4/14/2018,Fasulo,Timothy,Male,White / Caucasian,NaN,NaN,New York,4/25/2019,36,NaN,NaN
2033,UCP5439,4/14/2018,Reyes,Nivia,Female,Other,NaN,NaN,New York,5/27/2019,36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,UCP990,11/6/1997,Pope,Leon,Male,White / Caucasian,NaN,NaN,Washington,4/14/2020,53,NaN,NaN
7339,UCP1999,10/22/1991,Robles,Salvador,Male,Other,NaN,NaN,Tennessee,1/10/2020,47,NaN,NaN
7344,UCP4522,10/18/1990,Way,Kenneth,Male,Black / African American,NaN,NaN,New York,5/11/2019,36,NaN,NaN
7372,UCP1548,6/17/1973,Seah,Tee kee,Male,Asian,NaN,NaN,Nevada,5/28/2019,32,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,NaN,4/19/2019,99,NaN,NaN

In [110]:
# As needed, export nulls to address [NOTE: all have been addressed. 1241 cases have no county]
# unclaimed_county_null_df.to_csv('unclaimed_county_nulls.csv', encoding='Windows-1252')

In [111]:
# check unclaimed_df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York,36061.0
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings,36047.0
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York,36061.0

##### Replace null state values with 'None' and null county values with 'None', then re-write county_FIPS column using county_centroids_v2_dataframe

In [112]:
## Check if any rows with null value for 'State'
unc_state_test_df = unclaimed_df.loc[unclaimed_df['State'].isnull()]
# len(unc_state_test_df)
unc_state_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
3380,UCP5339,12/3/2016,Williams,Barbara,Female,Asian,NaN,NaN,NaN,5/3/2018,99,NaN,NaN
4774,UCP2489,3/26/2015,Lupien,Daryl,Male,Uncertain,NaN,NaN,NaN,8/18/2016,99,NaN,NaN
5023,UCP4001,11/2/2014,Brown,David,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,99,NaN,NaN
5883,UCP3962,3/22/2010,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,NaN,5/11/2017,99,NaN,NaN
5950,UCP3937,12/7/2009,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,NaN,5/11/2017,99,NaN,NaN
6183,UCP3901,1/21/2009,Carney,John,Male,White / Caucasian,NaN,NaN,NaN,5/11/2017,99,NaN,NaN
6341,UCP3689,6/5/2008,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,99,NaN,NaN
6560,UCP3824,7/2/2007,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,NaN,5/4/2017,99,NaN,NaN
6698,UCP3672,9/22/2006,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,NaN,5/2/2017,99,NaN,NaN
6719,UCP3668,8/5/2006,Huff,Paul,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,99,NaN,NaN
6726,UCP3661,7/15/2006,Williams,Michael,Male,White / Caucasian,NaN,NaN,NaN,5/2/2017,99,NaN,NaN
6910,UCP3543,3/21/2005,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,NaN,4/20/2017,99,NaN,NaN
7009,UCP3500,5/5/2004,Knox,Michael,Male,White / Caucasian,NaN,NaN,NaN,4/18/2017,99,NaN,NaN
7033,UCP4032,2/11/2004,Butler,Donald,Male,White / Caucasian,NaN,NaN,NaN,5/16/2017,99,NaN,NaN
7067,UCP3332,10/15/2003,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,99,NaN,NaN
7069,UCP3326,10/9/2003,Shand,Steven,Male,White / Caucasian,NaN,NaN,NaN,3/30/2017,99,NaN,NaN
7071,UCP4497,10/8/2003,Gonzalez enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,NaN,8/28/2017,99,NaN,NaN
7085,UCP3315,9/8/2003,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,NaN,3/30/2017,99,NaN,NaN
7170,UCP3252,11/24/2002,Hickey,William,Male,White / Caucasian,NaN,NaN,NaN,3/28/2017,99,NaN,NaN
7260,UCP992,7/30/1999,Pruit,Frank,Male,White / Caucasian,NaN,NaN,NaN,4/14/2020,99,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,NaN,4/19/2019,99,NaN,NaN

In [113]:
# # change NaN State name (for cases with no city or county or state) to 'None'
unclaimed_df['State'] = unclaimed_df['State'].fillna('None')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York,36061.0
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings,36047.0
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York,36061.0

In [114]:
## Double check re-assigned values
unc_state_test_2_df = unclaimed_df.loc[unclaimed_df['State']=='None']
unc_state_test_2_df
# len(unc_state_test_2_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
3380,UCP5339,12/3/2016,Williams,Barbara,Female,Asian,NaN,NaN,None,5/3/2018,99,NaN,NaN
4774,UCP2489,3/26/2015,Lupien,Daryl,Male,Uncertain,NaN,NaN,None,8/18/2016,99,NaN,NaN
5023,UCP4001,11/2/2014,Brown,David,Male,White / Caucasian,NaN,NaN,None,5/11/2017,99,NaN,NaN
5883,UCP3962,3/22/2010,Gonzalez,David,Male,Hispanic / Latino,NaN,NaN,None,5/11/2017,99,NaN,NaN
5950,UCP3937,12/7/2009,Togovnick,Bernice,Female,White / Caucasian,NaN,NaN,None,5/11/2017,99,NaN,NaN
6183,UCP3901,1/21/2009,Carney,John,Male,White / Caucasian,NaN,NaN,None,5/11/2017,99,NaN,NaN
6341,UCP3689,6/5/2008,Guzman,Ralph,Male,Hispanic / Latino,NaN,NaN,None,5/2/2017,99,NaN,NaN
6560,UCP3824,7/2/2007,Vasquez,Rafael,Male,Hispanic / Latino,NaN,NaN,None,5/4/2017,99,NaN,NaN
6698,UCP3672,9/22/2006,Barajas,Epifanio,Male,Hispanic / Latino,NaN,NaN,None,5/2/2017,99,NaN,NaN
6719,UCP3668,8/5/2006,Huff,Paul,Male,White / Caucasian,NaN,NaN,None,5/2/2017,99,NaN,NaN
6726,UCP3661,7/15/2006,Williams,Michael,Male,White / Caucasian,NaN,NaN,None,5/2/2017,99,NaN,NaN
6910,UCP3543,3/21/2005,Russell,Carlos,Male,Hispanic / Latino,NaN,NaN,None,4/20/2017,99,NaN,NaN
7009,UCP3500,5/5/2004,Knox,Michael,Male,White / Caucasian,NaN,NaN,None,4/18/2017,99,NaN,NaN
7033,UCP4032,2/11/2004,Butler,Donald,Male,White / Caucasian,NaN,NaN,None,5/16/2017,99,NaN,NaN
7067,UCP3332,10/15/2003,Sanchez,Ricardo,Male,Hispanic / Latino,NaN,NaN,None,3/30/2017,99,NaN,NaN
7069,UCP3326,10/9/2003,Shand,Steven,Male,White / Caucasian,NaN,NaN,None,3/30/2017,99,NaN,NaN
7071,UCP4497,10/8/2003,Gonzalez enriquez,Pedro,Male,"White / Caucasian, Hispanic / Latino",NaN,NaN,None,8/28/2017,99,NaN,NaN
7085,UCP3315,9/8/2003,Siguenza,Dagoberto,Male,Hispanic / Latino,NaN,NaN,None,3/30/2017,99,NaN,NaN
7170,UCP3252,11/24/2002,Hickey,William,Male,White / Caucasian,NaN,NaN,None,3/28/2017,99,NaN,NaN
7260,UCP992,7/30/1999,Pruit,Frank,Male,White / Caucasian,NaN,NaN,None,4/14/2020,99,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,None,4/19/2019,99,NaN,NaN

In [115]:
## Check if any rows with null value for 'City' and County'
unc_county_test_df = unclaimed_df.loc[unclaimed_df['County'].isnull()]
# len(unc_county_test_df)
unc_county_test_df

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
1996,UCP5438,4/30/2018,Flores,Victor,Male,Black / African American,NaN,NaN,New York,5/14/2019,36,NaN,NaN
2011,UCP5440,4/22/2018,Browne,Edward,Male,Hispanic / Latino,NaN,NaN,New York,5/27/2019,36,NaN,NaN
2028,UCP5297,4/15/2018,Davis,Thelma,Female,Black / African American,NaN,NaN,New York,5/20/2019,36,NaN,NaN
2031,UCP5296,4/14/2018,Fasulo,Timothy,Male,White / Caucasian,NaN,NaN,New York,4/25/2019,36,NaN,NaN
2033,UCP5439,4/14/2018,Reyes,Nivia,Female,Other,NaN,NaN,New York,5/27/2019,36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,UCP990,11/6/1997,Pope,Leon,Male,White / Caucasian,NaN,NaN,Washington,4/14/2020,53,NaN,NaN
7339,UCP1999,10/22/1991,Robles,Salvador,Male,Other,NaN,NaN,Tennessee,1/10/2020,47,NaN,NaN
7344,UCP4522,10/18/1990,Way,Kenneth,Male,Black / African American,NaN,NaN,New York,5/11/2019,36,NaN,NaN
7372,UCP1548,6/17/1973,Seah,Tee kee,Male,Asian,NaN,NaN,Nevada,5/28/2019,32,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,NaN,None,4/19/2019,99,NaN,NaN

In [116]:
# # change NaN County name (for cases with no city or county) to 'None'
unclaimed_df['County'] = unclaimed_df['County'].fillna('None')
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York,36061.0
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings,36047.0
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York,36061.0

In [117]:
## Double check re-assigned values
unc_county_test_2_df = unclaimed_df.loc[unclaimed_df['County']=='None']
unc_county_test_2_df
# len(unc_county_test_2_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
1996,UCP5438,4/30/2018,Flores,Victor,Male,Black / African American,NaN,None,New York,5/14/2019,36,NaN,NaN
2011,UCP5440,4/22/2018,Browne,Edward,Male,Hispanic / Latino,NaN,None,New York,5/27/2019,36,NaN,NaN
2028,UCP5297,4/15/2018,Davis,Thelma,Female,Black / African American,NaN,None,New York,5/20/2019,36,NaN,NaN
2031,UCP5296,4/14/2018,Fasulo,Timothy,Male,White / Caucasian,NaN,None,New York,4/25/2019,36,NaN,NaN
2033,UCP5439,4/14/2018,Reyes,Nivia,Female,Other,NaN,None,New York,5/27/2019,36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,UCP990,11/6/1997,Pope,Leon,Male,White / Caucasian,NaN,None,Washington,4/14/2020,53,NaN,NaN
7339,UCP1999,10/22/1991,Robles,Salvador,Male,Other,NaN,None,Tennessee,1/10/2020,47,NaN,NaN
7344,UCP4522,10/18/1990,Way,Kenneth,Male,Black / African American,NaN,None,New York,5/11/2019,36,NaN,NaN
7372,UCP1548,6/17/1973,Seah,Tee kee,Male,Asian,NaN,None,Nevada,5/28/2019,32,NaN,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,None,None,4/19/2019,99,NaN,NaN

In [118]:
# Re-Add column with compound field key
unclaimed_df['State_County'] = unclaimed_df['State_FIPS'].astype(str) + "_" + unclaimed_df['County']
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197.0
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York,36061.0
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings,36047.0
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York,36061.0

In [119]:
## Double check re-assigned values
unc_county_test_3_df = unclaimed_df.loc[unclaimed_df['County']=='None']
unc_county_test_3_df
# len(unc_county_test_3_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
1996,UCP5438,4/30/2018,Flores,Victor,Male,Black / African American,NaN,None,New York,5/14/2019,36,36_None,NaN
2011,UCP5440,4/22/2018,Browne,Edward,Male,Hispanic / Latino,NaN,None,New York,5/27/2019,36,36_None,NaN
2028,UCP5297,4/15/2018,Davis,Thelma,Female,Black / African American,NaN,None,New York,5/20/2019,36,36_None,NaN
2031,UCP5296,4/14/2018,Fasulo,Timothy,Male,White / Caucasian,NaN,None,New York,4/25/2019,36,36_None,NaN
2033,UCP5439,4/14/2018,Reyes,Nivia,Female,Other,NaN,None,New York,5/27/2019,36,36_None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,UCP990,11/6/1997,Pope,Leon,Male,White / Caucasian,NaN,None,Washington,4/14/2020,53,53_None,NaN
7339,UCP1999,10/22/1991,Robles,Salvador,Male,Other,NaN,None,Tennessee,1/10/2020,47,47_None,NaN
7344,UCP4522,10/18/1990,Way,Kenneth,Male,Black / African American,NaN,None,New York,5/11/2019,36,36_None,NaN
7372,UCP1548,6/17/1973,Seah,Tee kee,Male,Asian,NaN,None,Nevada,5/28/2019,32,32_None,NaN
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,None,None,4/19/2019,99,99_None,NaN

In [120]:
# Re-add County FIPS column to dataframe, using the State_County name field as a key in the county_v2_dict, to pull the correct County FIPS code for each row
unclaimed_df['County_FIPS'] = unclaimed_df['State_County'].map(county_v2_dict)
# Check unique values in new dataframe field
unclaimed_df['County_FIPS'].unique()

array([17197, 36061, 36047, 36005, 36081, 25025,  6073, 17063, 36085,
       53053, 15003, 32031, 25021, 25027, 16001, 25009, 25017, 25003,
       25013, 25023, 32027, 25015,  6047, 48201, 49035, 47093, 53075,
       53027, 11001, 25005, 47157, 33005, 35031, 53049, 53077, 40143,
       42029, 47155, 47001, 39099, 29019,  6075,  5143,  6093, 13121,
        1073, 34025, 34023, 25001,  4019,  4013,  6023,  6099, 34001,
       12087, 47035,  6037, 40121, 53061, 55025,  6071,  9003, 48141,
       48339,  9009, 42101, 12071, 53033, 17043, 34021,  9011, 48215,
        8087, 12051, 26163,  9001, 47009, 17031, 22069,  9005, 32005,
        9007, 47065, 34013, 36999,  4007, 47013, 18067, 42001,  6059,
       19155,  6083, 26025, 40101, 40041, 42091, 55057, 17999, 48167,
       19153,  6025, 40999, 42999, 26121, 40145, 25011,  9015,  1115,
        5035, 53035, 53073, 41051, 16027, 23005, 47179, 48469, 40135,
       99999, 34029, 40097, 16013, 29051, 48229, 40115, 45007, 12075,
       35059, 53001,  8031, 49999, 36119,  6999, 22051, 56013, 40021,
       22079, 36001,  6001, 53057, 32003, 47105, 36103, 18111, 32999,
       40037, 40073, 40131, 22019, 39081, 39035, 54001, 40107, 40109,
       51700, 45031, 17001, 55127, 53063, 41005, 25999, 36105, 32510,
       33015, 40035, 40081, 23011, 54039,  4015,  2013, 40147, 40027,
       54011, 51175, 40017, 47173,  6065, 54065, 34031, 54099, 28049,
       51710, 42011, 53999, 45045, 17201, 21209, 51650, 51810, 45019,
       53029, 54027, 26067, 12001, 26065, 26077, 55085, 54069, 54107,
       29189, 54025, 33009, 37047, 45999, 45001, 37077,  4021,  8035,
        6067, 10005, 12021, 38001, 35013, 35035, 37101, 22095, 37119,
       12107, 47999, 12109, 54003, 28123, 12083, 47187, 12086, 12057,
       54029, 18013, 48473, 47007, 12009], dtype=int64)

In [121]:
# check null values to make sure none are left [Note - all gone!]
unclaimed_county_null_v2_df = unclaimed_df.loc[unclaimed_df['County_FIPS'].isnull()]
# unclaimed_county_null_v2_df.shape
unclaimed_county_null_v2_df

Empty DataFrame
Columns: [Case Number, DBF, Last Name, First Name, Sex, Race / Ethnicity, City, County, State, Date Modified, State_FIPS, State_County, County_FIPS]
Index: []

In [122]:
## Double check re-assigned values
unc_county_test_4_df = unclaimed_df.loc[unclaimed_df['County']=='None']
unc_county_test_4_df
# len(unc_county_test_4_df)

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
1996,UCP5438,4/30/2018,Flores,Victor,Male,Black / African American,NaN,None,New York,5/14/2019,36,36_None,36999
2011,UCP5440,4/22/2018,Browne,Edward,Male,Hispanic / Latino,NaN,None,New York,5/27/2019,36,36_None,36999
2028,UCP5297,4/15/2018,Davis,Thelma,Female,Black / African American,NaN,None,New York,5/20/2019,36,36_None,36999
2031,UCP5296,4/14/2018,Fasulo,Timothy,Male,White / Caucasian,NaN,None,New York,4/25/2019,36,36_None,36999
2033,UCP5439,4/14/2018,Reyes,Nivia,Female,Other,NaN,None,New York,5/27/2019,36,36_None,36999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,UCP990,11/6/1997,Pope,Leon,Male,White / Caucasian,NaN,None,Washington,4/14/2020,53,53_None,53999
7339,UCP1999,10/22/1991,Robles,Salvador,Male,Other,NaN,None,Tennessee,1/10/2020,47,47_None,47999
7344,UCP4522,10/18/1990,Way,Kenneth,Male,Black / African American,NaN,None,New York,5/11/2019,36,36_None,36999
7372,UCP1548,6/17/1973,Seah,Tee kee,Male,Asian,NaN,None,Nevada,5/28/2019,32,32_None,32999
8144,UCP771,NaN,Garcia,Richard,Male,Uncertain,NaN,None,None,4/19/2019,99,99_None,99999

#### Add in County FIPS column to unidentified dataframe

##### To identify null values, add in County FIPS column to unidentified dataframe using county_centroids_df

In [123]:
# check unidentified df
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1

In [124]:
# Add column with compound field key
unidentified_df['State_County'] = unidentified_df['State_FIPS'].astype(str) + "_" + unidentified_df['County']
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1,1_Autauga
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1,1_Baldwin
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1,1_Baldwin
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1,1_Bibb

In [125]:
# Add new column to dataframe, using the state name field as a key in the state_dict, to pull the correct FIPS code for each row
unidentified_df['County_FIPS'] = unidentified_df['State_County'].map(county_dict)
# Check unique values in new dataframe field
unidentified_df['County_FIPS'].unique()

array([ 1001.,  1003.,  1007., ..., 56021., 56033., 56037.])

In [126]:
# check null values
unidentified_county_null_df = unidentified_df.loc[unidentified_df['County_FIPS'].isnull()]
# unidentified_county_null_df.shape
# len(unidentified_county_null_df)
unidentified_county_null_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
55,UP14028,12/21/1991,18.0,25.0,NaN,NaN,Alabama,Male,White / Caucasian,3/31/2017,1,NaN,NaN
109,UP13395,9/20/2004,0.0,120.0,NaN,NaN,Alaska,Male,Uncertain,4/14/2020,2,NaN,NaN
110,UP7281,4/30/2001,20.0,30.0,NaN,NaN,Alaska,Male,White / Caucasian,4/14/2020,2,NaN,NaN
111,UP13575,9/11/1997,0.0,120.0,NaN,NaN,Alaska,Male,Uncertain,7/2/2018,2,NaN,NaN
6392,UP4846,4/14/1988,37.0,52.0,NaN,NaN,Indiana,Female,White / Caucasian,6/3/2017,18,NaN,NaN
7676,UP5018,4/19/1996,49.0,59.0,NaN,NaN,Missouri,Female,Black / African American,10/23/2018,29,NaN,NaN
8536,UP17664,1/29/2018,0.0,120.0,NaN,NaN,New Mexico,Male,Uncertain,1/21/2020,35,NaN,NaN
8540,UP16690,5/3/2017,0.0,120.0,NaN,NaN,New Mexico,Unsure,Uncertain,2/8/2020,35,NaN,NaN
8541,UP5578,3/26/2003,50.0,60.0,NaN,NaN,New Mexico,Female,Black / African American,10/24/2018,35,NaN,NaN
10966,UP56112,10/10/2017,0.0,120.0,NaN,NaN,Puerto Rico,Male,Uncertain,2/10/2020,72,NaN,NaN
10967,UP17155,12/3/2016,10.0,60.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",6/28/2018,72,NaN,NaN
10968,UP17158,10/27/2015,18.0,50.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",10/26/2017,72,NaN,NaN
10969,UP17311,2/22/2015,0.0,120.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",8/22/2018,72,NaN,NaN
10970,UP15706,11/9/2013,20.0,30.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",8/22/2018,72,NaN,NaN
10971,UP10578,9/1/2012,45.0,65.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10972,UP9403,9/3/2011,20.0,40.0,NaN,NaN,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10973,UP8896,1/11/2011,45.0,80.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10974,UP8562,10/16/2010,30.0,50.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10975,UP8926,9/18/2010,15.0,30.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10976,UP7790,7/22/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,White / Caucasian,4/4/2018,72,NaN,NaN
10977,UP8118,4/30/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10978,UP8081,1/27/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10979,UP6690,12/23/2009,60.0,90.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10980,UP7723,11/27/2009,18.0,99.0,NaN,NaN,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10981,UP56111,1/1/2018,0.0,120.0,NaN,NaN,Puerto Rico,Unsure,Uncertain,2/3/2020,72,NaN,NaN
10982,UP56466,1/1/2017,40.0,60.0,NaN,NaN,Puerto Rico,Female,Uncertain,4/2/2020,72,NaN,NaN
10983,UP55774,1/1/2011,0.0,120.0,NaN,NaN,Puerto Rico,Unsure,Uncertain,2/10/2020,72,NaN,NaN
12828,UP17628,7/11/2016,1.0,99.0,NaN,NaN,United States Virgin Islands,Unsure,Uncertain,11/8/2019,78,NaN,NaN

In [127]:
# As needed, export nulls to address [NOTE - all have been addressed - 28 remain with no city or county]
# unidentified_county_null_df.to_csv('unidentified_county_nulls.csv', encoding='Windows-1252')

In [128]:
# check unclaimed_df
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga,1001.0
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1,1_Autauga,1001.0
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1,1_Baldwin,1003.0
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1,1_Baldwin,1003.0
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1,1_Bibb,1007.0

##### Replace null state values with 'None' and null county values with 'None', then re-write county_FIPS column using county_centroids_v2_dataframe

In [129]:
## Check if any rows with null value for 'State'
uni_state_test_df = unidentified_df.loc[unidentified_df['State'].isnull()]
# len(uni_state_test_df)
uni_state_test_df

Empty DataFrame
Columns: [Case Number, DBF, Age From, Age To, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS, State_County, County_FIPS]
Index: []

In [130]:
## Check if any rows with null value for 'City' and County'
uni_county_test_df = unidentified_df.loc[unidentified_df['County'].isnull()]
# len(uni_county_test_df)
uni_county_test_df

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
55,UP14028,12/21/1991,18.0,25.0,NaN,NaN,Alabama,Male,White / Caucasian,3/31/2017,1,NaN,NaN
109,UP13395,9/20/2004,0.0,120.0,NaN,NaN,Alaska,Male,Uncertain,4/14/2020,2,NaN,NaN
110,UP7281,4/30/2001,20.0,30.0,NaN,NaN,Alaska,Male,White / Caucasian,4/14/2020,2,NaN,NaN
111,UP13575,9/11/1997,0.0,120.0,NaN,NaN,Alaska,Male,Uncertain,7/2/2018,2,NaN,NaN
6392,UP4846,4/14/1988,37.0,52.0,NaN,NaN,Indiana,Female,White / Caucasian,6/3/2017,18,NaN,NaN
7676,UP5018,4/19/1996,49.0,59.0,NaN,NaN,Missouri,Female,Black / African American,10/23/2018,29,NaN,NaN
8536,UP17664,1/29/2018,0.0,120.0,NaN,NaN,New Mexico,Male,Uncertain,1/21/2020,35,NaN,NaN
8540,UP16690,5/3/2017,0.0,120.0,NaN,NaN,New Mexico,Unsure,Uncertain,2/8/2020,35,NaN,NaN
8541,UP5578,3/26/2003,50.0,60.0,NaN,NaN,New Mexico,Female,Black / African American,10/24/2018,35,NaN,NaN
10966,UP56112,10/10/2017,0.0,120.0,NaN,NaN,Puerto Rico,Male,Uncertain,2/10/2020,72,NaN,NaN
10967,UP17155,12/3/2016,10.0,60.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",6/28/2018,72,NaN,NaN
10968,UP17158,10/27/2015,18.0,50.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",10/26/2017,72,NaN,NaN
10969,UP17311,2/22/2015,0.0,120.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",8/22/2018,72,NaN,NaN
10970,UP15706,11/9/2013,20.0,30.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",8/22/2018,72,NaN,NaN
10971,UP10578,9/1/2012,45.0,65.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10972,UP9403,9/3/2011,20.0,40.0,NaN,NaN,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10973,UP8896,1/11/2011,45.0,80.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10974,UP8562,10/16/2010,30.0,50.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10975,UP8926,9/18/2010,15.0,30.0,NaN,NaN,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10976,UP7790,7/22/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,White / Caucasian,4/4/2018,72,NaN,NaN
10977,UP8118,4/30/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10978,UP8081,1/27/2010,18.0,99.0,NaN,NaN,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10979,UP6690,12/23/2009,60.0,90.0,NaN,NaN,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10980,UP7723,11/27/2009,18.0,99.0,NaN,NaN,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10981,UP56111,1/1/2018,0.0,120.0,NaN,NaN,Puerto Rico,Unsure,Uncertain,2/3/2020,72,NaN,NaN
10982,UP56466,1/1/2017,40.0,60.0,NaN,NaN,Puerto Rico,Female,Uncertain,4/2/2020,72,NaN,NaN
10983,UP55774,1/1/2011,0.0,120.0,NaN,NaN,Puerto Rico,Unsure,Uncertain,2/10/2020,72,NaN,NaN
12828,UP17628,7/11/2016,1.0,99.0,NaN,NaN,United States Virgin Islands,Unsure,Uncertain,11/8/2019,78,NaN,NaN

In [131]:
# # change NaN County name (for cases with no city or county) to 'None'
unidentified_df['County'] = unidentified_df['County'].fillna('None')
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga,1001.0
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1,1_Autauga,1001.0
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1,1_Baldwin,1003.0
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1,1_Baldwin,1003.0
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1,1_Bibb,1007.0

In [132]:
## Double check re-assigned values
uni_county_test_2_df = unidentified_df.loc[unidentified_df['County']=='None']
uni_county_test_2_df
# len(uni_county_test_2_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
55,UP14028,12/21/1991,18.0,25.0,NaN,None,Alabama,Male,White / Caucasian,3/31/2017,1,NaN,NaN
109,UP13395,9/20/2004,0.0,120.0,NaN,None,Alaska,Male,Uncertain,4/14/2020,2,NaN,NaN
110,UP7281,4/30/2001,20.0,30.0,NaN,None,Alaska,Male,White / Caucasian,4/14/2020,2,NaN,NaN
111,UP13575,9/11/1997,0.0,120.0,NaN,None,Alaska,Male,Uncertain,7/2/2018,2,NaN,NaN
6392,UP4846,4/14/1988,37.0,52.0,NaN,None,Indiana,Female,White / Caucasian,6/3/2017,18,NaN,NaN
7676,UP5018,4/19/1996,49.0,59.0,NaN,None,Missouri,Female,Black / African American,10/23/2018,29,NaN,NaN
8536,UP17664,1/29/2018,0.0,120.0,NaN,None,New Mexico,Male,Uncertain,1/21/2020,35,NaN,NaN
8540,UP16690,5/3/2017,0.0,120.0,NaN,None,New Mexico,Unsure,Uncertain,2/8/2020,35,NaN,NaN
8541,UP5578,3/26/2003,50.0,60.0,NaN,None,New Mexico,Female,Black / African American,10/24/2018,35,NaN,NaN
10966,UP56112,10/10/2017,0.0,120.0,NaN,None,Puerto Rico,Male,Uncertain,2/10/2020,72,NaN,NaN
10967,UP17155,12/3/2016,10.0,60.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",6/28/2018,72,NaN,NaN
10968,UP17158,10/27/2015,18.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",10/26/2017,72,NaN,NaN
10969,UP17311,2/22/2015,0.0,120.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",8/22/2018,72,NaN,NaN
10970,UP15706,11/9/2013,20.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",8/22/2018,72,NaN,NaN
10971,UP10578,9/1/2012,45.0,65.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10972,UP9403,9/3/2011,20.0,40.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10973,UP8896,1/11/2011,45.0,80.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10974,UP8562,10/16/2010,30.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10975,UP8926,9/18/2010,15.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,NaN,NaN
10976,UP7790,7/22/2010,18.0,99.0,NaN,None,Puerto Rico,Male,White / Caucasian,4/4/2018,72,NaN,NaN
10977,UP8118,4/30/2010,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10978,UP8081,1/27/2010,18.0,99.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,NaN,NaN
10979,UP6690,12/23/2009,60.0,90.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,NaN,NaN
10980,UP7723,11/27/2009,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,NaN,NaN
10981,UP56111,1/1/2018,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/3/2020,72,NaN,NaN
10982,UP56466,1/1/2017,40.0,60.0,NaN,None,Puerto Rico,Female,Uncertain,4/2/2020,72,NaN,NaN
10983,UP55774,1/1/2011,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/10/2020,72,NaN,NaN
12828,UP17628,7/11/2016,1.0,99.0,NaN,None,United States Virgin Islands,Unsure,Uncertain,11/8/2019,78,NaN,NaN

In [133]:
# Re-Add column with compound field key
unidentified_df['State_County'] = unidentified_df['State_FIPS'].astype(str) + "_" + unidentified_df['County']
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga,1001.0
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1,1_Autauga,1001.0
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1,1_Baldwin,1003.0
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1,1_Baldwin,1003.0
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1,1_Bibb,1007.0

In [134]:
## Double check re-assigned values
uni_county_test_3_df = unidentified_df.loc[unidentified_df['County']=='None']
uni_county_test_3_df
# len(uni_county_test_3_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
55,UP14028,12/21/1991,18.0,25.0,NaN,None,Alabama,Male,White / Caucasian,3/31/2017,1,1_None,NaN
109,UP13395,9/20/2004,0.0,120.0,NaN,None,Alaska,Male,Uncertain,4/14/2020,2,2_None,NaN
110,UP7281,4/30/2001,20.0,30.0,NaN,None,Alaska,Male,White / Caucasian,4/14/2020,2,2_None,NaN
111,UP13575,9/11/1997,0.0,120.0,NaN,None,Alaska,Male,Uncertain,7/2/2018,2,2_None,NaN
6392,UP4846,4/14/1988,37.0,52.0,NaN,None,Indiana,Female,White / Caucasian,6/3/2017,18,18_None,NaN
7676,UP5018,4/19/1996,49.0,59.0,NaN,None,Missouri,Female,Black / African American,10/23/2018,29,29_None,NaN
8536,UP17664,1/29/2018,0.0,120.0,NaN,None,New Mexico,Male,Uncertain,1/21/2020,35,35_None,NaN
8540,UP16690,5/3/2017,0.0,120.0,NaN,None,New Mexico,Unsure,Uncertain,2/8/2020,35,35_None,NaN
8541,UP5578,3/26/2003,50.0,60.0,NaN,None,New Mexico,Female,Black / African American,10/24/2018,35,35_None,NaN
10966,UP56112,10/10/2017,0.0,120.0,NaN,None,Puerto Rico,Male,Uncertain,2/10/2020,72,72_None,NaN
10967,UP17155,12/3/2016,10.0,60.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",6/28/2018,72,72_None,NaN
10968,UP17158,10/27/2015,18.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",10/26/2017,72,72_None,NaN
10969,UP17311,2/22/2015,0.0,120.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",8/22/2018,72,72_None,NaN
10970,UP15706,11/9/2013,20.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",8/22/2018,72,72_None,NaN
10971,UP10578,9/1/2012,45.0,65.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,NaN
10972,UP9403,9/3/2011,20.0,40.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,72_None,NaN
10973,UP8896,1/11/2011,45.0,80.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,NaN
10974,UP8562,10/16/2010,30.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,72_None,NaN
10975,UP8926,9/18/2010,15.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,72_None,NaN
10976,UP7790,7/22/2010,18.0,99.0,NaN,None,Puerto Rico,Male,White / Caucasian,4/4/2018,72,72_None,NaN
10977,UP8118,4/30/2010,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,72_None,NaN
10978,UP8081,1/27/2010,18.0,99.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,72_None,NaN
10979,UP6690,12/23/2009,60.0,90.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,NaN
10980,UP7723,11/27/2009,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,72_None,NaN
10981,UP56111,1/1/2018,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/3/2020,72,72_None,NaN
10982,UP56466,1/1/2017,40.0,60.0,NaN,None,Puerto Rico,Female,Uncertain,4/2/2020,72,72_None,NaN
10983,UP55774,1/1/2011,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/10/2020,72,72_None,NaN
12828,UP17628,7/11/2016,1.0,99.0,NaN,None,United States Virgin Islands,Unsure,Uncertain,11/8/2019,78,78_None,NaN

In [135]:
# Re-add County FIPS column to dataframe, using the State_County name field as a key in the county_v2_dict, to pull the correct County FIPS code for each row
unidentified_df['County_FIPS'] = unidentified_df['State_County'].map(county_v2_dict)
# Check unique values in new dataframe field
unidentified_df['County_FIPS'].unique()

array([ 1001,  1003,  1007, ..., 56021, 56033, 56037], dtype=int64)

In [136]:
# check null values to make sure none are left [Note - all gone!]
unidentified_county_null_v2_df = unidentified_df.loc[unidentified_df['County_FIPS'].isnull()]
# unidentified_county_null_v2_df.shape
unidentified_county_null_v2_df

Empty DataFrame
Columns: [Case Number, DBF, Age From, Age To, City, County, State, Sex, Race / Ethnicity, Date Modified, State_FIPS, State_County, County_FIPS]
Index: []

In [137]:
## Double check re-assigned values
uni_county_test_4_df = unidentified_df.loc[unidentified_df['County']=='None']
uni_county_test_4_df
# len(uni_county_test_4_df)

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
55,UP14028,12/21/1991,18.0,25.0,NaN,None,Alabama,Male,White / Caucasian,3/31/2017,1,1_None,1999
109,UP13395,9/20/2004,0.0,120.0,NaN,None,Alaska,Male,Uncertain,4/14/2020,2,2_None,2999
110,UP7281,4/30/2001,20.0,30.0,NaN,None,Alaska,Male,White / Caucasian,4/14/2020,2,2_None,2999
111,UP13575,9/11/1997,0.0,120.0,NaN,None,Alaska,Male,Uncertain,7/2/2018,2,2_None,2999
6392,UP4846,4/14/1988,37.0,52.0,NaN,None,Indiana,Female,White / Caucasian,6/3/2017,18,18_None,18999
7676,UP5018,4/19/1996,49.0,59.0,NaN,None,Missouri,Female,Black / African American,10/23/2018,29,29_None,29999
8536,UP17664,1/29/2018,0.0,120.0,NaN,None,New Mexico,Male,Uncertain,1/21/2020,35,35_None,35999
8540,UP16690,5/3/2017,0.0,120.0,NaN,None,New Mexico,Unsure,Uncertain,2/8/2020,35,35_None,35999
8541,UP5578,3/26/2003,50.0,60.0,NaN,None,New Mexico,Female,Black / African American,10/24/2018,35,35_None,35999
10966,UP56112,10/10/2017,0.0,120.0,NaN,None,Puerto Rico,Male,Uncertain,2/10/2020,72,72_None,72999
10967,UP17155,12/3/2016,10.0,60.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",6/28/2018,72,72_None,72999
10968,UP17158,10/27/2015,18.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",10/26/2017,72,72_None,72999
10969,UP17311,2/22/2015,0.0,120.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",8/22/2018,72,72_None,72999
10970,UP15706,11/9/2013,20.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",8/22/2018,72,72_None,72999
10971,UP10578,9/1/2012,45.0,65.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,72999
10972,UP9403,9/3/2011,20.0,40.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,72_None,72999
10973,UP8896,1/11/2011,45.0,80.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,72999
10974,UP8562,10/16/2010,30.0,50.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,72_None,72999
10975,UP8926,9/18/2010,15.0,30.0,NaN,None,Puerto Rico,Male,"Black / African American, Hispanic / Latino",4/4/2018,72,72_None,72999
10976,UP7790,7/22/2010,18.0,99.0,NaN,None,Puerto Rico,Male,White / Caucasian,4/4/2018,72,72_None,72999
10977,UP8118,4/30/2010,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,72_None,72999
10978,UP8081,1/27/2010,18.0,99.0,NaN,None,Puerto Rico,Male,"Hispanic / Latino, Uncertain",4/4/2018,72,72_None,72999
10979,UP6690,12/23/2009,60.0,90.0,NaN,None,Puerto Rico,Male,"White / Caucasian, Hispanic / Latino",4/4/2018,72,72_None,72999
10980,UP7723,11/27/2009,18.0,99.0,NaN,None,Puerto Rico,Male,Uncertain,4/4/2018,72,72_None,72999
10981,UP56111,1/1/2018,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/3/2020,72,72_None,72999
10982,UP56466,1/1/2017,40.0,60.0,NaN,None,Puerto Rico,Female,Uncertain,4/2/2020,72,72_None,72999
10983,UP55774,1/1/2011,0.0,120.0,NaN,None,Puerto Rico,Unsure,Uncertain,2/10/2020,72,72_None,72999
12828,UP17628,7/11/2016,1.0,99.0,NaN,None,United States Virgin Islands,Unsure,Uncertain,11/8/2019,78,78_None,78999

# Part 5: Prep data for city-level JSONs for all 3 databases

#### Clean up city dataframe

In [ ]:
city_df.head()

In [ ]:
# Drop columns that aren't needed
city_df = city_df.drop(columns=['FEATURE_CL','PRIMARY_LA', 'PRIM_LONG_', 'SOURCE_LAT', 'SOURCE_LON', 'SOURCE_L_1', 'SOURCE_L_2', 'ELEV_IN_M', 'ELEV_IN_FT', 'MAP_NAME', 'DATE_CREAT', 'DATE_EDITE'])

In [ ]:
city_df.head()

In [ ]:
# Rename coordinate columns
city_df.rename(columns={'PRIM_LAT_D': 'Lat_dd', 'PRIM_LON_1': 'Lon_dd'}, inplace=True)

In [ ]:
city_df.head()

In [ ]:
# make dictionary of states and state FIPS code
state_dict = dict(zip(state_centroids_df.NAME, state_centroids_df.STATEFP))
# state_dict
# state_dict['Alaska']
len(state_dict)

In [ ]:
# check dataframes
missing_df.head()

In [ ]:
unclaimed_df.head()

In [ ]:
unidentified_df.head()

# PART 6

### Construct State-level GeoJSON with correct structure

Goal format:
{
"type": "Feature",
    "name": "Wisconsin",
    "properties": {
        "missing": [ ],
        "unclaimed": [ ],
        "unidentified": [ ],
        "filtered": [ ]
    }
    "geometry": {
          "type": "Point",
          "coordinates": [
            -117.79750667,
            36.03755926
          ]
}
* each array will be a list of dictionaries. Each dictionary = one case. Keys = headers

In [138]:
# get headers
missing_header = list(missing_df.columns.values)
print("missing header:", missing_header)
unclaimed_header = list(unclaimed_df.columns.values)
print("unclaimed header:", unclaimed_header)
unidentified_header = list(unidentified_df.columns.values)
print("unidentified header:", unidentified_header)

missing header: ['Case Number', 'DLC', 'Last Name', 'First Name', 'Missing Age', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']
unclaimed header: ['Case Number', 'DBF', 'Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'State', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']
unidentified header: ['Case Number', 'DBF', 'Age From', 'Age To', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']

In [139]:
# check df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
0,UCP68231,4/15/2020,Sanders,Stephen,Male,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197
1,UCP68248,4/13/2020,Brookshire,Renee,Female,White / Caucasian,Joliet,Will,Illinois,4/16/2020,17,17_Will,17197
2,UCP68242,4/9/2020,Smith,Victoria,Female,White / Caucasian,Manhattan,New York,New York,4/16/2020,36,36_New York,36061
3,UCP68244,4/9/2020,Bellamy,Eldred,Male,Black / African American,Brooklyn,Kings,New York,4/16/2020,36,36_Kings,36047
4,UCP68228,4/9/2020,Rodriguez,Elido,Male,Hispanic / Latino,Manhattan,New York,New York,4/15/2020,36,36_New York,36061

In [140]:
# check data types
type(unclaimed_df['State_FIPS'][0])

numpy.int32

In [141]:
# check centroids
state_centroids_v2_df.head()
len(state_centroids_v2_df)

56

In [142]:
# sort each database by state FIPS
# sort state centroids by state FIPS
state_centroids_v2_df = state_centroids_v2_df.sort_values(by=['STATEFP'])
state_centroids_v2_df.head()

,OBJECTID,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd
17,18,1,1779775,0400000US01,1,AL,Alabama,0,1.310000e+11,4.593327e+09,18,-86.828092,32.790364
27,28,2,1785533,0400000US02,2,AK,Alaska,0,1.480000e+12,2.450000e+11,28,-152.680813,64.530206
35,36,4,1779777,0400000US04,4,AZ,Arizona,0,2.940000e+11,1.027338e+09,36,-111.664418,34.293110
51,53,5,68085,0400000US05,5,AR,Arkansas,0,1.350000e+11,2.962860e+09,53,-92.439268,34.899745
16,17,6,1779778,0400000US06,6,CA,California,0,4.040000e+11,2.046387e+10,17,-119.270414,36.373627

In [143]:
# sort each database by state FIPS
# sort missing by state FIPS
missing_df = missing_df.sort_values(by=['State_FIPS'])
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001
151,MP5734,2/15/2002,Brown,Tamborah,22,Mobile,Mobile,Alabama,Male,Black / African American,5/7/2019,1,1_Mobile,1097
152,MP33530,2/10/1999,Brown,Anthony,21,Mobile,Mobile,Alabama,Male,Black / African American,3/4/2020,1,1_Mobile,1097
153,MP35096,4/4/1996,Powe,Edgar,31,Mobile,Mobile,Alabama,Male,Black / African American,3/4/2020,1,1_Mobile,1097
154,MP64666,1/16/2020,Edwards,Katrina,16,Mobile,Mobile,Alabama,Female,White / Caucasian,3/4/2020,1,1_Mobile,1097

In [144]:
# sort unclaimed by state FIPS
unclaimed_df = unclaimed_df.sort_values(by=['State_FIPS'])
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
2516,UCP5127,10/28/2017,Elmore,Jeanne,Female,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073
5382,UCP2769,5/26/2013,Black,Billy,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073
2989,UCP4416,4/22/2017,Harris,Scott,Male,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073
5095,UCP2760,8/7/2014,Allison,Larry,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073
5406,UCP2770,4/11/2013,Williams,Darryl,Male,Black / African American,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073

In [145]:
# sort unidentified by state FIPS
unidentified_df = unidentified_df.sort_values(by=['State_FIPS'])
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga,1001
30,UP15332,9/5/2004,18.0,99.0,Mountain Brook,Jefferson,Alabama,Male,Black / African American,3/18/2020,1,1_Jefferson,1073
31,UP9834,1/28/2012,3.0,7.0,Opelika,Lee,Alabama,Female,Black / African American,4/8/2020,1,1_Lee,1081
32,UP13161,11/3/1982,29.0,32.0,NaN,Lee,Alabama,Female,Black / African American,7/10/2015,1,1_Lee,1081
33,UP2747,5/7/2008,45.0,60.0,Huntsville,Limestone,Alabama,Male,White / Caucasian,5/30/2012,1,1_Limestone,1083

In [146]:
## Create state array
state_array = []
## for each state in state_centroids...
i = 0
while i < len(state_centroids_v2_df):
    state_dict = {}
    state_dict["type"] = "Feature"
    state_dict["name"] = state_centroids_v2_df["NAME"][i]
    state_dict["name_abbr"] = state_centroids_v2_df["STUSPS"][i]
    state_dict["state_FIPS"] = str(state_centroids_v2_df["STATEFP"][i])
    state_dict["properties"] = {}
    missing_array = []
    j = 0
    while j < len(missing_df):
        # check if state_fips matches
        if missing_df['State_FIPS'][j] == state_centroids_v2_df["STATEFP"][i]:
            missing_dict = {}
            for item in missing_header:
                missing_dict[item] = str(missing_df[item][j])
            # append dictionary to missing array
            missing_array.append(missing_dict)
        # increment j
        j += 1
    state_dict["properties"]['missing'] = missing_array     
    
    unclaimed_array = []
    k = 0
    while k < len(unclaimed_df):
        # check if state_fips matches
        if unclaimed_df['State_FIPS'][k] == state_centroids_v2_df["STATEFP"][i]:
            unclaimed_dict = {}
            for item in unclaimed_header:
                unclaimed_dict[item] = str(unclaimed_df[item][k])
            # append dictionary to unclaimed array
            unclaimed_array.append(unclaimed_dict)
        # increment k
        k += 1
    state_dict["properties"]['unclaimed'] = unclaimed_array
    
    unidentified_array = []
    l = 0
    while l < len(unidentified_df):
        # check if state_fips matches
        if unidentified_df['State_FIPS'][l] == state_centroids_v2_df["STATEFP"][i]:
            unidentified_dict = {}
            for item in unidentified_header:
                unidentified_dict[item] = str(unidentified_df[item][l])
            # append dictionary to unclaimed array
            unidentified_array.append(unidentified_dict)
        # increment l
        l += 1
    state_dict["properties"]['unidentified'] = unidentified_array
    
    state_dict["properties"]['filtered'] = []
    ## set geometry
    state_dict["geometry"] = {}
    state_dict["geometry"]["type"] = "Point"
    state_dict["geometry"]["coordinates"] = [state_centroids_v2_df['Lon_dd'][i], state_centroids_v2_df['Lat_dd'][i]]
    ## append state dictionary to array
    state_array.append(state_dict)
    # increment interator
    i += 1
# state_array

In [149]:
# check item in array
len(state_array)
# state_array[0]['properties']['unclaimed']

[{'Case Number': 'UCP64285',
  'DBF': '2/22/2013',
  'Last Name': 'Dillard',
  'First Name': 'Joseph',
  'Sex': 'Male',
  'Race / Ethnicity': 'Black / African American',
  'City': 'Jackson',
  'County': 'Hinds',
  'State': 'Mississippi',
  'Date Modified': '4/8/2020',
  'State_FIPS': '28',
  'State_County': '28_Hinds',
  'County_FIPS': '28049'},
 {'Case Number': 'UCP5008',
  'DBF': 'nan',
  'Last Name': 'Knight',
  'First Name': 'Rachel',
  'Sex': 'Female',
  'Race / Ethnicity': 'White / Caucasian',
  'City': 'nan',
  'County': 'Scott',
  'State': 'Mississippi',
  'Date Modified': '1/3/2019',
  'State_FIPS': '28',
  'State_County': '28_Scott',
  'County_FIPS': '28123'}]

In [150]:
# Create FeatureCollection
state_feature_collection = {}
state_feature_collection["type"] = "FeatureCollection"
state_feature_collection["features"] = state_array
# state_feature_collection

In [151]:
# Convert FeatureCollection to JSON format
state_geojson = geojson.dumps(state_feature_collection)
# check type to make sure conversion was sucessful
print(type(state_geojson))

<class 'str'>

In [152]:
# Save JSON-formatted FeatureCollection as JSON file
# Save as new json file
with open('JSON/state_geojson.json', 'w', encoding='utf-8') as json_file:
    json_file.write(state_geojson)

### Construct COUNTY-LEVEL GeoJSON with correct structure

Goal format:
{
"type": "Feature",
    "name": "Dane",
    "state": "Wisconsin",
    "state_FIPS": ,
    "county_FIPS": ,
    "properties": {
        "missing": [ ],
        "unclaimed": [ ],
        "unidentified": [ ],
        "filtered": [ ]
    }
    "geometry": {
          "type": "Point",
          "coordinates": [
            -117.79750667,
            36.03755926
          ]
}
* each array will be a list of dictionaries. Each dictionary = one case. Keys = headers

In [153]:
# get headers
missing_header = list(missing_df.columns.values)
print("missing header:", missing_header)
unclaimed_header = list(unclaimed_df.columns.values)
print("unclaimed header:", unclaimed_header)
unidentified_header = list(unidentified_df.columns.values)
print("unidentified header:", unidentified_header)

missing header: ['Case Number', 'DLC', 'Last Name', 'First Name', 'Missing Age', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']
unclaimed header: ['Case Number', 'DBF', 'Last Name', 'First Name', 'Sex', 'Race / Ethnicity', 'City', 'County', 'State', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']
unidentified header: ['Case Number', 'DBF', 'Age From', 'Age To', 'City', 'County', 'State', 'Sex', 'Race / Ethnicity', 'Date Modified', 'State_FIPS', 'State_County', 'County_FIPS']

In [154]:
# check df
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
2516,UCP5127,10/28/2017,Elmore,Jeanne,Female,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073
5382,UCP2769,5/26/2013,Black,Billy,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073
2989,UCP4416,4/22/2017,Harris,Scott,Male,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073
5095,UCP2760,8/7/2014,Allison,Larry,Male,White / Caucasian,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073
5406,UCP2770,4/11/2013,Williams,Darryl,Male,Black / African American,Birmingham,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073

In [155]:
# check data types
type(unclaimed_df['State_FIPS'][0])

numpy.int32

In [156]:
# check centroids
county_centroids_v2_df.head()
len(county_centroids_v2_df)

3283

In [157]:
# sort each database by county FIPS
# sort county centroids by county FIPS
county_centroids_v2_df = county_centroids_v2_df.sort_values(by=['GEOID'])
county_centroids_v2_df.head()

,OBJECTID,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,ORIG_FID,Lon_dd,Lat_dd,STATE_NAME,County_Key
16,17,1,1,161526,0500000US01001,1001,Autauga,6,1.539602e+09,25706961,17,-86.642735,32.534929,Alabama,1_Autauga
2754,2755,1,3,161527,0500000US01003,1003,Baldwin,6,4.117547e+09,1133055836,2759,-87.722569,30.727484,Alabama,1_Baldwin
17,18,1,5,161528,0500000US01005,1005,Barbour,6,2.292145e+09,50538698,18,-85.393214,31.869587,Alabama,1_Barbour
2336,2337,1,7,161529,0500000US01007,1007,Bibb,6,1.612167e+09,9602089,2340,-87.126480,32.998634,Alabama,1_Bibb
1020,1021,1,9,161530,0500000US01009,1009,Blount,6,1.670104e+09,15015423,1021,-86.567385,33.980875,Alabama,1_Blount

In [158]:
# sort each database by county FIPS
# sort missing by county FIPS
missing_df = missing_df.sort_values(by=['County_FIPS'])
missing_df.head()

,Case Number,DLC,Last Name,First Name,Missing Age,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,MP2341,5/8/1999,Reynolds,James,28,Opp,Autauga,Alabama,Male,Black / African American,2/14/2020,1,1_Autauga,1001
1,MP8522,1/15/2010,Walker,Jeremy,32,Prattville,Autauga,Alabama,Male,White / Caucasian,7/27/2015,1,1_Autauga,1001
2,MP50314,5/16/2018,Keszthelyi,Steve,79,Elberta,Baldwin,Alabama,Male,White / Caucasian,11/13/2019,1,1_Baldwin,1003
3,MP43187,2/20/2018,Johnson,Abram,60,fairhope,Baldwin,Alabama,Male,White / Caucasian,2/13/2020,1,1_Baldwin,1003
4,MP23019,11/5/2012,Shroyer,James,40,Fairhope,Baldwin,Alabama,Male,White / Caucasian,2/3/2016,1,1_Baldwin,1003

In [159]:
# sort unclaimed by county FIPS
unclaimed_df = unclaimed_df.sort_values(by=['County_FIPS'])
unclaimed_df.head()

,Case Number,DBF,Last Name,First Name,Sex,Race / Ethnicity,City,County,State,Date Modified,State_FIPS,State_County,County_FIPS
2516,UCP5127,10/28/2017,Elmore,Jeanne,Female,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073
2244,UCP54578,1/31/2018,Lovelady,Altha,Female,White / Caucasian,Bessemer,Jefferson,Alabama,3/18/2020,1,1_Jefferson,1073
1687,UCP54583,9/15/2018,Walker,Patricia,Female,White / Caucasian,Tarrant,Jefferson,Alabama,3/18/2020,1,1_Jefferson,1073
5233,UCP2763,1/25/2014,Brewer,Dale,Male,White / Caucasian,Lipscomb,Jefferson,Alabama,9/20/2018,1,1_Jefferson,1073
2987,UCP4417,4/22/2017,Clarke,Michael,Male,White / Caucasian,Birmingham,Jefferson,Alabama,1/11/2019,1,1_Jefferson,1073

In [160]:
# sort unidentified by county FIPS
unidentified_df = unidentified_df.sort_values(by=['County_FIPS'])
unidentified_df.head()

,Case Number,DBF,Age From,Age To,City,County,State,Sex,Race / Ethnicity,Date Modified,State_FIPS,State_County,County_FIPS
0,UP51903,3/30/1986,0.0,120.0,Marbury,Autauga,Alabama,Female,White / Caucasian,1/28/2020,1,1_Autauga,1001
1,UP5000,9/29/2007,40.0,60.0,Prattville,Autauga,Alabama,Female,Black / African American,8/12/2019,1,1_Autauga,1001
2,UP6519,1/6/2006,45.0,59.0,Elberta,Baldwin,Alabama,Male,White / Caucasian,10/24/2018,1,1_Baldwin,1003
3,UP55409,3/26/2000,0.0,120.0,NaN,Baldwin,Alabama,Male,"White / Caucasian, Asian, American Indian / Al...",2/13/2020,1,1_Baldwin,1003
4,UP13483,3/27/1961,14.0,17.0,NaN,Bibb,Alabama,Male,White / Caucasian,3/25/2019,1,1_Bibb,1007

In [161]:
## Create county array 
county_array = []
## for each county in county_centroids_v2...
i = 0
while i < len(county_centroids_v2_df):
    county_dict = {}
    county_dict["type"] = "Feature"
    county_dict["name"] = str(county_centroids_v2_df["NAME"][i])
    county_dict["county_FIPS"] = str(county_centroids_v2_df["GEOID"][i])
    county_dict["state_name"] = str(county_centroids_v2_df["STATE_NAME"][i])
    county_dict["state_FIPS"] = str(county_centroids_v2_df["STATEFP"][i])
    county_dict["properties"] = {}
    missing_array = []
    j = 0
    while j < len(missing_df):
        # check if state_fips matches
        if missing_df['County_FIPS'][j] == county_centroids_v2_df["GEOID"][i]:
            missing_dict = {}
            for item in missing_header:
                missing_dict[item] = str(missing_df[item][j])
            # append dictionary to missing array
            missing_array.append(missing_dict)
        # increment j
        j += 1
    county_dict["properties"]['missing'] = missing_array     
    
    unclaimed_array = []
    k = 0
    while k < len(unclaimed_df):
        # check if state_fips matches
        if unclaimed_df['County_FIPS'][k] == county_centroids_v2_df["GEOID"][i]:
            unclaimed_dict = {}
            for item in unclaimed_header:
                unclaimed_dict[item] = str(unclaimed_df[item][k])
            # append dictionary to unclaimed array
            unclaimed_array.append(unclaimed_dict)
        # increment k
        k += 1
    county_dict["properties"]['unclaimed'] = unclaimed_array
    
    unidentified_array = []
    l = 0
    while l < len(unidentified_df):
        # check if state_fips matches
        if unidentified_df['County_FIPS'][l] == county_centroids_v2_df["GEOID"][i]:
            unidentified_dict = {}
            for item in unidentified_header:
                unidentified_dict[item] = str(unidentified_df[item][l])
            # append dictionary to unclaimed array
            unidentified_array.append(unidentified_dict)
        # increment l
        l += 1
    county_dict["properties"]['unidentified'] = unidentified_array
    
    county_dict["properties"]['filtered'] = []
    ## set geometry
    county_dict["geometry"] = {}
    county_dict["geometry"]["type"] = "Point"
    county_dict["geometry"]["coordinates"] = [county_centroids_v2_df['Lon_dd'][i], county_centroids_v2_df['Lat_dd'][i]]
    ## append county dictionary to array
    county_array.append(county_dict)
    # test statement
    print("added county", str(i+1), "of 3283")
    # increment interator
    i += 1
# county_array

added county 1 of 3283
added county 2 of 3283
added county 3 of 3283
added county 4 of 3283
added county 5 of 3283
added county 6 of 3283
added county 7 of 3283
added county 8 of 3283
added county 9 of 3283
added county 10 of 3283
added county 11 of 3283
added county 12 of 3283
added county 13 of 3283
added county 14 of 3283
added county 15 of 3283
added county 16 of 3283
added county 17 of 3283
added county 18 of 3283
added county 19 of 3283
added county 20 of 3283
added county 21 of 3283
added county 22 of 3283
added county 23 of 3283
added county 24 of 3283
added county 25 of 3283
added county 26 of 3283
added county 27 of 3283
added county 28 of 3283
added county 29 of 3283
added county 30 of 3283
added county 31 of 3283
added county 32 of 3283
added county 33 of 3283
added county 34 of 3283
added county 35 of 3283
added county 36 of 3283
added county 37 of 3283
added county 38 of 3283
added county 39 of 3283
added county 40 of 3283
added county 41 of 3283
added county 42 of 3283
added county 43 of 3283
added county 44 of 3283
added county 45 of 3283
added county 46 of 3283
added county 47 of 3283
added county 48 of 3283
added county 49 of 3283
added county 50 of 3283
added county 51 of 3283
added county 52 of 3283
added county 53 of 3283
added county 54 of 3283
added county 55 of 3283
added county 56 of 3283
added county 57 of 3283
added county 58 of 3283
added county 59 of 3283
added county 60 of 3283
added county 61 of 3283
added county 62 of 3283
added county 63 of 3283
added county 64 of 3283
added county 65 of 3283
added county 66 of 3283
added county 67 of 3283
added county 68 of 3283
added county 69 of 3283
added county 70 of 3283
added county 71 of 3283
added county 72 of 3283
added county 73 of 3283
added county 74 of 3283
added county 75 of 3283
added county 76 of 3283
added county 77 of 3283
added county 78 of 3283
added county 79 of 3283
added county 80 of 3283
added county 81 of 3283
added county 82 of 3283
added county 83 of 3283
added county 84 of 3283
added county 85 of 3283
added county 86 of 3283
added county 87 of 3283
added county 88 of 3283
added county 89 of 3283
added county 90 of 3283
added county 91 of 3283
added county 92 of 3283
added county 93 of 3283
added county 94 of 3283
added county 95 of 3283
added county 96 of 3283
added county 97 of 3283
added county 98 of 3283
added county 99 of 3283
added county 100 of 3283
added county 101 of 3283
added county 102 of 3283
added county 103 of 3283
added county 104 of 3283
added county 105 of 3283
added county 106 of 3283
added county 107 of 3283
added county 108 of 3283
added county 109 of 3283
added county 110 of 3283
added county 111 of 3283
added county 112 of 3283
added county 113 of 3283
added county 114 of 3283
added county 115 of 3283
added county 116 of 3283
added county 117 of 3283
added county 118 of 3283
added county 119 of 3283
added county 120 of 3283
added county 121 of 3283
added county 122 of 3283
added county 123 of 3283
added county 124 of 3283
added county 125 of 3283
added county 126 of 3283
added county 127 of 3283
added county 128 of 3283
added county 129 of 3283
added county 130 of 3283
added county 131 of 3283
added county 132 of 3283
added county 133 of 3283
added county 134 of 3283
added county 135 of 3283
added county 136 of 3283
added county 137 of 3283
added county 138 of 3283
added county 139 of 3283
added county 140 of 3283
added county 141 of 3283
added county 142 of 3283
added county 143 of 3283
added county 144 of 3283
added county 145 of 3283
added county 146 of 3283
added county 147 of 3283
added county 148 of 3283
added county 149 of 3283
added county 150 of 3283
added county 151 of 3283
added county 152 of 3283
added county 153 of 3283
added county 154 of 3283
added county 155 of 3283
added county 156 of 3283
added county 157 of 3283
added county 158 of 3283
added county 159 of 3283
added county 160 of 3283
added county 161 of 3283
added county 162 of 3283
added county 163 of 3283
added county 164 of 3283
added county 165 of 3283
added county 166 of 3283
added county 167 of 3283
added county 168 of 3283
added county 169 of 3283
added county 170 of 3283
added county 171 of 3283
added county 172 of 3283
added county 173 of 3283
added county 174 of 3283
added county 175 of 3283
added county 176 of 3283
added county 177 of 3283
added county 178 of 3283
added county 179 of 3283
added county 180 of 3283
added county 181 of 3283
added county 182 of 3283
added county 183 of 3283
added county 184 of 3283
added county 185 of 3283
added county 186 of 3283
added county 187 of 3283
added county 188 of 3283
added county 189 of 3283
added county 190 of 3283
added county 191 of 3283
added county 192 of 3283
added county 193 of 3283
added county 194 of 3283
added county 195 of 3283
added county 196 of 3283
added county 197 of 3283
added county 198 of 3283
added county 199 of 3283
added county 200 of 3283
added county 201 of 3283
added county 202 of 3283
added county 203 of 3283
added county 204 of 3283
added county 205 of 3283
added county 206 of 3283
added county 207 of 3283
added county 208 of 3283
added county 209 of 3283
added county 210 of 3283
added county 211 of 3283
added county 212 of 3283
added county 213 of 3283
added county 214 of 3283
added county 215 of 3283
added county 216 of 3283
added county 217 of 3283
added county 218 of 3283
added county 219 of 3283
added county 220 of 3283
added county 221 of 3283
added county 222 of 3283
added county 223 of 3283
added county 224 of 3283
added county 225 of 3283
added county 226 of 3283
added county 227 of 3283
added county 228 of 3283
added county 229 of 3283
added county 230 of 3283
added county 231 of 3283
added county 232 of 3283
added county 233 of 3283
added county 234 of 3283
added county 235 of 3283
added county 236 of 3283
added county 237 of 3283
added county 238 of 3283
added county 239 of 3283
added county 240 of 3283
added county 241 of 3283
added county 242 of 3283
added county 243 of 3283
added county 244 of 3283
added county 245 of 3283
added county 246 of 3283
added county 247 of 3283
added county 248 of 3283
added county 249 of 3283
added county 250 of 3283
added county 251 of 3283
added county 252 of 3283
added county 253 of 3283
added county 254 of 3283
added county 255 of 3283
added county 256 of 3283
added county 257 of 3283
added county 258 of 3283
added county 259 of 3283
added county 260 of 3283
added county 261 of 3283
added county 262 of 3283
added county 263 of 3283
added county 264 of 3283
added county 265 of 3283
added county 266 of 3283
added county 267 of 3283
added county 268 of 3283
added county 269 of 3283
added county 270 of 3283
added county 271 of 3283
added county 272 of 3283
added county 273 of 3283
added county 274 of 3283
added county 275 of 3283
added county 276 of 3283
added county 277 of 3283
added county 278 of 3283
added county 279 of 3283
added county 280 of 3283
added county 281 of 3283
added county 282 of 3283
added county 283 of 3283
added county 284 of 3283
added county 285 of 3283
added county 286 of 3283
added county 287 of 3283
added county 288 of 3283
added county 289 of 3283
added county 290 of 3283
added county 291 of 3283
added county 292 of 3283
added county 293 of 3283
added county 294 of 3283
added county 295 of 3283
added county 296 of 3283
added county 297 of 3283
added county 298 of 3283
added county 299 of 3283
added county 300 of 3283
added county 301 of 3283
added county 302 of 3283
added county 303 of 3283
added county 304 of 3283
added county 305 of 3283
added county 306 of 3283
added county 307 of 3283
added county 308 of 3283
added county 309 of 3283
added county 310 of 3283
added county 311 of 3283
added county 312 of 3283
added county 313 of 3283
added county 314 of 3283
added county 315 of 3283
added county 316 of 3283
added county 317 of 3283
added county 318 of 3283
added county 319 of 3283
added county 320 of 3283
added county 321 of 3283
added county 322 of 3283
added county 323 of 3283
added county 324 of 3283
added county 325 of 3283
added county 326 of 3283
added county 327 of 3283
added county 328 of 3283
added county 329 of 3283
added county 330 of 3283
added county 331 of 3283
added county 332 of 3283
added county 333 of 3283
added county 334 of 3283
added county 335 of 3283
added county 336 of 3283
added county 337 of 3283
added county 338 of 3283
added county 339 of 3283
added county 340 of 3283
added county 341 of 3283
added county 342 of 3283
added county 343 of 3283
added county 344 of 3283
added county 345 of 3283
added county 346 of 3283
added county 347 of 3283
added county 348 of 3283
added county 349 of 3283
added county 350 of 3283
added county 351 of 3283
added county 352 of 3283
added county 353 of 3283
added county 354 of 3283
added county 355 of 3283
added county 356 of 3283
added county 357 of 3283
added county 358 of 3283
added county 359 of 3283
added county 360 of 3283
added county 361 of 3283
added county 362 of 3283
added county 363 of 3283
added county 364 of 3283
added county 365 of 3283
added county 366 of 3283
added county 367 of 3283
added county 368 of 3283
added county 369 of 3283
added county 370 of 3283
added county 371 of 3283
added county 372 of 3283
added county 373 of 3283
added county 374 of 3283
added county 375 of 3283
added county 376 of 3283
added county 377 of 3283
added county 378 of 3283
added county 379 of 3283
added county 380 of 3283
added county 381 of 3283
added county 382 of 3283
added county 383 of 3283
added county 384 of 3283
added county 385 of 3283
added county 386 of 3283
added county 387 of 3283
added county 388 of 3283
added county 389 of 3283
added county 390 of 3283
added county 391 of 3283
added county 392 of 3283
added county 393 of 3283
added county 394 of 3283
added county 395 of 3283
added county 396 of 3283
added county 397 of 3283
added county 398 of 3283
added county 399 of 3283
added county 400 of 3283
added county 401 of 3283
added county 402 of 3283
added county 403 of 3283
added county 404 of 3283
added county 405 of 3283
added county 406 of 3283
added county 407 of 3283
added county 408 of 3283
added county 409 of 3283
added county 410 of 3283
added county 411 of 3283
added county 412 of 3283
added county 413 of 3283
added county 414 of 3283
added county 415 of 3283
added county 416 of 3283
added county 417 of 3283
added county 418 of 3283
added county 419 of 3283
added county 420 of 3283
added county 421 of 3283
added county 422 of 3283
added county 423 of 3283
added county 424 of 3283
added county 425 of 3283
added county 426 of 3283
added county 427 of 3283
added county 428 of 3283
added county 429 of 3283
added county 430 of 3283
added county 431 of 3283
added county 432 of 3283
added county 433 of 3283
added county 434 of 3283
added county 435 of 3283
added county 436 of 3283
added county 437 of 3283
added county 438 of 3283
added county 439 of 3283
added county 440 of 3283
added county 441 of 3283
added county 442 of 3283
added county 443 of 3283
added county 444 of 3283
added county 445 of 3283
added county 446 of 3283
added county 447 of 3283
added county 448 of 3283
added county 449 of 3283
added county 450 of 3283
added county 451 of 3283
added county 452 of 3283
added county 453 of 3283
added county 454 of 3283
added county 455 of 3283
added county 456 of 3283
added county 457 of 3283
added county 458 of 3283
added county 459 of 3283
added county 460 of 3283
added county 461 of 3283
added county 462 of 3283
added county 463 of 3283
added county 464 of 3283
added county 465 of 3283
added county 466 of 3283
added county 467 of 3283
added county 468 of 3283
added county 469 of 3283
added county 470 of 3283
added county 471 of 3283
added county 472 of 3283
added county 473 of 3283
added county 474 of 3283
added county 475 of 3283
added county 476 of 3283
added county 477 of 3283
added county 478 of 3283
added county 479 of 3283
added county 480 of 3283
added county 481 of 3283
added county 482 of 3283
added county 483 of 3283
added county 484 of 3283
added county 485 of 3283
added county 486 of 3283
added county 487 of 3283
added county 488 of 3283
added county 489 of 3283
added county 490 of 3283
added county 491 of 3283
added county 492 of 3283
added county 493 of 3283
added county 494 of 3283
added county 495 of 3283
added county 496 of 3283
added county 497 of 3283
added county 498 of 3283
added county 499 of 3283
added county 500 of 3283
added county 501 of 3283
added county 502 of 3283
added county 503 of 3283
added county 504 of 3283
added county 505 of 3283
added county 506 of 3283
added county 507 of 3283
added county 508 of 3283
added county 509 of 3283
added county 510 of 3283
added county 511 of 3283
added county 512 of 3283
added county 513 of 3283
added county 514 of 3283
added county 515 of 3283
added county 516 of 3283
added county 517 of 3283
added county 518 of 3283
added county 519 of 3283
added county 520 of 3283
added county 521 of 3283
added county 522 of 3283
added county 523 of 3283
added county 524 of 3283
added county 525 of 3283
added county 526 of 3283
added county 527 of 3283
added county 528 of 3283
added county 529 of 3283
added county 530 of 3283
added county 531 of 3283
added county 532 of 3283
added county 533 of 3283
added county 534 of 3283
added county 535 of 3283
added county 536 of 3283
added county 537 of 3283
added county 538 of 3283
added county 539 of 3283
added county 540 of 3283
added county 541 of 3283
added county 542 of 3283
added county 543 of 3283
added county 544 of 3283
added county 545 of 3283
added county 546 of 3283
added county 547 of 3283
added county 548 of 3283
added county 549 of 3283
added county 550 of 3283
added county 551 of 3283
added county 552 of 3283
added county 553 of 3283
added county 554 of 3283
added county 555 of 3283
added county 556 of 3283
added county 557 of 3283
added county 558 of 3283
added county 559 of 3283
added county 560 of 3283
added county 561 of 3283
added county 562 of 3283
added county 563 of 3283
added county 564 of 3283
added county 565 of 3283
added county 566 of 3283
added county 567 of 3283
added county 568 of 3283
added county 569 of 3283
added county 570 of 3283
added county 571 of 3283
added county 572 of 3283
added county 573 of 3283
added county 574 of 3283
added county 575 of 3283
added county 576 of 3283
added county 577 of 3283
added county 578 of 3283
added county 579 of 3283
added county 580 of 3283
added county 581 of 3283
added county 582 of 3283
added county 583 of 3283
added county 584 of 3283
added county 585 of 3283
added county 586 of 3283
added county 587 of 3283
added county 588 of 3283
added county 589 of 3283
added county 590 of 3283
added county 591 of 3283
added county 592 of 3283
added county 593 of 3283
added county 594 of 3283
added county 595 of 3283
added county 596 of 3283
added county 597 of 3283
added county 598 of 3283
added county 599 of 3283
added county 600 of 3283
added county 601 of 3283
added county 602 of 3283
added county 603 of 3283
added county 604 of 3283
added county 605 of 3283
added county 606 of 3283
added county 607 of 3283
added county 608 of 3283
added county 609 of 3283
added county 610 of 3283
added county 611 of 3283
added county 612 of 3283
added county 613 of 3283
added county 614 of 3283
added county 615 of 3283
added county 616 of 3283
added county 617 of 3283
added county 618 of 3283
added county 619 of 3283
added county 620 of 3283
added county 621 of 3283
added county 622 of 3283
added county 623 of 3283
added county 624 of 3283
added county 625 of 3283
added county 626 of 3283
added county 627 of 3283
added county 628 of 3283
added county 629 of 3283
added county 630 of 3283
added county 631 of 3283
added county 632 of 3283
added county 633 of 3283
added county 634 of 3283
added county 635 of 3283
added county 636 of 3283
added county 637 of 3283
added county 638 of 3283
added county 639 of 3283
added county 640 of 3283
added county 641 of 3283
added county 642 of 3283
added county 643 of 3283
added county 644 of 3283
added county 645 of 3283
added county 646 of 3283
added county 647 of 3283
added county 648 of 3283
added county 649 of 3283
added county 650 of 3283
added county 651 of 3283
added county 652 of 3283
added county 653 of 3283
added county 654 of 3283
added county 655 of 3283
added county 656 of 3283
added county 657 of 3283
added county 658 of 3283
added county 659 of 3283
added county 660 of 3283
added county 661 of 3283
added county 662 of 3283
added county 663 of 3283
added county 664 of 3283
added county 665 of 3283
added county 666 of 3283
added county 667 of 3283
added county 668 of 3283
added county 669 of 3283
added county 670 of 3283
added county 671 of 3283
added county 672 of 3283
added county 673 of 3283
added county 674 of 3283
added county 675 of 3283
added county 676 of 3283
added county 677 of 3283
added county 678 of 3283
added county 679 of 3283
added county 680 of 3283
added county 681 of 3283
added county 682 of 3283
added county 683 of 3283
added county 684 of 3283
added county 685 of 3283
added county 686 of 3283
added county 687 of 3283
added county 688 of 3283
added county 689 of 3283
added county 690 of 3283
added county 691 of 3283
added county 692 of 3283
added county 693 of 3283
added county 694 of 3283
added county 695 of 3283
added county 696 of 3283
added county 697 of 3283
added county 698 of 3283
added county 699 of 3283
added county 700 of 3283
added county 701 of 3283
added county 702 of 3283
added county 703 of 3283
added county 704 of 3283
added county 705 of 3283
added county 706 of 3283
added county 707 of 3283
added county 708 of 3283
added county 709 of 3283
added county 710 of 3283
added county 711 of 3283
added county 712 of 3283
added county 713 of 3283
added county 714 of 3283
added county 715 of 3283
added county 716 of 3283
added county 717 of 3283
added county 718 of 3283
added county 719 of 3283
added county 720 of 3283
added county 721 of 3283
added county 722 of 3283
added county 723 of 3283
added county 724 of 3283
added county 725 of 3283
added county 726 of 3283
added county 727 of 3283
added county 728 of 3283
added county 729 of 3283
added county 730 of 3283
added county 731 of 3283
added county 732 of 3283
added county 733 of 3283
added county 734 of 3283
added county 735 of 3283
added county 736 of 3283
added county 737 of 3283
added county 738 of 3283
added county 739 of 3283
added county 740 of 3283
added county 741 of 3283
added county 742 of 3283
added county 743 of 3283
added county 744 of 3283
added county 745 of 3283
added county 746 of 3283
added county 747 of 3283
added county 748 of 3283
added county 749 of 3283
added county 750 of 3283
added county 751 of 3283
added county 752 of 3283
added county 753 of 3283
added county 754 of 3283
added county 755 of 3283
added county 756 of 3283
added county 757 of 3283
added county 758 of 3283
added county 759 of 3283
added county 760 of 3283
added county 761 of 3283
added county 762 of 3283
added county 763 of 3283
added county 764 of 3283
added county 765 of 3283
added county 766 of 3283
added county 767 of 3283
added county 768 of 3283
added county 769 of 3283
added county 770 of 3283
added county 771 of 3283
added county 772 of 3283
added county 773 of 3283
added county 774 of 3283
added county 775 of 3283
added county 776 of 3283
added county 777 of 3283
added county 778 of 3283
added county 779 of 3283
added county 780 of 3283
added county 781 of 3283
added county 782 of 3283
added county 783 of 3283
added county 784 of 3283
added county 785 of 3283
added county 786 of 3283
added county 787 of 3283
added county 788 of 3283
added county 789 of 3283
added county 790 of 3283
added county 791 of 3283
added county 792 of 3283
added county 793 of 3283
added county 794 of 3283
added county 795 of 3283
added county 796 of 3283
added county 797 of 3283
added county 798 of 3283
added county 799 of 3283
added county 800 of 3283
added county 801 of 3283
added county 802 of 3283
added county 803 of 3283
added county 804 of 3283

In [162]:
# check item in array
len(county_array)
# county_array[55]['properties']['unclaimed']

3283

In [163]:
# Create FeatureCollection
county_feature_collection = {}
county_feature_collection["type"] = "FeatureCollection"
county_feature_collection["features"] = county_array
# county_feature_collection

In [164]:
# Convert FeatureCollection to JSON format
county_geojson = geojson.dumps(county_feature_collection)
# check type to make sure conversion was sucessful
print(type(county_geojson))

<class 'str'>

In [165]:
# Save JSON-formatted FeatureCollection as JSON file
# Save as new json file
with open('JSON/county_geojson.json', 'w', encoding='utf-8') as json_file:
    json_file.write(county_geojson)